[2015-08-19 03:34] chrisvariety commented on #88
Any status updates on this? Would like to use this myself. @KaiCode2

[2015-08-19 05:06] p2 opened #381 "Vertical slider label no longer line-breaks"
We have longer labels on the vertical slider. The bottom one no longer breaks into multiple lines, the top one still does.

This is a regression some time after c856b29933af99bcee91dd7af733a90cc09885ab.

![screen shot 2015-08-18 at 11 48 19](https://cloud.githubusercontent.com/assets/358485/9349073/a839aede-4640-11e5-9264-c1e7f9b6f9e0.png)

[2015-08-19 21:03] rsanchezsaez commented on #354
Sorry to bother: @jwe-apple @YuanZhu-apple, any thoughts on this?

I think the safest is to add mutually exclusive predicates for *questionResults* and *formResults*, as mentioned above. But this will duplicate the number of methods in `ORKResultPredicate`.

[2015-08-19 21:26] YuanZhu-apple commented on #354
Thanks @rsanchezsaez !
It make sense to add mutually exclusive predicates for questionResults and formResults. Double the number of methods in ORKResultPredicate is fine.

[2015-08-20 21:20] p2 opened #386 "Question step title label chops off one character"
I've only seen this happening on this one question, and only on 4" screens:

When linebreaking the label chops off "g" from "performing". I double checked and there is no space nor any hidden characters in the string.

![screen shot 2015-08-20 at 23 14 31](https://cloud.githubusercontent.com/assets/358485/9395967/e9ab8016-4791-11e5-8f1e-9522ab2b6e35.png)

[2015-08-20 22:28] YuanZhu-apple commented on #386
Does this happen on a device? And what is the iOS version?

[2015-08-21 01:12] YuanZhu-apple opened #388 "X-Axis Labels are overlayed with large amounts of data"
![x axis labels](https://cloud.githubusercontent.com/assets/11466704/9399259/95b26752-4766-11e5-8dd5-3bf46b8e111e.png)

[2015-08-21 04:36] p2 commented on #386
Happens on Simulator (Xcode 6.4, iOS 8) and on device (iPhone 5S, I _think_ iOS 8 but am not sure, is a tester's device).

[2015-08-24 18:04] YuanZhu-apple opened #390 "PSAT Visual mode: digits only appears briefly if set `stimulusDuration` very close to `stimulusInterval`"
rdar://problem/22388016

Example setup:
[code]

Two timers are not synced well.

[2015-08-24 20:15] umerkhan-apple commented on #230
https://github.com/ResearchKit/ResearchKit/pull/392

[2015-08-25 03:21] umerkhan-apple commented on #88
Due to inactivity, I will go ahead and take on this PR for now.

[2015-08-25 14:24] KaiCode2 commented on #88
@umerkhan-apple Sincere apologies, just got home the other day from vacation. That sounds like the best course of action, best of luck.

[2015-08-25 19:29] umerkhan-apple commented on #386
@p2 Unable to reproduce the bug on Simulator or Hardware. Could you possibly share a sample project and the exact text size setting?

[2015-08-25 19:33] #356 closed

[2015-08-25 22:51] p2 commented on #386
Apologies, I checked again and indeed there were some `\u{00a0}` (non-breaking) spaces in the string. If those are replaced with regular spaces the problem disappears.

[2015-08-25 22:51] #386 closed

[2015-08-26 10:40] pawisoon opened #400 "[Swift] Reaction time task doesn't detect shaking the device"
Hi all!
I added reaction time task to my app and it doesn't detect shaking the phone.
Example in ORKCatalog works on my device but my implementation of this task in my app doesn't.
I got similar issue with dismissing the screen and I solved it by one statement.

I start the activity by
[code]
and the task
[code]

Any ideas what could go wrong?

Also is there any documentation on what values each o

[2015-08-26 14:11] rsanchezsaez opened #401 "ORKResultPredicate for skipped steps or form items"
Investigate the possibility of adding explicit support for detecting *skipped steps* or *skipped form items* through predicates.

Probably it's a good idea to solve [Issue #354](https://github.com/ResearchKit/ResearchKit/issues/354) before tackling this one.

[2015-08-26 17:23] brenbob commented on #334
Would be nice to also enable custom section header views on Form steps.

[2015-08-26 17:28] brendenwest opened #402 "Can't subclass ORKTextChoiceAnswerFormat"
I've looked at subclassing ORKTextChoiceAnswerFormat to support features not yet available in ResearchKit. For example, to add a property indicating if one choice in the list is exclusive:

    class testFormat :  ORKTextChoiceAnswerFormat {
        var exclusive : AnyObject?
        override init(style: ORKChoiceAnswerStyle, textChoices: [AnyObject]) {
            super.init(style: style, textCho

[2015-08-26 17:37] YuanZhu-apple commented on #402
@brenbob `ORKTextChoice` already has `exclusive` variable.

[2015-08-26 18:05] brenbob commented on #402
Thanks. Any idea why that property is not listed in the RK docs?

http://researchkit.org/docs/Classes/ORKTextChoice.html#

[2015-08-26 18:33] rsanchezsaez commented on #402
@brenbob I think that's because this enhancement was added after the last official  *ResearchKit* release. Presumably it'll be added to the docs along with the next release (which should be coming quite soon).

If you want to be on the cutting-edge without waiting for new releases, to see what's new you'll have to skim over the merged *pull requests* or the *commits* on the `master` branch. ;-)

[2015-08-26 22:05] rsanchezsaez opened #405 "Step title is sometimes taller than necessary"
Sometimes the question step title label is taller than it should be. I have observed this when a question step title label is about to take three lines, but it actually fits in two. This causes the step to scroll even when the title is two lines, when it shouldn't be needed.

See the difference in height when removing the `?` character from the title in the _8th step_ of the _Scale Tests_ in `ORKT

[2015-08-26 22:53] #390 closed

[2015-08-26 23:24] YuanZhu-apple commented on #388
@rsanchezsaez Because the titles are provided by the developer, maybe this is not an issue of the framework.

If a developer skips some titles when feeding the chartView, the overlapping can be avoid.
[code]
Comments?

[2015-08-26 23:47] rsanchezsaez commented on #388
Yeah, I agree about your proposed workaround being enough for `convergence` for now.

Maybe later we can provide more robust support by providing a delegate method which tells the graph an interval for reference lines and labels (third point of [Issue #379](https://github.com/ResearchKit/ResearchKit/issues/379)).

[2015-08-27 00:56] brenbob commented on #402
I've run into a ResearchKit versioning problem with this. My local copy has the 'exclusive' property because I pulled from the master branch a few weeks ago. Now the master branch is broken and building fails with errors relating to generics and won't build. But the stable branch lacks the 'exclusive' property.

What's the timeline for next release, or at least a build-able master branch?

[2015-08-27 01:06] umerkhan-apple commented on #402
@brenbob The last merge into master requires you to use Xcode 7.0 or newer. The readme on Github was updated along with the last merge to reflect this change.

[2015-08-27 22:54] brenbob commented on #402
Can the 'exclusive' ORKTextChoice feature be backported to the Stable branch? I will need this functionality before a migration to Xcode 7 becomes feasible.

[2015-08-28 18:05] umerkhan-apple commented on #381
https://github.com/ResearchKit/ResearchKit/pull/407

[2015-08-28 18:05] #381 closed

[2015-08-28 21:46] YuanZhu-apple commented on #402
@brenbob
This is the PR contains the `exclusive` feature
https://github.com/ResearchKit/ResearchKit/pull/205

[2015-08-30 19:09] rsanchezsaez opened #415 "Form item animation and layout issues on iOS 8"
- Entered form item values do an incorrect top-to-bottom animation when losing focus.
- Form item values are vertically offset by 1 pixel when gaining focus.

The issues don't seem to occur on _iOS 9_.

Steps to reproduce (_iPhone 6_ with _iOS 8.4.1_):
1. Open the _Form_ showcase in `ORKCatalog`.
2. Tap _Field01_ and enter a value.
3. Tap _Field02_ and observe the incorrect animation.
4. Tap _Fiel

[2015-08-30 23:40] rsanchezsaez commented on #354
@rugheid: I have implemented this in the linked PR request. Duplicate identifiers between *form items* in different forms are no longer a problem because you must explicitly pass the `stepIdentifier` to the predicate when matching *form results*.

[2015-08-31 01:49] remotevision commented on #400
I haven't tried using it myself, but have you authorized your application to use ```Motion Sensor```?

[2015-09-01 10:58] pawisoon commented on #400
@remotevision you mean adding CoreMotion.framework to app directory? Or is there other way to do this?

[2015-09-01 11:39] rsanchezsaez commented on #400
@pawisoon: can you post a minimal example project to *GitHub* showing the problem?

[2015-09-01 11:50] pawisoon commented on #400
@rsanchezsaez  here: https://github.com/pawisoon/ResearchKit-App
When you press the reaction time task the blue bubble shows up but it doesn't respond to shaking the phone.

[2015-09-01 22:44] rsanchezsaez opened #419 "Convert ORKTest into UICollectionView"
Should we convert `ORKTest`'s main view controller into a `UICollectionView`?

At the rate it's growing, it won't fit on the screen soon. This will also provide the opportunity to reorganize the different items in sections.

[2015-09-01 22:51] YuanZhu-apple commented on #419
Sure. I like it.

[2015-09-01 23:10] rsanchezsaez commented on #419
Cool, I'll do this soon.

[2015-09-01 23:19] rsanchezsaez opened #421 "Add 'optional' property to form items"
As discussed on the [mailing list](http://lists.apple.com/archives/researchkit-users/2015/Aug/msg00018.html), adding an `optional` property to `ORKFormItem` would be desirable.

The *form step* would enable the *Done/Next* button after all the *non-optional form items* have been completed by the user. If all the contained *form items* are optional, the *Done/Next* button is enabled at all times, e

[2015-09-03 09:22] rugheid opened #430 "Hide scale value label?"
Is there a way to hide the value label in a scale view?

[2015-09-03 09:24] rugheid commented on #354
@rsanchezsaez Thanks a lot for implementing this! It looks like a very neat solution.

[2015-09-03 09:24] #354 closed

[2015-09-03 17:42] YuanZhu-apple commented on #430
Do you mean the current value label on the top?

[2015-09-03 18:06] rugheid commented on #430
@YuanZhu-apple Thanks a lot, I'll try that. :)

[2015-09-03 22:47] YuanZhu-apple opened #434 "Relative location recorder"
We need a relative location recorder that uses CLLocation.
It would need to report distances in meters relative to an origin which would probably be the first point received with accuracy better than a certain threshold.

In the scenario, user's absolute GPS location is not required.

[2015-09-06 22:20] #419 closed

[2015-09-06 23:20] rsanchezsaez commented on #405
@YuanZhu-apple: do you think this could be an *iOS 9 SDK* bug regarding `UILabel`'s `intrinsicContentSize` calculations?

 I've looked into it and I can't find anything on *ResearchKit*'s code that would cause this.

[2015-09-08 19:32] matteocrippa commented on #434
Even with indoor support too? (eg. iBeacon?)

[2015-09-08 19:40] rsanchezsaez commented on #401
Solved by the linked PR.

[2015-09-08 19:40] #401 closed

[2015-09-08 19:51] rsanchezsaez commented on #374
I think this is a good idea.

It is marginally related to [Issue #421] (https://github.com/ResearchKit/ResearchKit/issues/421). I'm going to start working on that issue soon, and I can take this one at the same time.

@YuanZhu-apple Do you think this is worth doing?

[2015-09-08 20:11] YuanZhu-apple commented on #374
[code]
I think this works well when the choices' text are short.
Shall we make it an option in `ORKChoiceFormat`? To give developer the control?
And not to use "advance when tap" when a step is with an answer (revisited).

Also I like to keep current skip button style, since `skip` is not favored by researcher, also make people less confusing.

[2015-09-09 06:41] p2 commented on #374
Agree on keeping the _skip_ "link" and not make it a button, as I suggested before. Could become an option, but maybe it's better to decide on one style, for consistency's sake?

[2015-09-09 06:55] p2 commented on #256
+1 from me! I've changed the flag to `ORK_DEBUG` in my checkouts just to silence all the view-did-appear logs which obscure my own logging.

[2015-09-09 22:28] avrahamleff opened #447 "problem installing ResearchKit via Cocoapods for level > 1.0"
ResearchKit podspec file https://github.com/ResearchKit/ResearchKit/blob/master/ResearchKit.podspec is at v1.1.2 but cannot be accessed as a CocoaPod

pod search ResearchKit
-> ResearchKit (1.0.0)
   ResearchKit is an open source software framework that makes it easy to create apps for medical research or for other research projects.
   pod 'ResearchKit', '~> 1.0.0'
   - Homepage: https://www.gith

[2015-09-09 22:34] YuanZhu-apple commented on #447
Here is what I got:
[code]
BTW, what is your pod version?
[code]

[2015-09-10 02:07] avrahamleff commented on #447
pod --version
0.38.2

[2015-09-10 02:10] avrahamleff commented on #447
Not sure if this is relevant (pod commands such as "install" have been working fine, but the "pod search" commands gives these error messages before returning "ResearchKit (1.0.0)"

---------------------------------------------
Error loading the plugin with path `/Library/Ruby/Gems/2.0.0/gems/cocoapods-plugins-0.4.1/lib/cocoapods_plugin.rb`.

LoadError - cannot load such file -- pod/command/plugin

[2015-09-10 11:51] avrahamleff commented on #447
I did an rm -rf on the .cocoapods directory, reinstalled cocopods and now get
-> ResearchKit (1.2)
   ResearchKit is an open source software framework that makes it easy to create apps for medical research or for other research projects.
   pod 'ResearchKit', '~> 1.2'
   - Homepage: https://www.github.com/ResearchKit/ResearchKit
   - Source:   https://github.com/ResearchKit/ResearchKit.git
   - Ve

[2015-09-10 11:51] #447 closed

[2015-09-10 19:20] rsanchezsaez commented on #256
I'll be working on this.

[2015-09-10 21:08] rsanchezsaez commented on #256
@p2: PR submitted. Any feedback is welcome.

[2015-09-11 11:01] sayan1886 opened #452 "Version 1.2 Build Errors in Xcode 6.4 Base SDK iOS 8.4"
CompileC /Library/Developer/Xcode/DerivedData/ResearchKit-gsteofdkzuamunbnpihpfkxhtxhi/Build/Intermediates/ResearchKit.build/Debug-iphonesimulator/ResearchKit.build/Objects-normal/x86_64/ORKFitnessStepViewController.o ResearchKit/ActiveTasks/ORKFitnessStepViewController.m normal x86_64 objective-c com.apple.compilers.llvm.clang.1_0.compiler
    cd ResearchKit
    export LANG=en_US.US-ASCII
    exp

[2015-09-11 11:05] rsanchezsaez commented on #452
Version 1.2 only supports Xcode 7 and higher. I suggest you update Xcode.

If you absolutely need Xcode 6.x support, you'll need to checkout version
1.1.2 (there's a commit tag for it).
On Fri, 11 Sep 2015 at 13:01 Sayan Chatterjee <notifications@github.com>
wrote:

[2015-09-11 11:11] sayan1886 commented on #452
Ok

[2015-09-11 11:11] #452 closed

[2015-09-14 15:27] jamiedaniel opened #455 "Animations for Consent Sections not playing after leaving visual consent step"
To replicate:

1. Run ORKTest
2. Select Consent
3. Navigate to consent review step
4. Navigate backward 2-4 times
5. Navigate forward and notice that the animation in not visible but played the correct amount of time.

[2015-09-14 21:17] YuanZhu-apple commented on #455
@umerkhan-apple is investigating.

[2015-09-15 17:01] rsanchezsaez opened #458 "Create changelog file?"
Should we create and maintain a `changelog.txt` file on the repo with the major changes in each version?

It’d be nice for people to easily keep updated on what's new. It may be also good to link it from [researchkit.org](www. researchkit.org). For example, many of the *RK framework* users may not aware that there’s now a *Charting* module included with the *1.2* release.

It could also be good to

[2015-09-15 17:31] YuanZhu-apple commented on #458
I like the idea to have a `changelog.txt`.
Do you mean to add link to the `changelog` from researchkit.org?

I am not sure about a blog, but I can send an email to dev-list.

[2015-09-16 13:18] julientherier opened #460 "Making task citable"
Active tasks and surveys are used in clinical studies, and probably some of these studies will be published.

So it would be very useful to make those [tasks/surveys citable](https://guides.github.com/activities/citable-code/), perhaps by linking them to a DOI?

[2015-09-16 13:30] sharpred opened #461 "htmlReviewContent and makePDFWithCompletionHandler"
If my consent document uses htmlReviewContent, when I use makePDFWithCompletionHandler to write the PDF, only the first page (with the html) is written to the pdf.  The consent page with signatures does not get written. I am using iOS 8.3 and Swift. if I comment out the htmlReviewContent line and use the summary and content from my ORKVisualConsentStep all is ok.

[2015-09-16 17:24] YuanZhu-apple commented on #461
When `htmlReviewContent ` property is set, the review content is reproduced exactly as provided in the property in the consent review step, and the `sections` and `signatures` properties
 are ignored.

[2015-09-17 11:02] sharpred commented on #461
OK thanks for clarifying

[2015-09-17 11:02] #461 closed

[2015-09-17 19:14] rsanchezsaez commented on #421
This has been implemented and merged by the referenced pull request, closing issue.

[2015-09-17 19:14] #421 closed

[2015-09-17 19:14] rsanchezsaez commented on #379
All items implemented and merged by the referenced pull requests, closing.

[2015-09-17 19:14] #379 closed

[2015-09-18 00:58] YuanZhu-apple commented on #455
Fixed by #459

[2015-09-18 00:58] #455 closed

[2015-09-18 01:06] YuanZhu-apple commented on #460
I will look into it.

[2015-09-20 16:10] md0u80c9 opened #464 "If all fields are optional, Next field should be ungreyed"
Testable using the 'Optional Form' in ORKTest.

On page 1 of the Optional Form (tested on the simulator), there are no required items. However, the next button remains greyed.

Given that we are not required to put any information on there, it seems counterintuitive that the only way past this is to use 'skip'. If they are all optional, 'Next' is a valid response.

[2015-09-20 16:12] md0u80c9 commented on #464
Step 4 perhaps makes that clearer: Two optional fields. Because the form is 'required', there is no 'Skip'. So despite the fields being optional, you /must/ enter data into one or other of the fields.

[2015-09-20 16:28] rsanchezsaez commented on #464
This is intentional, to clearly differentiate between the *Skip button* behavior (all results are nullified) and the *Continue button* behavior (no results are nullified).

From the [corresponding pull request](https://github.com/ResearchKit/ResearchKit/pull/443):

In my opinion, not enabling the *Continue button* if the form result tree would be completely empty (as it would be when using the *Sk

[2015-09-20 20:48] md0u80c9 commented on #464
OK - I understand the logic you used.

However, it may be a little counter-intuitive to the user to suggest you are 'skipping' a section, when you've not answered a question or questions because it's inappropriate to do so.

'Skip' suggests you are intentionally not providing the information. To me, 'Next' implies more that you have answered the section - there simply is no information to add!

It

[2015-09-20 23:05] rsanchezsaez commented on #464
But, in the  *form* use case you mention, wouldn't the idea be that you have several required items and then a last optional long text item, all within the same form? If that's the case, the user would have filled the compulsory ones on that form, and then the *Continue button* would enable. If, on the other hand, the last step is a standalone question, wouldn't it make more sense for it to be a *

[2015-09-20 23:25] rsanchezsaez commented on #400
@pawisoon: Sorry for my late reply. I went on to check the issue but the repo is no longer there. Were you able to solve the issue?

[2015-09-20 23:31] rsanchezsaez commented on #99
Closing.

[2015-09-20 23:31] #99 closed

[2015-09-20 23:57] #231 closed

[2015-09-20 23:58] rsanchezsaez commented on #388
This can be closed, as the new `dataSource` methods provide maximum flexibility to the developer.

[2015-09-21 07:14] julientherier opened #465 "Duplicated results in two-finger tapping task"
On an iPhone 5, iOS9, master branch, I often get the taps duplicated in the results.

![img_2414](https://cloud.githubusercontent.com/assets/1104275/9986790/13eef886-6041-11e5-8760-27f622552eb9.PNG)

[2015-09-21 08:18] md0u80c9 opened #466 "ORKFormSteps should use inline pickers"
At present, the date picker on an ORKFormStep is presented like a keyboard view.

From iOS 7, the UI standard is to dismiss the keyboard and present the date picker inline. Admittedly (from implementing similar in code before) this does make tracking the details for cellForRowAtIndexPath harder!

The same would apply to any other pickers presented.

[2015-09-21 08:38] md0u80c9 opened #467 "Validate ORKFormSteps with inline validation errors"
Partly an issue of style but also partly a future-proofing to permit more complex validation.

At present, ORKFormItems are validated individually, and present a UIAlertController when a validity error is encountered.

In more complex validation scenarios, entering data into the current field may invalidate other fields. The example provided was a house number and UK Postcode: if you changed a pos

[2015-09-21 18:27] YuanZhu-apple commented on #465
Same result is due to the limited precision of result printing.

![img_0002](https://cloud.githubusercontent.com/assets/11466704/10000887/b6cbe480-6053-11e5-8252-4170d947ff01.PNG)

[2015-09-21 18:32] YuanZhu-apple commented on #388
Yep.

[2015-09-21 18:32] #388 closed

[2015-09-21 18:35] YuanZhu-apple commented on #466
Can you share us some reference?
I found health app is still using a keyboard.
![img_0003 1](https://cloud.githubusercontent.com/assets/11466704/10001069/ccabee2a-6054-11e5-9083-d073943cfec6.PNG)

[2015-09-21 18:46] YuanZhu-apple commented on #467
Agree, a cross formItem validation can be very useful in many scenarios.

But for the address input example, someone has proposed to cleaner way to solve it:
[code]
Do you think this ORKAddressStep can improve the experience of address input ?

[2015-09-21 18:51] md0u80c9 commented on #466
Best example is Apple's own DateCell reference example: https://developer.apple.com/library/ios/samplecode/DateCell/Introduction/Intro.html

[2015-09-21 20:20] md0u80c9 commented on #467
The example was really just to give a common example case where cross-form validation would be needed (and hence why in-line validation errors may be more helpful than UIAlertController ones as a step towards cross-form validation).

But I think having postcode data which relates directly to a map would give a better user experience, yes.

[2015-09-21 20:26] md0u80c9 commented on #466
YuanZhu: Found the definitive reference: https://developer.apple.com/library/prerelease/ios/documentation/UserExperience/Conceptual/MobileHIG/Controls.html

More to the point, should HealthKit's UI be flagged up as well for consistency?

[2015-09-22 01:26] brenbob opened #469 "Chart dates overlap on x-axis"
Assuming AppCore dashboard charts are being ported into ResearchKit, my tester has reported this bug. The first two dates along the bottom of every chart are squished together in both full-size and normal view modes.

![image](https://cloud.githubusercontent.com/assets/1683986/10009188/e4a4d49a-608d-11e5-9653-15509d7f0bdc.png)

[2015-09-22 07:32] julientherier commented on #465
I did several tests and I've got the feeling float precision is not the only issue.
In fact, the problem is fixed using `touch.timestamp`rather than `CACurrentMediaTime()`.
I'll do a PR for that fix.

[2015-09-22 09:26] rsanchezsaez commented on #469
Thanks for the report.

Is the App in the screenshot built with *AppCore* charts? If that's the case, please report this issue on the *AppCore* repository.

The label layout code in *ResearchKit* charts module has changed, it'd be good if you could try to reproduce this with RK charts and report back the results.

[2015-09-22 13:48] oliverschaefer opened #471 "navigationItem.title updating"
`ORKViewControllerToolbarObserver` observes changes to navigationItem and toolbar buttons. Currently it ignores navigationItem.title and navigationItem.titleView. We should include both properties in  `ORKViewControllerToolbarObserver`'s `initWithTargetViewController: delegate` method to properly refresh the UI.

[2015-09-22 13:52] brenbob commented on #469
It's built with AppCore charts. I'm not quite ready to make the Xcode 7 leap, but as soon as I do, will update this issue if it repro's with RK charts.

[2015-09-22 14:18] oliverschaefer opened #472 "ORKTaskViewController: [self managedResults] vs [_managedResults allValues]"
`ORKTaskViewController`'s `[self managedResults]` method returns the results of all steps up to the one which is currently being displayed. If a user answers steps 1-3 and then goes back to step 2, `[self managedResults]` will only include results for steps 1 and 2, but not step 3.`[_managedResults allValues]` will include every result for steps 1-3, instead. This seems to be expected behavior (se

[2015-09-22 17:44] #469 closed

[2015-09-22 17:55] #465 closed

[2015-09-22 21:03] md0u80c9 opened #473 "Consider returning ORKTaskResult.results and ORKStepresult.results as dictionaries rather than arrays"
.results currently returns an array of children ORKResults. It may be prudent to consider returning these results as a dictionary, because it would allow more robust code where the developer wishes to have the answer for a particular question (eg. to use it elsewhere within the app) rather than having all of the results in one go.

Example: The first step of my survey is a form, with a number of p

[2015-09-22 21:07] YuanZhu-apple commented on #473
An convience lookup method has been provided in `ORKCollectionResult` which is the super class of `ORKStepResult` and `ORKTaskResult`.
[code]

[2015-09-22 21:14] md0u80c9 commented on #473
Ah thanks :-).

[2015-09-22 21:37] #473 closed

[2015-09-24 11:07] phoon1982 opened #475 "n convience lookup method has been provided in ORKCollectionResult which is the super class of ORKStepResult and ORKTaskResult."
/**
 Looks up the child result containing an identifier that matches the specified identifier.

 @param identifier The identifier of the step for which to search.

 @return The matching result, or `nil` if none was found.
 */
- (nullable ORKResult *)resultForIdentifier:(NSString *)identifier;

[2015-09-24 17:26] #475 closed

[2015-09-25 17:43] phoon1982 commented on #475
/**
Looks up the child result containing an identifier that matches the specified identifier.

[2015-09-26 13:33] md0u80c9 opened #479 "Printing support"
Been looking at this today but it is a complex issue.

I have implemented printing support for my app, but it would be nice to see it built into ResearchKit.

There would be a use for both printing out of results (to either provide patients or to add to non-electronic records), and to print blank questions (the use case springing immediately to mind is as part of an investigating site's research f

[2015-09-28 17:16] YuanZhu-apple commented on #479
Thanks @md0u80c9, this feature would be very helpful!

`createHTMLSummary` could reside on ORKTaskResult and taking an ORKTask instance as a parameter.

[2015-09-29 00:25] umerkhan-apple opened #482 "Audio task layout bug"
The Audio Task in ORKTest and ORKCatalog has a constraint bug that causes the contents to be shifted to the left side of the screen for Step 4. (Screenshot attached).

![simulator screen shot sep 28 2015 5 22 03 pm](https://cloud.githubusercontent.com/assets/13040996/10152305/95ee6fdc-6605-11e5-9f42-a21dc4fc8e02.png)

[2015-09-29 00:32] umerkhan-apple commented on #472
The purpose of managedResults is to provide answers to the questions that the user has answered. If the user answers a question and then chooses to go back to the previous step, then technically it is the same as them not answering it. Therefore, it is not viable to include a public way access all the results, because technically, we do not consider that step to be answered anymore.

Is there any

[2015-09-29 01:09] umerkhan-apple commented on #464
@md0u80c9 I see that you have created a new issue for the in-line form item validation. Would it be okay to close this issue then?

[2015-09-29 01:33] umerkhan-apple commented on #430
https://github.com/ResearchKit/ResearchKit/pull/446

[2015-09-29 05:38] #430 closed

[2015-09-29 15:06] oliverschaefer commented on #472
Okay, I understand the difference. I don't happen to have a specific use case yet.

[2015-09-29 15:30] oliverschaefer commented on #479
@YuanZhu-apple This issue might be related to issues #89, #90 and especially #91. In fact, there might be even more cases, where a textual representation of an `ORKResult` object can be needed. Besides rendering HTML  there should also be a `createTextSummary` method that simply returns an `NSString`. or an `NSAttributedString`. Also we should consider adding some kind of delegate callback, to all

[2015-09-29 15:46] md0u80c9 commented on #479
Hi Oliver: At the moment my App is simply taking the ORKOrderedTask and the ORKTaskResult objects, and then traversing the two of them simultaneously to produce the results into the <body> tag of HTML. I then produce some CSS to sort the styling out. It is far from ideal - and currently has a particularly ugly 'pyramid of doom' for the cases until the cases have been built onto the ORKResult objec

[2015-09-29 16:11] oliverschaefer commented on #479
@md0u80c9 Andrew, you are right, we need a flexible way to configure the output styling. But `ORKTask` might be the wrong place for all of this. Borrowing some of AirPrint's concepts, we could also use an `ORKResultFormatter` that takes in both task and result objects and outputs them in any desired format (using specific subclasses). All styling properties could be managed by the formatters and w

[2015-09-29 16:11] md0u80c9 commented on #479
YuanZhu-Apple: The concern I have about passing an ORKTask instance as a parameter is that you would need to know that the ORKResult instance was related to the ORKTask instance.

If the ORKResult instance instead also returned its corresponding Task item (so a step, a form, that particular question, etc - to the best granularity that is achievable); then the results functions could refer to that

[2015-09-29 16:12] md0u80c9 commented on #479
oliverschaefer: I like that idea - it makes a lot of sense.

[2015-09-29 18:28] YuanZhu-apple commented on #479
@oliverschaefer Yes, agree to let `ORKResultFormatter` to handle the doc generation.

[2015-09-29 18:34] YuanZhu-apple commented on #479
@md0u80c9 I see you point about check a result's corresponding task item.

A cleaner way could be create an `ORKResultIterator` take both the ORKTaskResult object and ORKTask object, which is able to enumerate through all the question results with their corresponding  task item.

[2015-09-29 21:41] umerkhan-apple commented on #402
@brenbob Were you able to resolve this problem? Is it okay to close this issue?

[2015-09-29 21:42] umerkhan-apple commented on #344
@skoth001 Can you achieve this by using the newly added Charts library?

[2015-09-30 05:46] skoth001 commented on #344
That's what I ended up using.

On Tuesday, September 29, 2015, Umer Khan <notifications@github.com> wrote:

[2015-09-30 06:59] YuanZhu-apple opened #484 "Add an answer format for Height input"
2-column picker view for height (if current locale uses ft and inches).

![14e7a6a4-6639-11e5-8a77-75f051a0bdaa](https://cloud.githubusercontent.com/assets/11466704/10186447/e6241000-6705-11e5-9f1e-57612c9eb1ed.jpeg)

Health App has a 2-column picker too.

[2015-09-30 07:48] md0u80c9 commented on #479
OK, if you can all ignore the really nasty pyramid of doom appearance on this code (I was going for 'get it working' rather than 'make it nice'.) This is a quick and dirty print routine I currently have.

You can see the loop requires ORKTaskResult to be tied to ORKOrderedTask (and there are probably a few assumptions in this code which for a 'proper' solution need addressing).

It would be cleane

[2015-09-30 13:18] PedroMaganinho commented on #484
@YuanZhu-apple I am a medical student and for my thesis I am trying to make a urological app using ResearchKit. How can I use this Height answer format? Can I put this in meters?
I have another question. I am using ResearchKit and know I have all the questions I want. These issues do I get a result. Currently I'm trying to present this outcome in a dashboard as the applications that already exist.

[2015-09-30 14:57] julientherier opened #485 "Authenticate Passcode and Edit Passcode crash in ORKTest"
I run the ORKTest project and tried to test the Authentication feature in the simulator.

`Terminating app due to uncaught exception 'NSGenericException', reason: 'Could not find Keychain item.'`

[2015-09-30 17:51] YuanZhu-apple commented on #484
@PedroMaganinho This is feature request we received, not yet implemented.

For the dashboard, you can check out the chart library we just introduce in ResearchKit, which very easy to use. Open `ORKCatalog` app, you will find some demo.

[2015-09-30 17:56] umerkhan-apple commented on #485
@julientherier This was intended functionality, as the developer should not present those two screens if a passcode has not been created.

To make it a bit more clear, I will go ahead and update ORKTest to disable those buttons, until a passcode has been created using the Consent Module. I'll also update the error message to be more explicit as to why there was no keychain item and what steps can

[2015-09-30 18:49] julientherier commented on #485
Thanks. Indeed I missed we need to create passcode in the consent module first. The update would be very helpful.

[2015-09-30 20:56] PedroMaganinho commented on #484
@YuanZhu-apple Thank you!!! I will try! If I have any doubt can I ask you?

[2015-09-30 20:58] YuanZhu-apple commented on #484
Sure, just create a issue. Many other developers can help you too.

[2015-09-30 21:18] umerkhan-apple commented on #485
@julientherier Please review the PR. I have provided more visible ways to create, remove, edit and authenticate passcode in ORKTest. Also updated the documentation on the passcode view controller, and provided 2 helper class functions. Hope this helps! :)

[2015-09-30 21:58] #482 closed

[2015-09-30 23:47] YuanZhu-apple opened #489 "Form section titles are misaligned"
1. Go a form step with sections
2. Rotate the device a few times

<img width="310" alt="screen shot 2015-09-30 at 4 27 04 pm" src="https://cloud.githubusercontent.com/assets/11466704/10209648/b028fadc-6792-11e5-9d22-6e758bf70f5a.png">

[2015-10-01 08:49] julientherier commented on #485
Thanks @umerkhan-apple that was fast!

It is very clear now how the code works, and I've been able to use ORKTest without any issue.
The new Passcode section is very useful.

I only have 2 comments:
• I've got this console message while running ORKTest on my iPhone5 `Can't find keyplane that supports type 4 for keyboard iPhone-Portrait-NumberPad; using 563160167_Portrait_iPhone-Simple-Pad_Default`

[2015-10-01 15:21] p2 opened #491 "Implement Activity/Motion History Retrieval?"
Is it desirable to port AppCore's [motion history reporter](https://github.com/ResearchKit/AppCore/tree/master/APCAppCore/APCAppCore/Library) classes to core ResearchKit?

Those simplify retrieval of activity history data grouped by activity type, collected by _Core Motion_. Could be enhanced by querying _HealthKit_ for step counts, flights climbed and calories burned, which we currently do in our

[2015-10-01 17:36] YuanZhu-apple commented on #489
Fixed

[2015-10-01 17:36] #489 closed

[2015-10-01 17:55] YuanZhu-apple opened #492 "UICollectionViewFlowLayout warning logs in ORKTest"
I captured this log on an iPhone 6 plus.

[code]

[2015-10-01 20:03] umerkhan-apple commented on #485
@julientherier I am not able to reproduce the localized title error as displayed in the screenshot. Could there be some bundle issue on your end where the strings file did not update for ORKTest?

[2015-10-01 20:14] rsanchezsaez commented on #485
The localization error seems to happen when your device uses a language other than *U.S. English*. I was seeing the same unresolved strings on *U.K. English*, but it worked correctly when I switched my phone to *U.S. English*. So probably the strings need to be filled in all the supported languages.

[2015-10-01 20:18] julientherier commented on #485
@rsanchezsaez you're right. The same behavior here with U.K. English vs. U.S. English.

[2015-10-01 21:09] umerkhan-apple commented on #485
@julientherier @rsanchezsaez The console message is a separate bug. It appears for the selection survey task as well. The localization issue is also a separate bug. We need to have it set up for a fallback language (U.S. English) if translations are not available. I will go ahead and create separate issues for both of them.

[2015-10-01 21:09] #485 closed

[2015-10-01 21:11] umerkhan-apple opened #494 "Keyboard console error message"
In ORKTest's Selection Survey, Mini Form, Passcode Module and any task that uses the keyboard, the console shows the following message:
  `Can't find keyplane that supports type 4 for keyboard iPhone-Portrait-NumberPad; using 563160167_Portrait_iPhone-Simple-Pad_Default`

[2015-10-01 21:12] umerkhan-apple opened #495 "Localization fallback language"
Localization does not have any fallback language set.
If translations are not available, it should automatically revert to the U.S. English.
Currently, it shows the localization key instead of the U.S. English's value for the key.

[2015-10-01 21:16] umerkhan-apple commented on #485
#494 #495

[2015-10-01 21:33] nicholas12345 opened #496 "Limiting multichoice"
I couldn't find anywhere in documentations, but is there a way to limit how many choices can a user select in MultiChoice answer? I have the following scenario: user have 10 choices presented and can pick only TWO. Now, in HTML it was easy with _javascript_ to limit user's choice on two, but is there a way to do so in ResearchKit multichoice?

[2015-10-01 21:40] YuanZhu-apple commented on #496
Thanks for raising this issue! Setting a limit for multi-choice is a feature we are missing.

This new feature should be able to limit the max number of choices a user can pick and optionally to require user to pick the specified number of choices.

Could use `isAnswerValid` to validate user's input.

[2015-10-01 21:45] #88 closed

[2015-10-01 23:58] YuanZhu-apple commented on #491
AppCore has a version of HealthKit data collection: https://github.com/ResearchKit/AppCore/tree/e4b158b5e234cb8e5770b980271004fa7f993bfc/APCAppCore/APCAppCore/Library/Categories/NewDataCollector/Collectors

Sure, we definitely like to have a module in RK to collect and archive HK/CM data for the apps with a friendly interface.
This data collection module should be able to collect data when the app

[2015-10-02 04:14] #471 closed

[2015-10-02 17:20] EdCA3 opened #499 "Creating graphs in Objetive-C"
Hi! I am a 6th grade Medicine student and I’m developing a medical app using Research Kit. Unfortunately, I’m not used to create apps, but thanks to Research Kit and after watching many tutorials, I was able to make the consent and all the questions I want patients to answer. Besides that, I have created all the sums (based on patients’ answers) needed in order to generate some scores. Now I want

[2015-10-03 14:29] #472 closed

[2015-10-03 15:27] EdAmorim commented on #484
@YuanZhu-apple @PedroMaganinho I'm having some trouble with the same subject. I have created an issue (#499). Can anyone help me with that?

[2015-10-04 02:09] KaiCode2 commented on #90
Is there any progress or plans this task? If not I'd like to try to take this one on. It would most likely be at a pretty slow pace so if this one is non-urgent I'd like to take it on.

[2015-10-05 10:26] md0u80c9 opened #501 "Should ORKTaskViewController restorationData take an optional NSData parameter?"
Hi,

It may be my misunderstanding of the API - apologies if that is the case. However, working from Swift, ORKTaskViewController takes a required NSData parameter for restorationData.

If you are supporting a restorable task there are two states - a 'new' form, or a 'reopened draft'. If it is new, there won't be any NSData.

Rather than using a different initialiser for ORKTaskViewController, it

[2015-10-05 11:11] md0u80c9 opened #502 "RestorationData prevents going backwards in Survey"
- I have an ORKNavigableOrderedTask with multiple FormSteps in.
- Start the task.
- Complete to second or third page of the form.
- Hit cancel. taskViewControllerSupportsSaveAndRestore is supported, so we 'Save for later'.
- Task is reopened using  taskViewController = ORKTaskViewController(task: StrokeNurseAdmission, restorationData: draft, delegate: self)

Result: The task opens on the page we w

[2015-10-05 11:36] rsanchezsaez commented on #502
This is expected behavior, as it was agreed that the ivar that the accessory that `ORKNavigableOrderedTask` uses for maintaining backwards navigation state (`_stepIdentifierStack`) was not a core part of a navigable ordered task, and as such it was nor persisted when using *NSCoding* (which is used when creating or reading restoration data).

We should improve the documentation to make this clear.

[2015-10-05 16:36] md0u80c9 commented on #502
Hi,

I guess this depends on the use case. I think the current situation may be inconsistent for users: you can go forwards and backwards through a survey, but if you 'save draft' when you return you can't go backwards.

For complex forms being able to traverse the form is very useful.

You may gather my application is looking at stroke care management: the stroke nurse form is a complex one looki

[2015-10-05 17:53] YuanZhu-apple commented on #501
@md0u80c9 Creating TaskVC for different purposes requires different sets of parameters, I feels separate them out can reduce the confusions for developers.

[2015-10-05 18:37] YuanZhu-apple commented on #90
@oliverschaefer is working on this one.

[2015-10-05 18:57] md0u80c9 commented on #501
Thanks YuanZhu-apple.

I have attached a code example below (in Swift).

self.detailItem!.valueForKey("strokeNurseDraft") contains the saved state if one exists.

If there is no savedDraft, we have to open ORKTaskViewController using a different initialiser: as you can see the two code paths look very different.

[code]

[2015-10-05 20:06] YuanZhu-apple commented on #501
@md0u80c9 Yes, that is right solution! You can keep this piece code inside your project. For the developers who are not using `restorationData`, they can simply use use  `ORKTaskViewController(task:task, taskRunUUID: nil)`, which is less noise to them.

[2015-10-05 20:14] md0u80c9 commented on #501
Indeed. My point was that if NSData becomes optional, the code to open a task which supports restorationData looks like this (whether the draft data is available or not):

[code]

If the other initialisers are still also kept and function as above, a task which is not using restorationData would open like this:

[code]

[2015-10-05 20:20] oliverschaefer commented on #90
@KaiCode2 Thanks for your commitment. @YuanZhu-apple and I are actively working on this one. See PR #463 for more information on the progress we make.

[2015-10-05 20:47] YuanZhu-apple commented on #501
Yeah, I am convinced.
Just need to add nil case handling inside the `restorationData:` initializer.
Open a PR?

[2015-10-05 20:50] md0u80c9 commented on #501
OK - will do.

[2015-10-05 21:56] YuanZhu-apple commented on #502
@rsanchezsaez Thanks for joining this discussion.

`_stepIdentifierStack` is a *state* which is not normally be a part of `Model Object` (e.g. task or step). And all the states should be living on `ORKTaskViewController` and be persisted during restoration.

I talked with @jwe-apple, we would like let `ORKTaskViewController` maintain this identifier stack, and use it to provide a hint in the proto

[2015-10-06 02:52] LukeJamesFitzpatrick commented on #495
This comment on Stack Over Flow should help you out about default localization language fallback http://stackoverflow.com/questions/3263859/localizing-strings-in-ios-default-fallback-language

Also, you can use a service like http:www.localizer.co to localize your website / app, setup is simple, post a string of code into your web app, and it's done.

[2015-10-06 06:41] #495 closed

[2015-10-06 15:05] oliverschaefer opened #504 "Progress label updating"
Currently the progress label gets updated when a user navigates from one step to another. It does not receive updates when the result of the current step view controller changes. This behavior could be useful with a dynamic task, which adjusts its total number of steps based on the given answers.

[2015-10-06 15:16] rsanchezsaez opened #506 "ORKTaskViewController's output directory doesn't seem to be restored"
There seems to be a problem with the bookmarked `outputDirectory` data in `ORKTaskViewController`, and the output directory bookmark is not correctly decoded when restoring a task.

Steps to reproduce:

1. Set a breakpoint inside `ORKURLFromBookmarkData()`.
2. Run `ORKTest`
3. Launch the *Navigable Ordered Task* item.
4. Go to the second question, cancel the task, and save the results for later.
5

[2015-10-06 15:50] rsanchezsaez commented on #506
This [merged PR](https://github.com/ResearchKit/ResearchKit/pull/252) has comments that are relevant to this issue.

[2015-10-06 17:45] YuanZhu-apple commented on #504
Do you think these frequent updates could be a noise for the user?
Also I afraid this feature would encourage a user to select the answer resulting a shorter survey.

[2015-10-06 17:54] oliverschaefer commented on #504
`ORKOrderedTask` does not support dynamic changes of it's steps array (since `steps` is a readonly property). So this feature would be dedicated to developers who implement their own task. When a task is capable of doing dynamic updates, we should communicate that to the user, shouldn't we?

Maybe we could add a property to `ORKTaskViewController` that controls whether these frequent updates shoul

[2015-10-06 21:24] nicholas12345 commented on #496
Thanks! However, I failed to find any kind of documentation regarding isAnswerValid. Is there some documentation that I've missed, or some demo or code snippet, please?

[2015-10-06 21:27] nicholas12345 opened #507 "Choose keyboard for textfield"
Hi, is there a way to choose keyboard type on textfield? For example, I have one field where user enters his email address so it would be pretty good to change for that field keyboard type to be E-mail address.

[2015-10-06 21:28] YuanZhu-apple commented on #496
`isAnswerValid` is an internal mechanism (not part of API) implemented by `ORKAnswerFormat` to valid an answer. You can look into it [at here](https://github.com/ResearchKit/ResearchKit/blob/master/ResearchKit/Common/ORKAnswerFormat.m#L445), if you like to contribute.

[2015-10-06 21:30] YuanZhu-apple commented on #507
To change keyboard type:
https://github.com/ResearchKit/ResearchKit/blob/master/ResearchKit/Common/ORKAnswerFormat.h#L1269

For email input, the best solution is to use `ORKEmailAnswerFormat ` https://github.com/ResearchKit/ResearchKit/blob/master/ResearchKit/Common/ORKAnswerFormat.h#L1288

[2015-10-06 21:32] nicholas12345 opened #508 "Customizing Researchkit View look"
Hi, is there a way to customize how for example survey form looks? To be precise, it would be neat to be able to change background, text colors, background of cells etc. I failed to find any traces of that in documentation, so any help would be super helpful: tips, demo code, snippet, hint...

Is there maybe two themes of Researchkit (like navbar in iOS provides black and white)?

Thanks!

[2015-10-06 21:37] YuanZhu-apple commented on #506
@rsanchezsaez Thanks for catching it, see my fix.

[2015-10-06 21:40] YuanZhu-apple commented on #508
RK support `tintColor` customization, for example:
[code]

[2015-10-06 22:05] nicholas12345 commented on #507
Thanks a lot! However, it appears that I only have autocapitalization and autocorrection, no keyboardType. It is probably added in some later version of Researchkit (failed to add latest Researchkit in project as I didn't convert yet to iOS 9 and Swift 2).

Same appears for ORKEmailAnswerFormat, I don't have it. Well, I will consider this closed and once I manage to get the latest Researchkit in p

[2015-10-06 22:08] YuanZhu-apple commented on #507
If you cannot use `1.2.1`, you can try `1.1.2` which is compatible with Xcode 6.

[2015-10-06 22:27] nicholas12345 commented on #507
Ok, I imported 1.1.2 and I don't have .keyboardType or ORKEmailAnswerFormat. I searched through ORKAnswerFormat.h in imported Reearchkit 1.1.2 code and couldn't find any of those two references that I can see on the link you provided. So it appears those functionalities aren't backported for XCode 6, if I am right?

[2015-10-06 22:31] YuanZhu-apple commented on #507
Yeah, you are right. Those features are not in RK 1.1.

[2015-10-06 22:43] nicholas12345 commented on #507
Ok then, closing this. Will reopen in case I need again once I move to the latest version.
Many, many thanks for the help!

[2015-10-06 22:43] #507 closed

[2015-10-06 23:04] nicholas12345 commented on #508
Ok that works, however I do not want to affect any other views, just where ResearchKit resides. For example, Master detail: from master I am directed to detail where Researchkit Survey form resides. Changing UIView.appearance() in
`func taskViewController(ORKTaskViewController, stepViewControllerWillAppear: ORKStepViewController)`
will result in changes in Researchkit but in any other view as well

[2015-10-06 23:10] YuanZhu-apple commented on #508
To only apply `tintColor` to RK:
`[UIView appearanceWhenContainedIn:[ORKTaskViewController class], nil].tintColor = [UIColor redColor];`

Similarly, you can use this customize other properties, but use it with caution, since we only tested `tintColor`.

[2015-10-06 23:26] nicholas12345 commented on #508
Ok, great. But unfortunately in iOS 8 those methods, that I believe were marked deprecated in iOS 7, are removed from Swift libs. :-(

[2015-10-06 23:45] YuanZhu-apple commented on #508
Yeah, use  `appearanceWhenContainedInInstancesOfClasses:` instead.

[2015-10-07 05:08] KaiCode2 commented on #90
👍🏼

[2015-10-07 14:48] nicholas12345 commented on #508
Again correct, but for iOS 9. :-D Unfortunately, it seems that Swift iOS 8 cannot achieve this, unless you know some other magic?

[2015-10-07 16:34] rsanchezsaez commented on #502
Actually, I just realized that `ORKNavigableOrderedTask` it's indeed persisted, so if you archive the task and unarchive it again when restoring, backwards navigation should work. @md0u80c9: I guess you are re-creating the task instead of archiving and unarchiving it?

In any case, this is clearly bad design as it causes this kind of inconsistency when re-creating the task. I'll look into improvin

[2015-10-07 17:21] YuanZhu-apple commented on #508
[code]

Can you double check? Those are deprecated in iOS 9.

[2015-10-07 17:36] rsanchezsaez opened #510 "Avoid using the double underscore ('__') prefix"
Review variable names to avoid using the *double underscore* (`__`) reserved prefix. Mainly in `ORKHelpers.m`.

[2015-10-07 17:46] rsanchezsaez commented on #458
A `RELEASE-NOTES.md` file has been added.

[2015-10-07 17:46] #458 closed

[2015-10-07 17:48] rsanchezsaez opened #511 "Continue button is disabled on scale with default values"
Should the *Continue button* be enabled when a scale question has a default value?

The behavior has always been for the button to be disabled until you interact with the scale slider, but it feels like it should be enabled if a default value is there.

[2015-10-07 17:49] rsanchezsaez commented on #92
Probably we can close this as the *Charts module* has been merged.

Any charts improvement should be reported as a separate issue.

[2015-10-07 17:51] rsanchezsaez commented on #230
This can be closed.

[2015-10-07 17:51] rsanchezsaez commented on #256
This can be closed.

[2015-10-07 18:08] YuanZhu-apple commented on #511
Yes, you are right, *Continue button* should be enabled in this senario like the date picker(with a default date).

[2015-10-07 18:09] #92 closed

[2015-10-07 18:09] #230 closed

[2015-10-07 18:10] #256 closed

[2015-10-07 18:37] YuanZhu-apple commented on #93
I am working this.

[2015-10-07 18:56] rsanchezsaez commented on #344
This issue can be closed, right?

[2015-10-07 18:57] rsanchezsaez commented on #506
Fixed by linked PR.

[2015-10-07 18:57] #506 closed

[2015-10-07 23:38] YuanZhu-apple commented on #344
Yes. Closing it.

[2015-10-07 23:38] #344 closed

[2015-10-08 02:01] umerkhan-apple commented on #504
@oliverschaefer I would recommend that we only change the first part of the progress. For example, if you are on Step 2 of 10, and you chose option A, it would take you to Step 3 of 10. But if you choose option B, it would take you to Step 9 of 10.

A similar example can be seen in an AppCore app, GlucoSuccess.

[2015-10-08 21:40] YuanZhu-apple commented on #504
So in use case mentioned by @umerkhan-apple, the progress label only need to be changed during a step switching. And it is more like the paper based survey, each question has its own sequence number and total number is fixed.

[2015-10-08 21:42] umerkhan-apple opened #516 "Consent required name logic is invalid"
## Consent Bug
The consent review step requires First Name and Last Name, but only entering the First Name allows the user to proceed.

#### Steps to reproduce
1. Open `ORKTest`
2. Tap `Consent Review`
3. Continue until you're asked to enter your name.
4. Type in `First Name`
5. `Next` button becomes enabled.

_* This can also be reproduced in `ORKCatalog`._

![simulator screen shot oct 8 2015 2 4

[2015-10-08 21:52] umerkhan-apple opened #517 "Image capture no permissions"
# Image Capture bug
In the `Image Capture` task in `ORKTest`, if the user does not give permission to use the camera, the `Next` button does nothing. It seems as if this is a bug and not intended functionality. A suggested fix would be to show an alert if there is no camera permission when the user hits the `Next` button.

In the `Image Capture` task in `ORKCatalog`, if the user does not give perm

[2015-10-08 21:59] YuanZhu-apple commented on #516
Taking on it.

[2015-10-08 23:55] codecadwallader opened #519 "Throw exception on invalid RegEx used in ORKTextAnswerFormat"
As an extension of #476 , it was suggested that it would be helpful to throw an exception if an invalid regular expression is used within ORKTextAnswerFormat's initializer.

See https://github.com/ResearchKit/ResearchKit/pull/476#discussion_r41573726 for context.

[2015-10-09 13:15] nicholas12345 commented on #508
Well, in
`func taskViewController(ORKTaskViewController, stepViewControllerWillAppear: ORKStepViewController)`
I tried to call the way you suggested, but autocomplete gives only what is in attach. I tried on any ViewController to call it, but still same. In the end, I also tried to type it manually, but it complains that
`'UIView.Type' does not have a member named 'appearanceWhenContainednInstance

[2015-10-09 14:24] #508 closed

[2015-10-09 15:42] nicholas12345 commented on #496
It appears isAnswerValid is not in 1.1.2, only isAnswerValidWithString (and I can't even call that one either).

[2015-10-09 16:31] chrisvariety commented on #402
@umerkhan-apple
This shouldn't be closed. This is an issue for me too.

The lines here prevent subclassing: https://github.com/ResearchKit/ResearchKit/blob/a4c9286f2991eeb516ade75dd2ffefa0c9dd4341/ResearchKit/Common/ORKChoiceAnswerFormatHelper.m#L50-L52

I just want to add a custom initializer onto a subclass of ORKTextChoiceAnswerFormat, but am unable to do that due to the strict class checking.

[2015-10-09 16:33] chrisvariety commented on #402
On a separate and entirely unrelated note, the docs do not mention `exclusive` still despite 1.2 having been released a while ago. http://researchkit.org/docs/Classes/ORKTextChoiceAnswerFormat.html

[2015-10-09 17:11] YuanZhu-apple commented on #496
All the new features will go to master branch, which is post 1.2.
If you like to contribute, please base on current `master` branch:)

[2015-10-09 17:17] YuanZhu-apple commented on #402
@chrisvariety Thanks!

Agree with you, we could drop that strict class checking.

For the doc update, please open a separate issue.

[2015-10-09 18:26] oliverschaefer commented on #504
@YuanZhu-apple @umerkhan-apple Ok guys, I get the point :-). Could we however, built in the possibility to do frequent updates, if the developer wishes so?

[2015-10-09 18:27] chrisvariety opened #521 "Website Docs are out of date"
I believe they haven't been updated at all for 1.2.

For example: http://researchkit.org/docs/Classes/ORKTextChoice.html

`exclusive` is not mentioned there, even though it should be since 1.2 includes `exclusive`

Compare to cocoadocs, which are up to date: http://cocoadocs.org/docsets/ResearchKit/1.2/Classes/ORKTextChoice.html

[2015-10-09 18:31] sharpred opened #522 "[ORKTaskViewController requestPedometerAccessWithHandler:]_block_invoke Pedometer access: error=(null)"
I am using Xcode7, Swift2

I get the following error when running three active tasks on my device;

2015-10-09 19:19:41.257 sscapp[951:147368] [ResearchKit][Warning] __59-[ORKTaskViewController requestPedometerAccessWithHandler:]_block_invoke Pedometer access: error=(null)

This appears to relate to the use of queryPedometerDataFromDate line 385 of ORKTaskViewController.m

My app is written in Swi

[2015-10-09 19:42] umerkhan-apple commented on #504
@oliverschaefer If I understand this correctly, we want to provide the developers a way to update the navigation bar title (which in your case has the progress). Updating that title could be for any number of reasons, one of which you listed as when the current step view controller's result changes.

So my main concern is why a developer cannot just use a custom navigation item? If you look at `OR

[2015-10-09 19:46] oliverschaefer commented on #504
@umerkhan-apple Jep, I know this feature in ORKTest, I've written that code :-) And that way would be completely okay for me.

[2015-10-09 22:06] YuanZhu-apple commented on #522
I don't think anything is falling, since it says:
`2015-10-09 19:19:41.257 sscapp[951:147368] [ResearchKit][Warning] __59-[ORKTaskViewController requestPedometerAccessWithHandler:]_block_invoke Pedometer access: error=(null)`

This is just a normal debug message in ReseachKit, so don't worry about it.
We can change to only print when the error is not nil.

[2015-10-10 11:53] sharpred commented on #522
Hmm, okay. But the task fails immediately after the five second countdown finishes with a .Failed reason and this is the only item logged.

[2015-10-10 16:18] #504 closed

[2015-10-11 21:37] nicholas12345 opened #523 "Multichoice answers in shouldPresentStep is always nil"
Here is a problem:
[code]
I use multichoice question in Form, and I want to make sure that user selected items in multichoice question before moving to next question. But for some reason, `questionResult.choiceAnswers` is always nil, even if I select some items. Is it a problem that question is inside form, and if so, how to get question's answer from that form?

Definition of question:
[code]

[2015-10-12 00:00] md0u80c9 opened #524 "'long' answer version of ORKFormItemPickerCell like ORKFormItemTextCell"
On the ORKTest MiniForm, the weight category demonstrates that the text field can change width.

I have a Picker which has longer answers (more precisely 12 different pickers fields on a form to calculate the National Institute of Health Stroke Scale - I've tried implementing this with text choice fields and the resulting interface is not very intuitive). When I tried the longer answers they only

[2015-10-12 00:35] nicholas12345 opened #525 "Skip to step with specific identifier"
I browsed through documentation and ORKcatalog but couldn't find answer:
is there a way to skip from one step to some other step by specifying step identifier of the step to skip to?
For example, check if current step answer is true or false; if true. proceed. Else, skip to step with id "question5".
Thanks

[2015-10-12 07:24] md0u80c9 commented on #525
nicholas12345: Yes. Set your task up as an ORKNavigableOrderedTask which does exactly as you describe (rather than an ORKOrderedTask).

Set up all yours steps just as you would an ORKOrderedTask.

Then at the end you can set up navigation rules based on either predicates or direct steps.

ORKTask has suitable code inside which demonstrates setting this up (do a quick Find for ORKPredicateStepNavig

[2015-10-12 07:27] md0u80c9 commented on #525
Quick piece of sample code from my app in Swift:

[code]

[2015-10-12 09:46] sharpred commented on #522
I figured it out.  I had not specified an outputDirectory for my task.  Apologies for wasting your time.

[2015-10-12 09:46] #522 closed

[2015-10-12 18:50] YuanZhu-apple commented on #522
Do you able to reproduce this in `ORKTest` or `ORKCatalog`?

On Saturday, October 10, 2015, Paul Ryan <notifications@github.com> wrote:

[2015-10-12 20:18] md0u80c9 commented on #501
Completed and merged.

[2015-10-12 20:18] #501 closed

[2015-10-12 22:47] YuanZhu-apple commented on #523
Should parse `taskViewController.result`  to obtain `ORKChoiceQuestionResult`.

[2015-10-13 01:16] nicholas12345 commented on #523
Many thanks. There should be a book for ResearchKit or some book with tricks, I'd totally buy it.

[2015-10-13 01:16] #523 closed

[2015-10-13 22:07] nicholas12345 opened #529 "Capital text on ORKFormItem"
Why is text in ORKFormItem always capital? Is there a way to override it or remove it so it shows text normally?

[2015-10-13 22:16] YuanZhu-apple commented on #529
`always capital` is by design. Make it has a clear visual distinction with its section content.

[2015-10-13 22:18] nicholas12345 commented on #529
And I assume there is no way to override it?

[2015-10-13 22:27] YuanZhu-apple commented on #529
For now, there is no way to override it.

[2015-10-13 23:20] #529 closed

[2015-10-14 12:52] khanxc opened #530 "Where exactly is Heart Rate Data in Fitness activity results"
This is basically not an issue. Where exactly will I get the heart rate data while using the Fitness activity ? Even I don't see the Heart Rate identifier in the below code

[code]
And I heart rate was stored continuously to HealthKit through an app in apple watch at the same time of taking the fitness test.
![img_0004](https://cloud.githubusercontent.com/assets/5825355/10483926/a7c72612-729f-11e5

[2015-10-14 17:51] YuanZhu-apple commented on #530
I believe there is a few minutes delay to sync heart rate data from Apple Watch to iPhone's HealthKit.
Did you try to use a heart rate strap? Remember to pair it with iPhone directly (settings -> bluetooth).

And if the heart rate data is in real time, then you should be able to see a heart rate label at the bottom on the walking step.

[2015-10-15 02:11] md0u80c9 commented on #525
Nicholas12345: let us know how you got on. Are you Ok to close this issue?

[2015-10-15 02:37] md0u80c9 opened #531 "ORKNavigationRule accepting a closure as an alternative to ORKResultPredicate"
The proposal would be to extend ORKPredicateStepNavigationRule to take a closure as an alternative to ORKResultPredicate.

Example case: your study may contain multiple surveys/forms. Or you may have data from other areas (HealthKit being the obvious example).

Your application could then have significantly better logic from external variables, without having to resort to subclassing.

In my appli

[2015-10-15 02:57] md0u80c9 opened #532 "ORKFormItem add convenience initialiser for optional"
Optionality is a fairly fundamental property of each ORKFormItem.

Could we consider having a convenience initialiser for it?

[2015-10-15 03:13] md0u80c9 commented on #532
I've added a pull request for it if everyone is happy that it is useful.

[2015-10-15 06:54] khanxc commented on #530
@YuanZhu-apple Thanks for your response. I did not try with a heart rate strap. But through Apple Watch doesn't `HKWorkout` class provide real time data?. I tried with this below code
[code]
And  `HKQuery` output seems to be near to real time in the Apple watch. So if there is even a delay by a minute RK doesn't fetch it?

[2015-10-15 14:55] lehn0058 commented on #530
If you have real time health data collected from the Apple Watch and are trying to query it from it's paired iPhone, you will likely have some trouble. The Apple Watch doesn't stream fitness data in real time to the iPhone because this would be a huge battery drain, especially for long workouts (think of runners training for a marathon where they could be exercising for over 5 hours). The Apple wa

[2015-10-15 17:39] md0u80c9 opened #534 "ORKNumericAnswerFormat is processor-platform dependent for Integers"
Attached is a definition for an NHS Number (UK NHS Numbers are 10 digits long; although they are a bit smarter than modelled below, the bottom line is that they are always 10 digits long and always start with a 4 or a 5).

The following definition for ORKNumericAnswerFormat works when placed into an iPhone 6/6S, but the application crashes when tested on an iPad 2. I'm presuming the reason is that

[2015-10-15 17:55] YuanZhu-apple commented on #532
Optionality is a fairly fundamental property of each ORKQuestionStep too, but we didn't include it in the initializer.

Optionality is more of an advanced feature, which is not easy for Beginners to understand. Especially involving optionality on both the step and formItem. Which make me a little hesitated.

[2015-10-15 19:51] YuanZhu-apple commented on #534
I am not sure how `swift` works with auto boxing `NSNumber`, can you try to init the NSNumber with `initWithLongLong:` ?

[2015-10-15 22:50] umerkhan-apple commented on #532
@YuanZhu-apple Since we have introduced optional on form items, I think we should include an init for it.
Especially since it is a property that by default gets set to `YES`. It is not an extra property that __can__ be set, such as  `templateImage` on `Image Capture Step`, but is automatically defined instead.

[2015-10-16 19:00] md0u80c9 opened #535 "ORKPredicateNavigationStepRule suggestion: PreStep and PostStep options"
I have a complex form (you may have guessed from my earlier issue reports / PRs) which includes a test for significant past medical history as part of a screening process.

Where an issue is present, we want to ask more details before proceeding.

I've set up a minimised example of the form steps as follows:

* Step 1 - Diseases
- Does the patient have disease A?
- Does the patient have disease B?

[2015-10-16 19:02] md0u80c9 commented on #502
rsanchezsaez: Yes that is correct - I'm using ResearchKit professional-side, so you may have a list of patients, each with open surveys, so we store the RestorationData as NSData in CoreData.

[2015-10-17 11:01] rsanchezsaez commented on #502
@md0u80c9: I see, in any case, we're trying to improve the situation within the linked pull request. With that changes in the PR, it should work in your case.

[2015-10-17 18:04] PedroMaganinho opened #536 "send array content via mail?"
is it possible to send the content of an array via mail?

-(void)sendEmail
{

        if ([MFMailComposeViewController canSendMail])
        {
            MFMailComposeViewController *mail = [[MFMailComposeViewController alloc] init];
            mail.mailComposeDelegate = self;
            [mail setSubject:@"subject"];
            [mail setMessageBody:@"content of the email" isHTML:NO];

[2015-10-17 18:36] md0u80c9 commented on #536
Yes. There are several ways to do it. Hopefully this is complete enough - much of it is cut and paste from my project so let me know if there are gaps you can't fill.

You could just convert your ORKTaskResult object to NSData and send it raw. But that gives you headaches at the other end.

The way I opted for was to produce a CSV file.

So, create a conversion function, and put your header rows i

[2015-10-17 19:02] PedroMaganinho commented on #536
@md0u80c9 thank you! I will try!

[2015-10-17 22:44] EdCA3 opened #537 "Send notifications"
How can I send notifications to patients to advising them to answer the questions at some point (for example 1 month after they install the app)?

[2015-10-17 22:45] YuanZhu-apple commented on #537
Yes, you can do it via local notification.

On Saturday, October 17, 2015, EdCA3 <notifications@github.com> wrote:

[2015-10-17 22:50] YuanZhu-apple commented on #536
Yes, please check out:

- (void)addAttachmentData:(NSData*)attachment mimeType:(NSString*)mimeType
fileName:(NSString*)filename

On

MFMailComposeViewController

On Saturday, October 17, 2015, PedroMaganinho <notifications@github.com>
wrote:

[2015-10-17 22:50] EdCA3 commented on #537
@YuanZhu-apple Thanks

[2015-10-20 01:08] rsanchezsaez opened #539 "Animation glitch if you are editing a text field in a form"
There's an animation glitch if you are editing a text field in a form and tap next.

Steps to reproduce:
- Go to `ORKTest`'s *Mini Form* example.
- Tap any text field (e.g., the first `MESSAGE` section which has the `Your message` placeholder).
- Scroll down and tap `Next`.
- Observe the animation glitch.

[2015-10-20 03:10] khanxc opened #540 "Exclude predefined instruction"
In ORKPredefinedTaskOption struct there is a option to exclude instructions.
[code]
But is there any way to remove only the predefined instruction? Like the one in the screenshot below?. Because Exclude instruction option excludes all the Instruction steps.

![simulator screen shot 20-oct-2015 8 40 00 am](https://cloud.githubusercontent.com/assets/5825355/10596806/a85860f4-7705-11e5-9045-174255078

[2015-10-20 15:37] kristofer opened #541 "Lists or Loops?"
is there a way to create a dynamic OrderedTask that can ask for a number, say 5, and then collect an Answer to the same question 5 times?

[2015-10-20 15:47] YuanZhu-apple commented on #541
Yes. If you want to repeat a question a number of times in a task base on
user's answer, just implement the protocol <ORKTask> to make your own task.

(StepAfterStep:withResult:)

On Tuesday, October 20, 2015, Kristofer <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-10-20 18:02] #537 closed

[2015-10-20 18:02] #516 closed

[2015-10-20 18:54] YuanZhu-apple commented on #540
You can always rebuild the task based on your need.
[code]

[2015-10-20 19:54] umerkhan-apple commented on #532
#446

[2015-10-20 19:55] #532 closed

[2015-10-20 19:59] umerkhan-apple commented on #511
Addressed in PR #526

[2015-10-20 19:59] #511 closed

[2015-10-20 20:08] umerkhan-apple commented on #539
I tried to reproduce the bug on iPhone 6S running 9.0 and was unsuccessful.
However, I was able to reproduce the bug on iPhone 6S simulator running 9.1.

What device and os did you find the bug on? Could it be a bug related to 9.1?

[2015-10-20 20:26] umerkhan-apple commented on #535
@md0u80c9 If I understand what you're asking for correctly, then I believe the current ORKPredicateStepNavigationRules should be sufficient in achieving your use case.

1. Create an ORKNavigableOrderedTask with all the steps in it (Step1 - Step 5).
2. Build predicate navigation rules as following:
[code]
- Create a direct rule to lead to the fall through step (Step 5).
[code]

[2015-10-20 20:27] umerkhan-apple commented on #525
@nicholas12345 Did @md0u80c9 response help resolve your issue?

[2015-10-20 20:41] md0u80c9 commented on #535
Hi Umer,

I don't think it does. In my example, Step 1 has a set of Boolean options, rather than a single choice option.

So, you may need to go to steps 1, 3, 4, 5. Or steps 1, 2, 4, 5. Or steps 1, 2, 5. Etc.

As I understand it your example would take you to Step 1, then EITHER 2, 3 or 4, then 5.

Am I correct?

[2015-10-20 20:46] umerkhan-apple commented on #535
@md0u80c9

So, I just used a single choice result predicate as an example. There is a result predicate for boolean options also.

The example coded above will accomplish the second set of patterns that you mentioned:
`Step 1, then either 2, 3, or 4, then 5.`

Now if you would like to provide different paths, such as
1,3,4,5 or 1,2,4,5
you can define them the same way use result predicates.

__Foll

[2015-10-20 20:50] md0u80c9 commented on #535
I'll have another look over the sample code this evening - thanks :-).

[2015-10-20 20:53] umerkhan-apple commented on #517
Investigating this issue.

[2015-10-20 20:55] md0u80c9 commented on #535
Ah - think I get you:

In Step 1, use the predicate you suggested to point to Steps 2, 3, 4 if A,B or C is provided, or 5 if none of them. The predicate will go to the first step in the list.

In Step 2, use the predicate to point to steps 3 or 4 if B or C is provided, or 5 if none of them.

In Step 3, use the predicate to point to step 4 if C is provided, or 5 if none of them.

Obviously not perf

[2015-10-20 21:01] umerkhan-apple commented on #535
Agreed. It does not scale very well.

I was brainstorming about your approach with preStep and postStop. if we were to continue with that approach, I am not able to see the benefit from it. Wouldn't we still need to create all the same rules, but now they will be defined on the step itself vs the task? Did I understand the concept behind preStep and postStop correctly?

[2015-10-20 21:05] md0u80c9 commented on #535
If we had a preStep and a postStep, wouldn't you implement as follows:

Step 1:
3 disease Boolean answers, let's give them the IDs DiseaseA, DiseaseB, DiseaseC.

Step 2 preStep: If DiseaseA=FALSE, Direct step to Step 3.

Step 3 preStep: If DiseaseB=FALSE, Direct step to Step 4.

Step 4 preStep: If DiseaseC=FALSE, Direct step to Step 5.

So we would fall through each question prior to displaying it

[2015-10-21 13:19] nicholas12345 commented on #525
Yeah, let's close it. Many thanks!

[2015-10-21 13:19] #525 closed

[2015-10-21 20:13] YuanZhu-apple commented on #521
Docs from 1.2 has been updated.

[2015-10-22 05:54] Natelegreat1 commented on #525
For some reason, in my `ORKOrderedTask`, `ORKResultSelector` is being flagged as an `unresolved identifier` even though all other RK items are fine.
I am using a pod file and have `#import <ResearchKit/ResearchKit.h>` in the bridge file. Is another #include required?

[2015-10-22 06:10] YuanZhu-apple commented on #525
`ORKResultSelector` is a new API introduce post 1.2 release.
For 1.2, please refer to this example:
https://github.com/ResearchKit/ResearchKit/blob/stable/Testing/ORKTest/ORKTest/MainViewController.m#L2109

On Wed, Oct 21, 2015 at 10:54 PM, Nathaniel Blumer <notifications@github.com

[2015-10-22 06:12] YuanZhu-apple commented on #499
Maybe our updated API document can help you?
http://researchkit.org/docs/Classes/ORKGraphChartView.html

[2015-10-22 13:14] md0u80c9 opened #542 "Clearly identifying optional questions on forms"
Hi,

There are lots of ways to do this but it's probably not as straightforwards as it sounds.

My forms now have optional and mandatory fields within them.

One problem is that it's not easy to identify which form items are optional and which are mandatory.

As a workaround, it is possible to add some asterisks to form item titles and suchlike to indicate mandatory fields.

However, I think it wo

[2015-10-22 15:56] Natelegreat1 commented on #525
That makes sense.

I have `pod 'ResearchKit'` in my pod file
Terminal shows the following : `Using ResearchKit (1.2.1)`

Weird eh?

[2015-10-22 17:47] YuanZhu-apple commented on #525
That's right, latest release is 1.2.1 (with a bug fix on the top of 1.2)

[2015-10-22 18:54] Natelegreat1 commented on #525
Is there something special I need to include in the Build Settings?
Even though terminal confirms `Using ResearchKit (1.2.1)`, I am still unable to use any of the newer API components...

[2015-10-22 20:49] YuanZhu-apple commented on #525
Sorry, I was wrong about `ORKResultSelector`, it is actually in 1.2.

You just need to:
[code]
or in swift
[code]

[2015-10-22 22:11] Natelegreat1 commented on #525
I have `#import <ResearchKit/ResearchKit.h>` in my bridge file -- I am writing in Swift.
if I try `import ResearchKit`:
`No such module 'ResearchKit'`

Again, the weird part is that I can use some of the API but not all! :-1:

[2015-10-22 22:32] YuanZhu-apple commented on #525
`ORKResultSelector` works fine in our ORKCatalog app(Swift demo)
You might want to check your project settings.
<img width="471" alt="screen shot 2015-10-22 at 3 30 31 pm" src="https://cloud.githubusercontent.com/assets/11466704/10680146/f50c1f9e-78d1-11e5-9023-9e306537408f.png">

[2015-10-24 03:42] Natelegreat1 commented on #525
If I am using Cocopods, is it not ok it looks like this: <img width="791" alt="screen shot 2015-10-23 at 23 42 01" src="https://cloud.githubusercontent.com/assets/2666640/10708716/adc0628a-79df-11e5-9e0a-e17b9e069736.png">

Do I still need to compile the ResearchKit manually and include it?

[2015-10-24 14:53] PedroMaganinho opened #543 "NSMUTABLEARRAY to CSV"
Hello,
I am trying to have access to my results.
Until today i can access my results and now I am trying to convert my NSMUTABLEARRAY to cvs and send them by email attachment. Can anyone help me?

[code]

[2015-10-25 14:22] PedroMaganinho commented on #543
Now I Can send a csv file but only appear one column with all answers and identifiers. Can anyone help me to put one column for each identifier?
Other question: How Can I send Consent.pdf in attachment?

Thanks

-(void)sendEmailWithAttachment:(NSData*)resultscsv fromViewController:(UIViewController*)parentView
{

        if ([MFMailComposeViewController canSendMail])
        {
            MFMailCo

[2015-10-25 16:06] EdCA3 opened #544 "Skip steps"
I want people to answer different questions at different times (for example: the first time they use the app, then after 1 month, 2months...). What can I do in order to skip the questions they have already answer before to the questions I want them to answer at that particular time?

[2015-10-25 16:08] YuanZhu-apple commented on #544
Create different versions of ORKTask in runtime?

On Sunday, October 25, 2015, EdCA3 <notifications@github.com> wrote:

[2015-10-25 16:15] EdCA3 commented on #544
I have no experience creating apps. Can you give me an example?

[2015-10-25 16:35] EdCA3 commented on #544
Ideally, it should be possible to skip all the consent and basic information parts and automatically starts in a certain group of questions the second time they run the app.

[2015-10-26 09:48] huguesbr opened #545 "Localization & Pods"
When using ResearchKit as a Pod, all the `Localizable.strings`'s files are included in the finale bundle which then for conflict with the current projet `Localizable.strings`'s file.

I propose to rename all `Localizable.strings`'s file to `ResearchKit.strings` (as most of Libraries do) and tweak the `ORKDefaultLocalizedValue` and `ORKLocalizedString` to use the right table.

See the linked PR (ht

[2015-10-26 13:47] ascholz81 opened #547 "Add a Image under or above a scale."
I have a current need to display an image of a 1 to 10 scale.  The image helps to divide the scale so people answer with a reasonable likeness in thought.
1 - 4 = small effort
5 - 7 = medium effort
9 - 10 = large effort

This is easier displayed in a horizontal image as opposed to text.  Since scale images are for min/max they won't help here.  Currently, I believe the only way to accomplish this

[2015-10-26 13:53] ascholz81 opened #548 "Fill in the blank option"
I have survey with multiple choice questions.  Several of those options include an "Other: __________ " (Fill in the blank) option.  Currently I'm using a navigation rule to detect that you selected "Other" to present a follow up question with an ORKTextAnswerFormat to gather that data.

Is there another way to do this?  Perhaps a new feature if there isn't a way?

[2015-10-26 17:10] oliverschaefer commented on #479
@md0u80c9 Hey Andrew, I've added basic result printing support via a new `stringForAnswer:` method of `ORKAnswerFormat`, as suggested by @YuanZhu-apple. See #463 for more details. From here, we could:

- Implement an `ORKResultIterator` that goes through all task results and collects the printable data (e. g. title, text and answers). The iterator could return a string dictionary for every iterati

[2015-10-26 17:28] directvox commented on #543
Pedro,

I see a similar post that you should have a look at ( Printing support
(#479))
They have the similar issue but with HTML.

I hope it help.

2015-10-26 12:46 GMT-04:00 PedroMaganinho <notifications@github.com>:

--
Michel Bilodeau

[2015-10-26 18:20] umerkhan-apple opened #549 "Eligibility Question tint color bug"
Eligibility Question does not update properly if you toggle the tint color.

Steps to reproduce:
1. Open `ORKTest`
2. Tap `Toggle Tint Color`
3. Tap `Eligibility Form`

*Notice all the buttons are the tint color instead of gray color.*

[2015-10-26 18:25] YuanZhu-apple commented on #548
You can try `ORKFormStep` with a choice selection and a text view, even though there is no validation rule to enforce text to be filled when `Other` is picked.

Please let us know which kind of enforcement rule do you need.

[2015-10-26 18:27] YuanZhu-apple commented on #547
Please check out `ORKImageChoiceAnswerFormat`

<img width="375" alt="screen shot 2015-10-26 at 11 27 05 am" src="https://cloud.githubusercontent.com/assets/11466704/10738410/93f391f0-7bd4-11e5-8748-f33d7e9d4c65.png">

[2015-10-26 18:38] md0u80c9 commented on #548
Yes, you can do this with an ORKFormStep and the navigation rules as YuanZhu describes.

Step 1:
What is your favourite animal?
Cats
Dogs
Rabbits
Other

Step 2
What animal do you prefer?
Animal: [Text field]

Step 3 (Completion step):
Thanks.

Then I would use ORKResultPredicates to set the different navigation paths up. Set up a predicate so that if Step 1 chooses Dogs or Cats or Rabbits then go

[2015-10-26 19:01] ascholz81 commented on #547
That won't work for my instance.  Even though I broke the scale into 3 sections, the client is using the 1 to 10 scale to further break down the estimate of effort.  So I still need an instruction image that they don't select as the answer.  Since image choice is the answer format the FormItem will need an answer.  I know leaving the answer format nil will keep the user from choosing anything.

|-

[2015-10-26 19:50] PedroMaganinho commented on #543
@directvox Thanks!

[2015-10-26 22:05] umerkhan-apple commented on #547
@ascholz81 I may not be understanding your use case exactly. Though from your description and the scale diagram you drew above, why can't you create use the image choices module to have 3 images? Image 1 = (1-4) Small effort, Image 2 = (5-7) Medium effort, Image 3 = (9-10) Large effort.

[2015-10-26 23:10] umerkhan-apple opened #552 "Localization issue in ORKCatalog"
#### Localization bug in ORKCatalog

If you change language and locale and open ORKCatalog, it remains in English.
The strings that are in ORKCatalog do not have translations, so that is expected behavior.
But the strings in RK Framework do have translations, so those should convert.

##### Steps to reproduce:
1. Open `Settings`
2. Tap `General`
3. Tap `Language & Region`
4. Change Language (Anyth

[2015-10-27 00:29] #549 closed

[2015-10-27 00:29] #517 closed

[2015-10-27 02:11] ascholz81 commented on #547
The answer must be a value from 1 - 10. I can't use the image approach.

[2015-10-27 02:38] YuanZhu-apple commented on #547
Have you tried `ORKScaleAnswerFormat` ?

On Mon, Oct 26, 2015 at 7:11 PM, ascholz81 <notifications@github.com> wrote:

[2015-10-27 09:10] md0u80c9 commented on #479
@oliverschaefer : Brilliant. I've been busy trying to sort things out on my actual app at the minute; I'm hoping that gives me a few better ideas on how to achieve this generically.

[2015-10-27 12:45] ascholz81 commented on #547
Yes, I am using scale answer format to obtain my value.  (Sorry I didn't mention that earlier.)  I would just like a way to present the image of the scale for easy reference within the same question.  Placing an instruction step ahead of it wouldn't be as accessible for the user.

[2015-10-27 17:49] YuanZhu-apple commented on #547
So you would like to display an image under or above the scale? ehh...

[2015-10-27 18:07] ascholz81 commented on #547
Yes.  Above the scale, between the question text and the scale. That is
also why I thought this may be a more base level feature that could be used
on other question types.

On Tue, Oct 27, 2015, 13:49 Yuan Zhu <notifications@github.com> wrote:

[2015-10-28 16:47] PedroMaganinho opened #554 "change view controller"
Hello,
Until today, I made an app with consent, survey and after that the app opens the email and sent to me an attachment with the results.
After that my app restart and goes to the consent again.
I want that, after sending the email, the app goes to a new view controller where I can show the results of the  survey and a message to the patients.
Can I make that?

[2015-10-28 17:31] YuanZhu-apple commented on #554
Yes, your app is responsible to pick which view controller to show.

Maybe you can save some records in the [NSUserDefaults](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/Foundation/Classes/NSUserDefaults_Class/) when user finished the consent, and use those records to decide.

[2015-10-28 17:50] #554 closed

[2015-10-28 19:51] ascholz81 commented on #547
I apologize, I can not share the image.

[2015-10-28 20:29] YuanZhu-apple commented on #547
Something like this?

<img width="376" alt="screen shot 2015-10-28 at 1 26 53 pm" src="https://cloud.githubusercontent.com/assets/11466704/10802074/d823c1b6-7d77-11e5-9328-881a3b935554.png">

[2015-10-29 02:08] ascholz81 commented on #547
Yes

[2015-10-29 05:02] umerkhan-apple commented on #540
@khanxc Did you have any other concerns or Is it okay to close this issue?

[2015-10-29 19:25] ascholz81 commented on #548
Andrew:  Do you mean this to be separate steps? I first read your response as this could all be contained in one form step, however upon re-reading and trial/error I see this was probably not your intent.  Just wanted to confirm.
  If it is separate steps, that is what I am currently doing.

[2015-10-29 19:29] md0u80c9 commented on #548
Yes, I meant do it in separate steps but use a predicate so that if you pick anything other than 'Other' that you don't have to enter Step 2. That way the majority of your clients see the bare minimum options.

[2015-10-29 19:32] ascholz81 commented on #548
Yuan:  An enforcement rule could be applied via a regEx or by a character count.  However, I would say generically not blank is the best enforcement rule since "Other" covers "everything else."  In my situation I just need to know it isn't blank.

[2015-10-30 13:48] kristofer commented on #73
wait no, I'd like to use researchkit to collect data that is not health related.
I just want to use the wizard capability and then handle the data myself. I'm not asking health questions.

[2015-10-30 13:52] kristofer opened #555 "ResearchKit without HealthKit?"
I want to use researchkit for it's survey capabilities, and not collect health data. RK is a great survey wizard thingie, why do I need to have healthkit involved?

[2015-10-30 16:37] huguesbr commented on #545
@YuanZhu-apple any chance you could review?

[2015-10-30 19:50] YuanZhu-apple commented on #555
You don't need to use healthkit or have healthkit involved in your app.

I just had an app using RK, without requesting HealthKit entitlement.
<img width="489" alt="screen shot 2015-10-30 at 12 49 14 pm" src="https://cloud.githubusercontent.com/assets/11466704/10856384/a79935c4-7f04-11e5-9881-b2221e3c41fa.png">

[2015-10-30 19:53] YuanZhu-apple commented on #548
@ascholz81 Do you mean if `Other` was picked, then the user cannot leave the additional text field blank .
So the enforcement rule is conditional, decide by which choice is picked.

[2015-10-30 19:56] ascholz81 commented on #548
Correct.

[2015-10-30 20:50] Natelegreat1 commented on #525
Any ideas? The fact that I can use SOME of the ResearchKit implies that the framework is included in some capacity... but I can't figure out why anything from v1.1+ won't work!

[2015-10-30 20:59] YuanZhu-apple commented on #525
What's your pod file looks like? Are you using Objective-C or swift?
I just played cocoapod a bit, it seems I have to use the workspace to compile the app.

Here is how my `Podfile` looks like:
[code]

[2015-11-03 23:48] #555 closed

[2015-11-04 00:19] #545 closed

[2015-11-04 00:20] YuanZhu-apple commented on #548
Mockup screen:

<img width="378" alt="screen shot 2015-11-03 at 4 18 19 pm" src="https://cloud.githubusercontent.com/assets/11466704/10925870/c1bacde2-8246-11e5-8f2d-d4b5d12b7f39.png">

[2015-11-04 00:23] #540 closed

[2015-11-04 00:24] #521 closed

[2015-11-04 00:28] umerkhan-apple commented on #519
Fixed as part of #538

https://github.com/umerkhan-apple/ResearchKit/blob/85097a5e20a3c03e8ce097c93050e77d446386dc/ResearchKit/Common/ORKAnswerFormat.m#L1931-L1949

[2015-11-04 00:28] #519 closed

[2015-11-04 00:29] #530 closed

[2015-11-04 00:29] #536 closed

[2015-11-04 00:30] #541 closed

[2015-11-04 00:31] umerkhan-apple commented on #542
@md0u80c9 I very much agree with this post. I will look into this and see what the best way is to indicate optional and required items.

If we don't use asterisk, do you have any recommendations or ideas on how to best place it in the cell layout?

[2015-11-04 08:42] md0u80c9 commented on #548
Yes that would be nice Yuan.

[2015-11-04 14:44] ascholz81 commented on #548
Very nice.

[2015-11-04 17:08] md0u80c9 commented on #542
Some thoughts I've had so far with regard to the forms:

- Append a red * to an (attributed) string and put a footnote above the 'Next' / 'Done' button that * indicates mandatory items.
- Use a smaller (half-height) font (and possibly a different colour, eg. blue) and append (optional) to the question title to indicate optionality.

Another thought I had in terms of question user-friendliness. For

[2015-11-04 22:00] YuanZhu-apple opened #558 "Pie Chart title labels overlap"
[code]

<img width="370" alt="screen shot 2015-11-04 at 1 59 25 pm" src="https://cloud.githubusercontent.com/assets/11466704/10953343/5ebb4986-82fc-11e5-8ed2-d7a6ecd449c5.png">

[2015-11-05 20:50] adamstac commented on #84
@DanKeen I emailed a while back but haven't heard from anyone. Is there someone in particular I should reach out to?

[2015-11-05 21:33] #552 closed

[2015-11-10 18:22] YuanZhu-apple opened #560 "Expose `ORKCountdownStep` as public API"
Many developer want to use it in their own active task.
Maybe open up `ORKCompletionStep` as well.

[2015-11-13 18:39] umerkhan-apple opened #561 "Adding tap duration to Tapping Task"
It is useful in many scenarios to also have the tap duration for the Tapping Task.

Currently, we store which button was tapped and when it was tapped.
We should also store when it was released from which the tap duration can be obtained.

[2015-11-15 18:22] md0u80c9 opened #562 "Uniqueness of ORKStep and ORKFormSteps"
Hi,

Just a couple of observations on doing some work on my app this weekend.

At present ORKSteps need unique identifiers.

It can get a bit messy if you fail to make an ORKStep identifiers unique - the error can be difficult to pin down. The error is not in the construction phase but of course when the Task is called. And in a complex task that can then be a way away.

I think I have an individu

[2015-11-16 18:09] oliverschaefer commented on #479
@md0u80c9 Hey Andrew, any news?

[2015-11-16 22:37] md0u80c9 commented on #479
Hi oliver: Unfortunately no printing progress in terms of a generic solution. I have written printing stuff for the app I'm writing but have made quite extensive use of CSS + tables to get my formatting which wouldn't work in a more generalised solution.

In terms of output I managed to improve my abstractions with some protocol extensions (in Swift). Bear in mind to do this all your ORKFormItems

[2015-11-17 09:33] md0u80c9 opened #563 "Typo: ORKStepNavigationRule 'destionationStepIdentifiers'"
There are three instances of this typo in ORKStepNavigationRule.h and ORKStepNavigationRule.swift. Here is one of them (a quick 'find' shows the other two in the above files:

- (instancetype)initWithResultPredicates:(NSArray<NSPredicate *> *)resultPredicates
              destinationStepIdentifiers:(NSArray<NSString *> *)destinationStepIdentifiers
                   defaultStepIdentifier:(nullabl

[2015-11-17 13:48] md0u80c9 commented on #563
PR created for this.

[2015-11-20 00:06] YuanZhu-apple commented on #563
PR has been merged
https://github.com/ResearchKit/ResearchKit/pull/564

[2015-11-20 00:06] #563 closed

[2015-11-20 00:11] YuanZhu-apple commented on #562
Yes, we can definitely catch it during the init of `ORKOrderedTask`.
Something like
[code]

Can you make a PR?

[2015-11-20 00:13] YuanZhu-apple commented on #558
I am working on this.

[2015-11-20 08:59] md0u80c9 commented on #562
Yes I'll have a look at that over the weekend - thanks for that :-).

Looks like the sort of thing we may need a unit test for as well to demonstrate it's working.

[2015-11-20 18:17] rliljest opened #566 "ORKRegistrationStep passcodeValidationRegex is case-insensitive"
Currently the NSRegularExpression used with ORKAnswerFormat uses the NSRegularExpressionCaseInsensitive option. This makes it impossible to make a case-sensitive passcodeValidationRegex in ORKRegistrationStep (which could be used to enforce concepts such as "password must contain one lowercase and one uppercase letter").

Potential fix I have ready locally (creating this issue first per contributi

[2015-11-20 18:49] YuanZhu-apple commented on #566
Thanks for the proposal!

I agree we should expose `NSRegularExpressionOptions`  in `ORKAnswerFormat.h` and  `ORKRegistrationStep.h` to replace current pattern string.
Also please take care of `ORKESerialization.h`.

[2015-11-21 11:04] md0u80c9 opened #570 "ORKDateResult - dateFormat property would be useful"
Unlike choices, text or numeric answers, Date results cannot be managed without context at present.

If you are given an ORKDateResult, you don't know whether it is a date, a time, or a date and time without knowing what the question was.

It would be really helpful if there was another property (dateFormat or resultFormat), probably stored with an enum: ORKDateResult.Date, .Time, .DateAndTime.

[2015-11-21 22:40] SNagra opened #571 "Informed Consent animations are static"
The visual consent screen animations never animate, is there an option that I am missing to turn them on?

[2015-11-23 17:57] rliljest commented on #571
Are you using all of the specified animation steps in the correct order? There are only 7 built-in animations:

ORKConsentSectionTypeOverview -> ORKConsentSectionTypeDataGathering
ORKConsentSectionTypeDataGathering -> ORKConsentSectionTypePrivacy
ORKConsentSectionTypePrivacy -> ORKConsentSectionTypeDataUse
ORKConsentSectionTypeDataUse -> ORKConsentSectionTypeTimeCommitment
ORKConsentSectionTypeTim

[2015-11-23 19:56] tomihisaw opened #572 "ORKLoginStepViewController is not publically visible"
Hi,
In order to use the ORKLoginStep we must use the initializer:

[code]

Further, the "loginViewController" class is required to be a subclass of ORKLoginStepViewController.

However, in the current master branch ORKLoginStepViewController does not have "ORK_CLASS_AVAILABLE" enabled. Thus, if the project is compiled with "Symbols Hidden by Default" (the default project setting for Release builds

[2015-11-23 19:59] YuanZhu-apple commented on #572
Good catch. Please put up a PR to add ORK_CLASS_AVAILABLE. Thanks!

On Monday, November 23, 2015, Tom Welsh <notifications@github.com> wrote:

[2015-11-24 16:34] SNagra commented on #571
They must be used in a certain in order to have them animate?

[2015-11-24 21:27] YuanZhu-apple commented on #571
Yes.

On Tue, Nov 24, 2015 at 8:34 AM, Saranpreet Nagra <notifications@github.com>
wrote:

[2015-11-25 00:59] UberJason opened #574 "ORKLocation has no member 'address'"
Hello!

I just cloned ResearchKit to poke around at the forms and answer formats, so I attempted to build the ORKCatalog project. However, there is a compile error in ResultTableViewProviders.swift:

![screen shot 2015-11-24 at 7 56 58 pm](https://cloud.githubusercontent.com/assets/5779307/11385310/91a6d858-92e5-11e5-9bd6-0ec8b8b4a24e.png)

A quick look at the ORKLocation header confirms that ther

[2015-11-25 01:01] YuanZhu-apple commented on #574
Yes, you are right. Can you put up a PR to fix it? Thanks!

On Tuesday, November 24, 2015, Jason Ji <notifications@github.com> wrote:

[2015-11-25 01:02] UberJason commented on #574
Would you want the userInput field changed to "address", or to change the ORKCatalog project to just use "userInput" instead?

[2015-11-25 01:03] YuanZhu-apple commented on #574
Change the ORKCatalog project to just use "userInput" instead.

On Tuesday, November 24, 2015, Jason Ji <notifications@github.com> wrote:

[2015-11-25 01:04] UberJason commented on #574
Will do!

[2015-11-28 00:40] sunnyliyanbo1357 commented on #390
There is no ORKPSATPresentationModeVisual . Error says: Use of unresolved identifier 'ORKPSATPresentationModeVisual'.

[2015-11-30 18:42] YuanZhu-apple commented on #390
@sunnyliyanbo1357
Are you using Swift? This is the format for swift:
[code]

[2015-11-30 21:24] #572 closed

[2015-11-30 21:24] #571 closed

[2015-12-03 00:35] umerkhan-apple commented on #134
@flarmed I wanted to see if you were able to shape this up into an active task? This is quite an interesting feature. If you're stuck and would like some help completing it, feel free to post your progress in a separate branch for us to take a look at.

[2015-12-04 02:06] umerkhan-apple opened #576 "All answer formats should have a way to remove the answer."
Currently, only a few answer formats have the functionality to unselect an option such as eligibility, value picker, or text answer. All answer formats should have a way to remove/delete the answer after the user has provided an answer. This is needed because we recently introduced optionality to `ORKFormItem`.

#### Use case
Let's say there is a form question step that is non-optional (required),

[2015-12-05 10:23] oliverschaefer opened #577 "Revise Date Formatter Implementation"
`ORKAnswerFormat` uses multiple instances of date formatters, which basically do similar work. They need to be consolidated and proper localization support must be provided.

[2015-12-08 20:24] remypanicker commented on #577
@oliverschaefer If I'm inferring your proposed solution properly, you're implying that there should be a single date formatter, and the date format of that cached instance should be set depending on the formatting requirements. I believe the different date formatters are cached properly because setting the date format on an instance of `NSDateFormatter` is almost as slow as creating a new instance

[2015-12-08 20:29] oliverschaefer commented on #577
@remypanicker Thanks for your comment. My concerns aren't that much about performance. A single date formatter instance should make it easier for developers to understand/add to the framework. Besides that, the current implementation has some drawbacks in terms of localization. We are having a lengthy discussion with @YuanZhu-apple @umerkhan-apple @md0u80c9 about this one. Please see #463 for more

[2015-12-08 21:20] YuanZhu-apple commented on #577
@oliverschaefer Can you make a list of dateFormatters usage in `ORKAnswerFormat.m`?

[2015-12-08 21:51] oliverschaefer commented on #577
@YuanZhu-apple Here you are:
- <b>`ORKDateAnswerFormat`</b> has a `resultDateFormatter` method, which uses `ORKResultDateFormatter`, `ORKResultTimeFormatter` and `ORKResultDateTimeFormatter`
- <b> `ORKTimeIntervalAnswerFormat` </b> uses `ORKTimeIntervalLabelFormatter` which is basically a `NSDateComponentsFormatter`

My concerns are mostly about localization. The `ORKResult...Formatters` set an ex

[2015-12-08 22:08] YuanZhu-apple commented on #577
@oliverschaefer I did a quick scan, `resultDateFormatter`, `stringFromDate:` and `dateFromString:` on `ORKDateAnswerFormat` is not being used in anywhere. Can you confirm?

[2015-12-09 08:36] oliverschaefer commented on #577
@YuanZhu-apple I'm currently using it in #463, but didn't see it elsewhere.

[2015-12-09 19:05] YuanZhu-apple commented on #577
@oliverschaefer If you are the only consumer, feel free to modify it.

[2015-12-09 22:48] p2 commented on #558
Having the same issue, although not quite this dramatic. Interestingly when I make the overlapping text longer, the legend breaks to two lines and no longer overlaps.

[2015-12-09 22:58] YuanZhu-apple commented on #558
@p2 There is a calculation bug at https://github.com/ResearchKit/ResearchKit/blob/7f106898e23dd00057dc08a77591913f851f6bd7/ResearchKit/Charts/ORKCenteredCollectionViewLayout.m#L49

The last `attributes` should be `lastItemAttributes` instead.
My fix will be shipped with our next release, if you can't wait, just try it in your repo.

[2015-12-09 23:37] p2 commented on #558
Ah cool, thanks. I can wait (for now).

FWIW, I was about to submit a pull request to be able to customize the fonts. But seemed overkill, all I’d want to change is the caption fonts to be footnote, because they’re really small (percentages and legend). Are you married to the idea to keep these caption fonts or could they be the slightly larger footnote fonts?

[2015-12-11 09:35] huguesbr opened #578 "Customize fonts?"
Any advices in order to customize the look and feel of RK?

It's too bad all the UI is built in `viewDidLoad` which make it really hard to customize. Any plan to switch (at least partially) to `IB` or anything to make it more customizable?

Regarding font, I've see that your using some global helper function (like `ORKLightFontWithSize`) and most of UI classes are compliant to the `ORKDefaultFont`

[2015-12-11 14:54] huguesbr commented on #578
@YuanZhu-apple I'm happy to tackle this project if you think it may worth it and give me some suggestion about it :) keep me posted.

[2015-12-12 03:14] remotevision opened #579 "UILabel tint color within ORKTaskViewController"
I am trying to apply a global color scheme throughout my app but am having a challenge changing the tint color of labels within a ```ORKQuestionStep``` of a task.

Set tint color at UIView
```UIView.appearanceWhenContainedInInstancesOfClasses([ORKTaskViewController.self]).tintColor = UIColor().darkPurple```

Also tried setting tint color at UILabel
```UILabel.appearanceWhenContainedInInstancesOfCl

[2015-12-12 04:10] EricSiegNW opened #580 "Unable to set ORKTaskViewController navigationBar barStyle"
When creating an ORKTaskViewController and setting everything up, it IS possible to change the barTintColor via a simple vc.navigationBar.barTintColor = [UIColor someColor];

If that barTintColor is a dark color, you would normally want the barStyle to be UIBarStyleBlack so that the user can still see their battery/time/cellular connection/etc.

However, if I try vc.navigationBar.barStyle = UIBarS

[2015-12-14 12:36] huguesbr commented on #578
I've swizzle a bunch of UIFont methods like `systemFontOfSize:`, `systemFontOfSize:weight:` and do something looking like this:

[code]

That was the "fastest" way but surely not the cleanest one.
With current implementation of RK it's hard to do much better..

[2015-12-16 00:07] YuanZhu-apple commented on #578
@huguesbr Your approach make sense to me. Current RK does not have a clean way to support custom font.

[2015-12-16 00:29] YuanZhu-apple commented on #580
@EricSiegNW `ORKTaskViewController` uses `UINavigationController` as a its child view controller, so it behaves a little weird.

Quick workaround would be adding something like this to ORKTaskViewController.m

[code]

[2015-12-16 00:30] YuanZhu-apple commented on #579
Yes, that's expected, only the selected label get tint color.

[2015-12-16 09:14] huguesbr commented on #578
@YuanZhu-apple not the best solution.. but it work... do you have any plan to improve UI customization of RK? I'm dreaming of some `XIB`...

[2015-12-16 18:06] YuanZhu-apple commented on #578
@huguesbr Can you explain what do you want to do with the `XIB` file? Let RK ship with build in `XIB` or let RK compatible with `XIB` in your app?

[2015-12-16 19:26] swaffoja opened #582 "Refreshing chart data"
I have a `ORKLineGraphChartView` chart that needs to update when a user taps a segmented control. I am trying to identify the best way to force a refresh. The only way I have found to refresh the chart is to re-set the dataSource. Two questions:

1) Is there a better way to update a chart?
2) Is there a way to animate chart changes?

    func dateRangeDidChange(sender:UISegmentedControl) {

[2015-12-18 10:49] rsanchezsaez commented on #582
1) You're correct, the proper way of updating the chart at the moment is re-setting the `dataSource`. Implementing a `reloadData` method may be a good idea.

2) Did you try calling `-animateWithDuration:` after setting the new `dataSource`? What happens if you do that?

[2015-12-18 15:06] swaffoja commented on #582
1) Thanks for the confirmation
2) I thought I tried it, but clearly did not. `-animateWithDuration:` after setting the new `dataSource` does in fact animate the chart.

Thanks!
Jonathan

[2015-12-18 15:06] #582 closed

[2015-12-20 14:42] PedroMaganinho opened #584 "Line Charts"
Hello,
I am having a problem with my charts.

I have 2 charts. The first one represent IPSS score over the time. The second represent IIEF-5 score over the time.

With my code
    if(ipssPoints.count && iiefPoints.count) {
        self.plotPoints = @[ipssPoints, iiefPoints];
        self.graphCells = @[[self createGraphCellWithTag:0 andTitle:@"IPSS"],
                            [self createGraphC

[2015-12-21 12:19] md0u80c9 opened #585 "Include of non-modular header when creating new chart type (Radar)"
Hi all,

Wonder if you could help. I need to add a radar chart type - which I thought would be a nice addition to ResearchKit in any case so have created a branch for this which I'm working towards becoming a PR.

I've duplicated all of the Pie source files, and changed all instances of Pie to Radar - we have ORKRadarChartRadarView.h etc. The plan was to get to a build that I could add a 'duplicat

[2015-12-21 14:57] rsanchezsaez commented on #585
Can you check that your newly added `ORKRadarChartRadarView.h` header is set to *public* in the *Framework target membership*? See the right hand panel of the screenshot below.

![screen shot 2015-12-21 at 14 54 57](https://cloud.githubusercontent.com/assets/444313/11933270/d7dcb29e-a7f2-11e5-82b6-1842f928d7ed.png)

If that doesn't help, upload your non-working branch and I'll have a look.

[2015-12-21 15:00] rsanchezsaez commented on #584
This looks like a problem with your code, as opposed to an issue within *ResearchKit*.

Anyway, if you could show more code we may be able to help, namely, the content of `createGraphCellWithTag:andTitle:` function, and how the `self.plotPoints` property is used by the graphs.

Also, please format your code so it's easier to read (surround it by three backticks: ```).

[2015-12-21 15:13] rsanchezsaez commented on #543
Your problem is that `NSJSONSerialization` is used to output JSON formatted strings, not CSV ones. You may want to manually format your own CSV according to your needs (apparently you have some code to that end there when updating `outputString`).

You can read more about string formatting [here](http://rypress.com/tutorials/objective-c/data-types/nsstring). Anyway, I think this is a more general

[2015-12-21 15:28] md0u80c9 commented on #585
Ah - perfect. Done that and compiles nicely now. Right - time to play with the drawing functions!

[2015-12-21 15:28] #585 closed

[2015-12-21 15:54] PedroMaganinho commented on #584
My code is here:
[code]

[2015-12-21 16:52] rsanchezsaez commented on #585
:+1:

If you have any questions about the code in `ORKPieChartView` and friends, let me know and I may be able to help.

[2015-12-21 16:55] md0u80c9 commented on #585
Thanks - I’ll definitely take you up on that!

We now have a Pie chart that pretends it’s a radar map, so that’s a good start. Next up will be to draw the radar map over the top of the pie chart and see how we go from there :-).

[2015-12-21 16:58] rsanchezsaez commented on #584
Can I see your implementations of the `-graphChartView:pointForPointIndex:plotIndex:` and  `-graphChartView:numberOfPointsForPlotIndex:` `dataSource` methods? I feel the problem may be in those, since it looks you are returning the same set of points for both graphs.

[2015-12-21 21:37] oliverschaefer opened #586 "ORKStepViewController - hide done button"
The current implementation of RK shows a done button once the last step of a task is presented. Once the user taps this button the delegate method `didFinishWithReason:` gets called. On the iPhone this method will most likely contain a `dismissViewController: animated:` call to end the (modal) presentation of the current task view controller.

Larger display sizes (iPad, iPad Pro, iPhone 6s Plus)

[2015-12-22 00:32] PedroMaganinho commented on #584
@rsanchezsaez i solve my problem. thanks for your help

[2015-12-22 11:04] rsanchezsaez commented on #584
No problem. It'd be good if you could close the issue ('Close Issue' button next to the green 'Comment' one).

[2015-12-22 11:51] #584 closed

[2015-12-29 03:04] dhanushram opened #589 "ORKGraphChartView checks wrong delegate method for respondsToSelector"
In `ORKGraphChartView`, we have the following code (line 1073, in `_axCreateAccessibilityElements` method):

        if ([_dataSource respondsToSelector:@selector(pieChartView:titleForSegmentAtIndex:)]) {
            element.accessibilityLabel = [self.dataSource graphChartView:self titleForXAxisAtPointIndex:pointIndex];

The below should read as below checking the appropriate delegate: `graphChart

[2015-12-30 20:57] #586 closed

[2016-01-04 18:40] YuanZhu-apple commented on #589
Good catch, thx!

[2016-01-05 01:33] rsanchezsaez commented on #224
This can be closed as the feature was implemented and merged.

[2016-01-05 01:34] YuanZhu-apple commented on #224
Yes.

[2016-01-05 01:34] #224 closed

[2016-01-05 01:36] rsanchezsaez commented on #400
I think this may be closed, unless somebody is able to reproduce it.

[2016-01-05 01:37] YuanZhu-apple commented on #400
Closed.

[2016-01-05 01:37] #400 closed

[2016-01-05 01:51] rsanchezsaez commented on #402
The docs have finally been updated, and I just submitted a PR solving the subclassing issue. Props to @chrisvariety for the solution.

[2016-01-05 01:56] rsanchezsaez commented on #492
What are the steps to reproduce? I don't see it on the *iPhone 6 Plus Simulator*.

[2016-01-05 02:06] rsanchezsaez commented on #499
@EdCA3: If you read more about *Objective-C* and *Swift*, and look at side-by-side snippets or examples, it's possible to figure out how to figure out what's happening on *Swift* and try to re-implement it on *Objective-C*.

If you are still struggling, I'd suggest posting a more specific question on the [ResearchKit forum](https://forums.developer.apple.com/community/researchkit) or on [StackOver

[2016-01-05 02:07] rsanchezsaez commented on #502
@md0u80c9: Did the merged PR help? If that's the case, I believe this PR can now be closed.

[2016-01-05 02:10] rsanchezsaez commented on #539
Sorry for the late reply. This seem to have been resolved on *iOS 9.2*. Closing.

[2016-01-05 02:10] #539 closed

[2016-01-05 02:14] rsanchezsaez commented on #544
The first time the user launches the app, you could persistently the current date and time (for example, by saving them to `NSUserDefaults`, for example). You could also store the number of app launches there.

Then, you could check against the stored values, and depending on the desired condition you could create and present a custom `ORKTask` with the desired content (consent, basic information,

[2016-01-05 02:18] rsanchezsaez commented on #558
I believe this can be closed as it correctly works on `master`. Thanks for the fix!

[2016-01-05 23:54] YuanZhu-apple commented on #492
Closing it. I can't reproduce for now.

[2016-01-05 23:54] #492 closed

[2016-01-06 00:11] YuanZhu-apple commented on #499
I will close this one, once we get the charts documentation done.

[2016-01-06 00:13] YuanZhu-apple commented on #558
Yes, it has been fixed in https://github.com/YuanZhu-apple/ResearchKit/commit/d87372923b608613ce7a0d94366bcd29f4df5169

[2016-01-06 00:13] #558 closed

[2016-01-06 00:14] #589 closed

[2016-01-06 00:18] YuanZhu-apple commented on #562
Fixed by @rsanchezsaez.

[2016-01-06 00:18] #562 closed

[2016-01-06 00:24] #402 closed

[2016-01-06 06:19] md0u80c9 commented on #502
Yes - looks like it has.

Sorry for not responding sooner - have been a bit tied up past few weeks! Thanks for your work on this!

[2016-01-06 06:19] #502 closed

[2016-01-07 20:41] scdi commented on #321
Are we now able to record video as seen in the Autism & Beyond app?

[2016-01-07 22:27] YuanZhu-apple commented on #321
@scdi The video recording feature is not there yet. Can you talk about your use case?

[2016-01-07 22:43] scdi commented on #321
It would be quite similar to the comment above. We would probably have single take, no repeats, to avoid rehearsing. The goal is for analysis of emotions and sensations through artificial intelligence applications.

[2016-01-07 23:26] directvox commented on #321
We did implement video in our RK app but unfortunately outside the RK
framework. There are many think to consider with video. For example since
video are big files, it takes time to upload it to the server. So you must
plan that the user will close the app in the middle of an upload.

If RK go ahead in creating video active task, I will add on my wish list
that converting it in mpeg4 or a differen

[2016-01-07 23:39] YuanZhu-apple commented on #321
@scdi Do you expect it to be very similar to our existing `image capture step`?
 - Simply let user shoot a short video and replay it before confirming it.
 - No real time video analysis.
 - Developer obtain the video file url in result object.

[2016-01-07 23:54] YuanZhu-apple commented on #321
@directvox Yes, the app should cache anything is pending for uploading.

Maybe you can use a `ORKWaitStep` to let user wait while you are converting video to the desired format.

[2016-01-08 01:20] scdi commented on #321
Yes. That would work perfectly. I agree that we could simply let user shoot
a short video and replay it before confirming it. The video file url could
be obtained via file url in result object. That would be great for now.

On Thu, Jan 7, 2016 at 6:55 PM, Yuan Zhu <notifications@github.com> wrote:

[2016-01-08 20:41] scdi commented on #321
At the end, is this something that we could see implemented soon?

[2016-01-08 21:17] YuanZhu-apple commented on #321
@scdi We can try to put this into our pipeline.

[2016-01-12 22:48] scott-ce opened #600 "ORKDiscreteGraphChartView crashes upon instantiation in playground"
ORKDiscreteGraphChartView crashes with an array index out of bounds error if layout is triggered before a data source is set. This condition should probably be handled more gracefully, especially because it prevents working with ORKDiscreteGraphChartView in a playground: as soon as the view is instantiated, the playground attempts to generate a quick look version before evaluating subsequent lines

[2016-01-12 23:21] YuanZhu-apple commented on #600
Yes, we should make `Chart` module playground friendly.

[2016-01-14 01:20] #579 closed

[2016-01-14 01:22] YuanZhu-apple commented on #577
@oliverschaefer Is this one OK to be closed?

[2016-01-14 01:26] YuanZhu-apple commented on #547
Maybe we can add an `image` beneath the `textLabel`?

[2016-01-14 01:26] #544 closed

[2016-01-14 01:28] YuanZhu-apple commented on #499
http://researchkit.org/docs/docs/Charts/ChartsAndGraph.html

Chart's documentation is available now.

[2016-01-14 01:28] #499 closed

[2016-01-14 01:29] YuanZhu-apple commented on #479
@md0u80c9 @oliverschaefer Anyone of you want to start working on this one?
Since I finally merged #463 ...

[2016-01-14 18:58] #577 closed

[2016-01-14 18:59] oliverschaefer commented on #479
@YuanZhu-apple Yep, me.

[2016-01-14 21:03] rsanchezsaez commented on #600
Thanks @scott-ce, excellent bug report. I'll look into this.

[2016-01-14 22:24] oliverschaefer commented on #479
@YuanZhu-apple What do you think about this general design:
- Collect all printable information (title, answers etc.) and store it in a dictionary
- Format the information in that dictionary to actually "print" the results

We could introduce an `ORKPrintable` protocol, with a `printableInfoWithResult:` method that returns the dictionary. Every entity that conforms to that protocol (task, step) pr

[2016-01-14 22:32] oliverschaefer commented on #89
@YuanZhu-apple Close this one?

[2016-01-14 22:33] #89 closed

[2016-01-14 22:47] rsanchezsaez commented on #535
This sounds like a good idea, as it would add some nice flexibility of `ORKNavigableOrderedTask`.

One relatively simple solution I can think of could be keeping the current `stepNavigationRule` machinery in place (as they effectively are *post step* rules), and then adding the following *APIs*:

    - (void)setSkipNavigationRule:(ORKStepNavigationRule *)stepNavigationRule forStepIdentifier:(NSStr

[2016-01-14 23:32] YuanZhu-apple commented on #535
@rsanchezsaez Thanks for the suggestion.
In existing API: `- (void)setNavigationRule:(ORKStepNavigationRule *)stepNavigationRule           forTriggerStepIdentifier:(NSString *)triggerStepIdentifier;`,

`stepNavigationRule` defines the next step of `triggerStepIdentifier`.

Can you clarify how the new API works? Is `stepIdentifier` the step to be skipped or the step triggering the rule?

[2016-01-14 23:53] #600 closed

[2016-01-15 00:33] rsanchezsaez commented on #535
Ah, you are right, my explanation was not very clear. `stepIdentifier` is both the *step triggering the rule* and the *step to be potentially skipped*, as they are the same. For this, we need a new type of skip navigation rule, which doesn't have any *destination step*:

    @interface ORKNavigableOrderedTask : ORKOrderedTask

    ...

    - (void)setSkipNavigationRule:(ORKSkipStepNavigationRule *

[2016-01-15 00:44] YuanZhu-apple commented on #479
@oliverschaefer Thanks for thinking about this feature.
1. Prefer to use `ORKStep`/ `ORKResult` pairs in an array as input
2. Let `ORKPrintFormatter` deal directly with native objects, then we don't need `ORKPrintable`(I guess?)
3. Try not to create dependency with other 3rd party framework.

[2016-01-15 00:53] rsanchezsaez commented on #582
@swaffoja: In case this is still of interest, I implemented the `reloadData` methods on the just merged [Pull Request #602](https://github.com/ResearchKit/ResearchKit/pull/602), so you can use that one instead of re-setting the `dataSource` (although re-setting it continues to just work fine).

[2016-01-15 00:56] rsanchezsaez commented on #531
This is a good idea, I may look into it at a later date.

[2016-01-15 00:57] YuanZhu-apple commented on #535
@rsanchezsaez Thanks for the API draft!
Looks good to me.  Feel free to give a stab.

[2016-01-16 19:52] p2 opened #603 "ORKDirectStepNavigationRule cannot be initialized with nil from Swift"
The docs say to pass `nil` for the step identifier to jump to if the task should end prematurely. However, since the header file is wrapped in `NS_ASSUME_NONNULL` and the initializer does not specify _nullable_, it's not possible to pass nil to the initializer ([line 196](https://github.com/ResearchKit/ResearchKit/blob/master/ResearchKit/Common/ORKStepNavigationRule.h#L196)). Same problem with the

[2016-01-16 20:12] rsanchezsaez commented on #603
That's mistake in the documentation, you should pass `ORKNullStepIdentifier` instead of `nil` for building a rule that ends the task. I'll update the docs in a new PR.

[2016-01-16 21:01] p2 commented on #603
Aaaah I see. Thanks for clarifying!

[2016-01-19 14:20] swaffoja commented on #582
Thanks! I'll switch to reloadData for clarity.

[2016-01-20 10:15] huguesbr commented on #578
@YuanZhu-apple well I would like to be able to setup the UI elements in a `XIB` rather than having `RK` fixing the design in code. I do understand that there is some requirement on the UI but a xib would still allow some extra customization.
I've done something similar for the `ParseUI-iOS`, check it out here: https://github.com/ParsePlatform/ParseUI-iOS/pull/229

The main idea would be to allow t

[2016-01-20 23:22] YuanZhu-apple opened #607 "Data storage for keeping the data before it gets uploaded."
- It takes `NSData *` or `Files` and save them in the disk.
- App's uploader can retrieve them and delete them once uploading it done.

[2016-01-20 23:26] YuanZhu-apple opened #608 "Passive health data collection module"
- Fetch pre-specified types of data from HealthKit (Once a day), and send to its delegate.
- App can decide how to use these data.

[2016-01-21 05:33] md0u80c9 commented on #607
I used CoreData for my app for this purpose with 'RKResults' as the entity and the result stored in an attribute as a transformable. : you can then add 'createdDate', 'uploadedDate', 'surveyName' as attributes.

[2016-01-21 05:35] md0u80c9 commented on #608
Yes this will be really helpful.

[2016-01-22 19:00] scott-ce opened #609 "Account creation flow"
We tried switching to the new account creation code added to ResearchKit, but are running into a couple issues:

 * Unable to continue past ORKVerificationStep
 * Canceling account creation prompts the user to discard data, as though it’s a questionnaire.

First, the verificationRedesign work that was done in December (https://github.com/ResearchKit/ResearchKit/commit/88543a14d6c6b2e414cf6aa5ce79d

[2016-01-22 19:30] umerkhan-apple commented on #609
@scott-ce Hey Scott.

The account creation flow is as such. The user uses the registration step to provide some data, which the developer uses to create an account on their server. Once the account is created, the user is shown a verification step (which is optional--whether or not you require email verification). If you do require email verification, then the screen serves as a placeholder and pr

[2016-01-22 19:54] scott-ce commented on #609
Hi Umer, thanks for the quick reply.

For account creation, if we go through the flow as is, the account creation screen calls the server to create the account which also sends the user an email (assuming email verification happens), and we then advance to the email verification screen. It would be impossible for the user to act on that email before the verification screen appears. Of course, if t

[2016-01-22 21:30] umerkhan-apple commented on #609
@scott-ce  The use case you explained makes sense. Initially, that was the design for the `ORKVerificationStep`. I believe adding a label saying "If verified, tap below.", and adding the `Continue` button underneath that label will fix the issue. I'll discuss this change with the team.

[2016-01-22 21:32] scott-ce commented on #609
That would certainly cover our needs. Thanks.

[2016-01-23 22:19] huguesbr commented on #578
@YuanZhu-apple does this seem ludicrous to you? I can start drafting something if you think that work with RK logic.
I think it will be great if RK don't impose UI but make design logic easier.

[2016-01-25 18:19] YuanZhu-apple commented on #578
@huguesbr Can you show me some sample code for how to use `ORKTaskViewController` in xib?

[2016-01-26 06:50] Natelegreat1 commented on #609
+1 For what it is worth, I would also very much appreciate the change.

[2016-01-26 08:38] huguesbr commented on #578
Ideally just as any controller initialized with a nib:

Something like:

[code]
Then the ORKTaskViewController will need to decide to draw the interface or not.

[2016-01-26 15:06] scott-ce opened #610 "Building master via Cocoapods fails"
I tried updating to the latest master in order to get the updates for PR #602 (we were running into the same layout issue displaying a chart in a table cell before the data source can fetch HealthKit data). Unfortunately, I'm unable to compile RK master because of a header issue: ORKWaitStepView.h fails to import ORKVerticalContainerView.h, because the latter isn't exposed as a public header.

In

[2016-01-26 15:20] scott-ce commented on #610
FYI, I updated the Steps to Reproduce section to reference the latest commit on master. The original report had a copy/paste error that might have made it more difficult for you to reproduce.

[2016-01-26 18:44] YuanZhu-apple commented on #578
@huguesbr `ORKTaskViewController` can be init with Nib. And developer has to set a `task` object to it later.

[2016-01-26 19:27] #603 closed

[2016-01-26 19:29] huguesbr commented on #578
@YuanZhu-apple, thank you, I see but how does that play with the UI presented by the `ORKStepViewController`. Sorry if I may have mislead you by mentioning `ORKTaskViewController`...

My goal is to customize (slightly) the UI of some basic step (like `ORKQuestionStepViewController` with a `ORKTextChoiceAnswerFormat`) using different fonts and font sizes (and others minors adjustments).

So I guess

[2016-01-26 19:31] YuanZhu-apple opened #613 "Unit tests failed due to `ORKReviewStep` serialization testings."
Test: testORKSecureCoding in ORKJSONSerializationTests failed on iPhone 6s
Assertions: failed: caught "NSInvalidUnarchiveOperationException", "Class 'ORKReviewStep' has a superclass that supports secure coding, but 'ORKReviewStep' overrides -initWithCoder: and does not override +supportsSecureCoding. The class must implement +supportsSecureCoding and return YES to verify that its implementation of

[2016-01-26 19:36] rsanchezsaez commented on #613
This [Pull Request](https://github.com/ResearchKit/ResearchKit/pull/604) I submitted some days ago fixes this.

[2016-01-28 04:35] khanxc opened #614 "Undefined symbols for architecture x86_64 ORKESerializer"
[code]
Having this issue in Xcode 7.x +, Swift 2.x

[2016-01-31 09:43] oliverschaefer commented on #479
@YuanZhu-apple Hey Yuan, I've given some thought to this issue. Here is the class hierarchy that I came up with so far
![researchkitprintuml](https://cloud.githubusercontent.com/assets/13077832/12701344/37c28bb4-c807-11e5-87fb-3ce06d12214e.png)
What do you think?

[2016-02-01 19:08] YuanZhu-apple commented on #479
@oliverschaefer Thanks!

This make sense to me.
I would be nice to optionally give developer a chance to override default step printing behavior in the delegate.

Support multiple printing style can complicated. Do you have some idea in mind?

[2016-02-01 19:57] oliverschaefer commented on #479
@YuanZhu-apple do you mean the ORKPrintFormatterStyle enum? Let's look at choice questions for example. Short style: print only the selected choice, long style: print all choices and highlight selected choice. I'm not sure yet if we really need medium style.

[2016-02-01 21:48] YuanZhu-apple commented on #479
Maybe we can make `ORKPrintFormatterStyle` more descriptive, like
 - Include original question
 - Include all choices
 - Include timestamp for each step

And you might also want to consider what if the output html contains images.

[2016-02-01 23:31] oliverschaefer commented on #479
You are right, should we use an NS_Options bit mask for the print formatter style instead?

Can you help me find suitable options that we should include?

Von meinem iPhone gesendet

[2016-02-02 19:53] scott-ce commented on #610
Believe it's okay to close this. Resolved by PR #612

[2016-02-02 19:53] #610 closed

[2016-02-03 00:12] u84six opened #616 "toneAudiometryTaskWithIdentifier includes speech instructions"
Is this a copy and paste issue? Not sure what speech instructions have to do with tone audiometry.

[2016-02-03 18:20] YuanZhu-apple commented on #616
https://github.com/ResearchKit/ResearchKit/blob/dd4e4fdbceee1c876f3d83a8668d1117b8d4dc21/ResearchKit/Common/ORKOrderedTask.m#L814

It's optional.

[2016-02-03 18:23] YuanZhu-apple commented on #479
`NS_Options` Yes.
Feel free to make up a list to fit your use case:)

[2016-02-03 20:17] oliverschaefer commented on #479
I think it would be the easiest if we start with a mockup of the styled html output. Do you prefer a special tool for that? Or is there a dedicated design team at Apple that could help? (Guess Mr. Ive is too busy... :-) )

[2016-02-03 21:54] YuanZhu-apple commented on #479
I guess we can start with plain html (something similar in consent PDF generation). But give developer the opportunity to attach their own CSS style sheet.

[2016-02-04 00:31] #616 closed

[2016-02-04 00:36] u84six opened #617 "When calling presentViewController for any ORKTaskViewController causes landscape mode"
I'm trying to show all the screens in portrait, but when I present any of the surveys, consent, activities, it's  forcing the screen to go in landscape mode. This happens on iPhone 6, 5, 4...

[2016-02-04 01:45] YuanZhu-apple commented on #617
Have you tried with project settings to limit app supported orientations?
![screen shot 2016-02-03 at 5 44 03 pm](https://cloud.githubusercontent.com/assets/11466704/12803237/c4af2f30-ca9d-11e5-8c39-bf7dca5d1898.png)

[2016-02-04 02:42] u84six commented on #617
Well my app needs a mix. The problem is that the presenter is in portrait and when I call presentViewController with any rk view controller, it switches to landscape. That shouldn't be the default behavior. Is this a defect?

[2016-02-04 16:40] u84six commented on #617
This one has been resolved. The problem that my previous screen had a slight autolayout issue that I couldn't even see that was causing the next screen to go into landscape. Kind of a strange side effect for iOS.

[2016-02-04 16:41] #617 closed

[2016-02-05 19:47] p2 commented on #607
FWIW, we have implemented a `DataQueue` in our framework that works similarly to what's envisioned here. It transparently creates a FIFO queue in case upload fails.

https://github.com/chb/c3-pro-ios-framework/tree/master/Sources/DataQueue

(yes, it's finally open source!)

[2016-02-09 03:36] ctarda commented on #561
I would like to open a PR on this one, but since this would be my first attempt to contribute, I am not completely sure about the scope.

I assume this issue is about storing the timestamp when the button is released as a property in the sample (ORKTappingSample), and expose a property in ORKTappingSample to obtain the duration, plus tests coverage.

Is that correct?

[2016-02-09 04:08] Natelegreat1 commented on #574
I think this item can be closed :)
"userInput" works perfectly in v1.3

[2016-02-09 05:02] #574 closed

[2016-02-11 19:40] JohannMG commented on #494
Was this addressed or solved? I still often get this message still on live devices in testing.

[2016-02-11 19:42] YuanZhu-apple commented on #494
Not yet.

[2016-02-16 16:40] scdi commented on #321
Hi,

I am checking-in to get an update on this. Thank you for putting this in
your pipeline.
I am wondering if we have a possible time frame for its implementation.

jude

On Fri, Jan 8, 2016 at 4:17 PM, Yuan Zhu <notifications@github.com> wrote:

[2016-02-18 20:28] md0u80c9 commented on #479
Hi YuanZhu and oliverschaefer,

Really sorry I haven't contributed to this discussion for a couple of weeks - paid work getting in the way!

You might want to look at what I've done with my app, CaseNotes, where I've implemented printing support. Bear in mind some of the results have to be heavily customised, and the code itself has been built around protocol-orientated Swift rather than Objective

[2016-02-18 20:29] md0u80c9 commented on #535
Yes this looks good to me @rsanchezsaez !

[2016-02-18 21:45] oliverschaefer commented on #479
@md0u80c9 Hi Andrew, thanks for the update. Nice to hear that you made some progress with your own work. I've been busy treating patients and couldn't add much to the existing discussion, either. At the moment I'm thinking about a smart way to generate plain html output. The easiest (I think) would be some sort of a template engine. Yet, @YuanZhu-apple reminded me, that we shouldn't create depende

[2016-02-23 18:10] milifili opened #622 "ORKGraphChartView / xAxis / Color Problem"
I just add the following line into ORKCatalog sample project to change the global appearance of UIView :
[code]
The result:
![simulator screen shot feb 23 2016 18 06 13](https://cloud.githubusercontent.com/assets/5347193/13261503/40b00c34-da58-11e5-8d51-3957d75ef436.png)

By the way, I think the solution is as easy as adding a line to ORKGraphChartView.m file :
[code]

[2016-02-24 21:55] joeborelli opened #623 "Signature Line UI element problem precluding consent..."
There's not enough space below the signature line.  Most signatures will be cut off.
![image1](https://cloud.githubusercontent.com/assets/17461886/13302340/60ef2c9a-db17-11e5-985c-e64d697b9789.PNG)
![image1](https://cloud.githubusercontent.com/assets/17461886/13302349/6faebc00-db17-11e5-92e2-ee454fa010e3.PNG)

[2016-02-25 00:19] YuanZhu-apple commented on #623
@joeborelli Yes, currently the line is at 10%  to the bottom of drawable area. Do you think it should be moved to 20% to the bottom?

To make the change, you only need to modify these two lines:
https://github.com/ResearchKit/ResearchKit/blob/7f106898e23dd00057dc08a77591913f851f6bd7/ResearchKit/Consent/ORKSignatureView.m#L222
https://github.com/ResearchKit/ResearchKit/blob/7f106898e23dd00057dc08a7

[2016-02-25 00:28] joeborelli commented on #623
Dear Yuan,

I’ll let our developer (Pablo at YML) answer that (pull request), but we do want much more space below the line so that signatures are not cut off.  I’d say 30% at least for flamboyant signatures (e.g. John Hancock)!

Thank you for the prompt response!

A. Joseph Borelli, Jr., M.D.
Board of Directors
American Sleep Apnea Association
www.sleepapnea.org <http://www.sleepapnea.org/>
www.s

[2016-02-25 15:17] adam704a opened #624 "Display an image grid with ORKImageChoiceAnswerFormat"
Hello,

For a question I am implementing  I have 16 images that I would like to present in a 4 x 4 grid.

The [documentation](http://researchkit.org/docs/Classes/ORKImageChoice.html) for ORKImageChoice indicates that "typically, image choices are displayed in a horizontal row" , but I don't want that.  How can I layout the images in a grid?

Here is my code thats is displaying the images inline:

[2016-02-25 22:19] YuanZhu-apple commented on #623
@joeborelli Can you ask Pablo to make a Pull Request? It would be more efficient to submit the change from your side.

I guess only two lines need to be changed:
https://github.com/ResearchKit/ResearchKit/blob/7f106898e23dd00057dc08a77591913f851f6bd7/ResearchKit/Consent/ORKSignatureView.m#L222
https://github.com/ResearchKit/ResearchKit/blob/7f106898e23dd00057dc08a77591913f851f6bd7/ResearchKit/Cons

[2016-02-25 22:22] joeborelli commented on #623
He was copied.  Is this urgent?

[2016-02-25 22:28] YuanZhu-apple commented on #623
Not at all, just leave this issue open and we can make this change in next
release by ourself.

On Thu, Feb 25, 2016 at 2:22 PM, joeborelli <notifications@github.com>
wrote:

[2016-02-25 22:34] joeborelli commented on #623
We have implemented this change on our side.

On Thursday, February 25, 2016, Albert Borelli Jr <joeborelli1@mac.com>
wrote:

--
*Pablo C. Arce*
Lead Program Manager - Y Media Labs
*917.536.1891*
pablo.arce@ymedialabs.com
www.ymedialabs.com

[2016-02-25 23:10] joeborelli commented on #623
Getting a pull request of the framework is way to risky at this point, so
we are modifying it from our side.  It allows for a safer solution at this
point.

*Pablo C. Arce*
Lead Program Manager - Y Media Labs
*917.536.1891*
pablo.arce@ymedialabs.com
www.ymedialabs.com

On Thu, Feb 25, 2016 at 2:34 PM, Pablo Arce <pablo.arce@ymedialabs.com>
wrote:

[2016-02-25 23:24] joeborelli commented on #623
Thank you!

A. Joseph Borelli, Jr., MD
Sent from my iPhone 6 Plus

[2016-02-26 16:31] ltartaglia commented on #547
I've a similar issue. If you implement this feature (add an image beneath the textLabel) you will solve my problem too. Thanks!

[2016-02-29 19:04] damato-digitalartefacts opened #627 "ORKVisualConsentTransitionAnimator fails to play animation"
I've noticed an issue that causes the ORKVisualConsentTransitionAnimator to fail to play its animation. This only occurs rarely on an iPhone, but I can reproduce it about 1 in 4 times on an iPad. I expect it has to do with timing or a race condition. I have seen the issue occur on physical devices, so I can say that it is not a simulator-only issue.

The essence of the problem is that in the [ORKV

[2016-03-01 11:35] rsanchezsaez commented on #627
Thanks for reporting this issue, and for investigating so thoroughly.

I did contribute some modifications to this code (including the current two semaphore design) a while ago to simplify the code and fix some issues.

The semaphores are there because two animations need to finish before the transition is marked as completed: iOS' default push transition and the visual consent custom animation. W

[2016-03-01 12:04] rsanchezsaez commented on #624
@adam704a: The *image choice answer format* doesn't currently provide support for this. You'd need to do a somewhat involved modification of the internals to support for this (you'd beed a way to specify how many columns/rows the grid would need, etc.)

A workaround I can think of, is using a form to display several individual *image choice answer format* on the same form, one for each row of your

[2016-03-01 12:18] rsanchezsaez commented on #614
Can you try with the tip of the `master` branch?

If the problem still persists, can you post a project reproducing the issue to *GitHub*?

[2016-03-01 12:28] rsanchezsaez commented on #622
Is it your issue that you want the `ORKGraphChartView` not to use the global tint color for the horizontal axis titles? If that's the case, you can manually set the desired `tintColor` to your `ORKGraphChartView` instance (which can be different from the global tint color).

Additionally, the *vertical axis title color* can be customized through the `verticalAxisTitleColor` property.

[2016-03-01 13:34] milifili commented on #622
Thanks for reply. If I set red color to property you said, the xAxis labels color doesn't change and remains as same as Global tint color!

    self.graphView.axisColor = [UIColor redColor];
    self.graphView.tintColor =   [UIColor redColor];
    self.graphView.verticalAxisTitleColor = [UIColor redColor];`

Only the xAxis line changes not labels! Please try to change xAxis label.

[2016-03-01 16:03] rsanchezsaez commented on #622
Oh, you are right! This is a bug. Thanks for spotting this.

The proper fix is modifying the following method in `ORKGraphChartView.m`:

[code]

I have included this fix as a part of the ongoing [Pull Request #160](https://github.com/ResearchKit/ResearchKit/pull/620).

[2016-03-03 03:29] Natelegreat1 opened #628 "ORKSpatialSpanMemoryStep in Wiki = 404"
http://researchkit.org/docs/Classes/ORKSpatialSpanMemoryStepViewController.html

The link to **ORKSpatialSpanMemoryStep** is giving me a 404...

[2016-03-06 18:44] milifili opened #630 "ORKLogin Step / Issue"
Hi, I've used the following code to create a login task with wait step as well:
    #pragma mark - Private method

[code]

I even changed the code as follow ( but doesn't matter ):

[code]

But I got this:

![test](https://cloud.githubusercontent.com/assets/5347193/13556189/566e8876-e3cb-11e5-85b8-3cd7553beef1.png)

Can you guess what is the problem?

[2016-03-07 01:43] philacolson opened #631 "Unable to add an image to a ORKQuestionStep"
I am having trouble adding an image to an ORKQuestionStep.

Is there a way I am overlooking that would pretty much insert an ImageView into the ORKQuestionStep like below?

![imageadded](https://cloud.githubusercontent.com/assets/802820/13559031/3c5ab5ca-e3dc-11e5-936e-89b7ab7c5f8c.png)

[2016-03-07 09:31] sharat opened #632 "What's the right approach to use 6-minute walk test (6MWT) in the background mode?"
Hello All,

Looks like ResearchKit doesn't support motion sensing when the phone is in background mode. For 6MWT, it's very unlikely that the app remains in Foreground.

Even the app has background mode enabled, 6WMT doesn't collect additional steps user walked in the background mode.

What's the right approach to solve this problem?

[2016-03-07 14:18] #631 closed

[2016-03-08 23:24] u84six opened #634 "Can I modify an ORKQuestionStepViewController so that it has additional views?"
I know that ORKStepViewController UI is generated based on the answer format. So how would I override the creation of the view so that I can add more controls? For example, be able to add a button on the screen that can be handled to do something when clicked, but the ORKQuestionStepViewController still behaves as usual (i.e. returns an answer result).

[2016-03-09 10:36] rsanchezsaez commented on #634
Have a look at [`ORKActiveStepViewController`'s `customView`](https://github.com/ResearchKit/ResearchKit/blob/master/ResearchKit/ActiveTasks/ORKActiveStepViewController.h#L72-L82) property. You could possibly add a subview including your custom controls there.

The issue is that `ORKActiveStepViewController` doesn't handle *questions*. You could have and *active step* with your custom controls, fo

[2016-03-09 10:39] rsanchezsaez commented on #628
Thanks for the report.

This is due to the lack of documentation in [`ORKSpatialSpanMemoryStep.h`](https://github.com/ResearchKit/ResearchKit/blob/master/ResearchKit/ActiveTasks/ORKSpatialSpanMemoryStep.h). We should probably add some minimal documentation there. Let's keep this issue open until that is done.

[2016-03-09 16:50] u84six commented on #634
I noticed that ORKQuestionStepViewController has an ORKQuestionStepCustomView. Is that the equivalent to ORKActiveStepViewController's customView?

[2016-03-09 17:24] YuanZhu-apple commented on #630
Do you able to reproduce it in our `ORKTest` app?
And which branch did you use?

[2016-03-09 17:33] YuanZhu-apple commented on #632
ORKRecorder does have background mode support: https://github.com/ResearchKit/ResearchKit/blob/7f106898e23dd00057dc08a77591913f851f6bd7/ResearchKit/ActiveTasks/ORKRecorder.m#L125-L138

When ORKRecorder starts, it start background mode for current app.

For additional information:
https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplication_Class/#//apple_ref/occ/instm/UIAppl

[2016-03-09 17:41] philacolson opened #635 "Select multiple images in ORKImageChoice/ORKImageChoiceAnswerFormat"
There looks to be a way to do this in the regular text answers, but is there a way to select multiple images?  The documentation mentions it allows only one, but how would i go about making multiple available to select?

[2016-03-09 17:45] YuanZhu-apple commented on #628
Thanks @rsanchezsaez !

[2016-03-09 17:56] YuanZhu-apple commented on #634
@u84six ORKQuestionStepCustomView would entirely replace the default questionView for the answer format. Not sure if that is the behavior you want.

Can you tell me more about your use case and  the button you want to add?

[2016-03-09 18:01] YuanZhu-apple commented on #635
`ORKImageChoiceAnswerFormat` hasn't been extend to support multi-choice yet.
I will add this to feature requests list.

[2016-03-09 18:41] philacolson commented on #635
Thank you for your quick reply!

Is there any way I can help the process?

On Wed, Mar 9, 2016 at 1:01 PM, Yuan Zhu <notifications@github.com> wrote:

[2016-03-09 18:45] YuanZhu-apple commented on #635
You want to spend some time create a PR?
I imagine `ORKImageChoiceAnswerFormat` can have an additional attribute `ORKChoiceAnswerStyle style` like `ORKTextChoiceAnswerFormat`.

[2016-03-09 20:12] u84six commented on #634
Let's say I want to add a button that launches a webpage or something so that they can read a doc before continuing the question step. Can that be done or is it best to just create my own ORKStep and ORKStepViewController?

[2016-03-09 20:18] YuanZhu-apple commented on #634
Have you tried learn more button with in RK?
<img width="376" alt="screen shot 2016-03-09 at 12 14 30 pm" src="https://cloud.githubusercontent.com/assets/11466704/13649047/888d51da-e5f0-11e5-961f-99ca880a664d.png">

In taskVC's delegate implement this two methods:

[code]

When get called in `learnMoreForStep:`, you can launch anything you want.

[2016-03-09 20:33] u84six commented on #634
Thanks for the suggestion. That might work.

[2016-03-09 21:09] u84six commented on #634
So it looks like I can enable it, set the title, and handle click. Can I replace the item with an icon? I see there's a defaultLearnMoreButtonItem, so how can I override that with my own button? I'm not finding a way to access the property.

[2016-03-09 21:29] YuanZhu-apple commented on #634
No, that's not supported.

[2016-03-10 19:37] #634 closed

[2016-03-14 12:27] rsanchezsaez commented on #531
Hey @YuanZhu-apple, I have been looking into this by drafting an API along the lines:

[code]

Where `ORKBlockStepNavigationRuleHandler` returns the *destination step identifier* you want to jump to. However, I've noticed that this class won't be able to conform to `NSSecureCoding` since blocks cannot be archived. Similarly, the class would not play nice regarding JSON serialization.

Do you think

[2016-03-14 12:34] rsanchezsaez commented on #535
@md0u80c9 I have implemented this functionality in the above linked pull request, I hope it suits your needs.

[2016-03-15 18:14] rsanchezsaez commented on #90
I think this issue can now be closed as the aforementioned PR was merged.

[2016-03-15 21:54] YuanZhu-apple commented on #531
@rsanchezsaez The API design is OK with me.
Yes, I can see this rule won't support NSSecureCoding.

How about make a protocol for `identifierForDestinationStepWithTaskResult:`; let `ORKStepNavigationRule` adopt it. Then `ORKBlockStepNavigationRule` just need to implement the new protocol without conforming to `NSSecureCoding`.

Do you like this approach?

[2016-03-15 21:55] #90 closed

[2016-03-16 18:27] rsanchezsaez commented on #531
On one hand, `ORKPredicateStepNavigationRule` and `ORKPredicateSkipStepNavigationRule` support any kind of `NSPredicate` object, so an `NSPredicate` initialized with `predicateWithBlock:` will work just fine (I just tested them).

However, deceivingly, those `NSPredicate` cannot be encoded. This is happens when you try to encode one such predicate:

[2016-03-16 18:30] YuanZhu-apple commented on #531
So the fact is that ORKNavigationRule can accept a closure now, but cannot be serialized(Nothing we can do about it).

@md0u80c9 is this issue can be closed?

[2016-03-22 18:46] rsanchezsaez commented on #369
I have implemented this.

[2016-03-22 18:47] rsanchezsaez commented on #308
I have implemented this feature in the aforementioned PR.

[2016-03-23 19:03] rsanchezsaez commented on #484
I'm almost done implementing this, I'll probably finish it tomorrow.

[2016-03-24 14:32] jennadavis077 opened #642 "Modify ResearchKit.podspec to include .swift files"
I am coding in swift, and using Cocoa Pods to manage my dependencies. I am unable to use the argument resultPredicatesAndDestinationStepIdentifiers because it exists in  ORKStepNavigationRule.swift (located in the common directory), and the ResearchKit.podspec only imports .m and .h files, not .swift files. This podspec should be modified to support .swift files.

[2016-03-24 15:04] rsanchezsaez commented on #484
Done.

[2016-03-24 15:24] rsanchezsaez commented on #642
Thanks for the report, I've submitted a pull request fixing this.

[2016-03-24 16:36] rsanchezsaez commented on #613
This issue can be closed.

[2016-03-24 17:10] rsanchezsaez commented on #628
I have fixed this as part of [Pull Request #637](https://github.com/ResearchKit/ResearchKit/pull/637).

[2016-03-25 20:05] md0u80c9 opened #646 "Health Professional ResearchKit / CareKit configuration"
Hi,

Just something I thought might be worth mulling over, particularly with the CareKit announcement. Apologies that I'm providing the use case rather than a solution / implementation idea at this stage - hoping it gives someone an idea.

ResearchKit applications currently are very reliant upon self-setup: in other words independent, technologically-competent 'expert' patients who configure the s

[2016-03-26 04:44] pthealthtech commented on #646
You for taking the time to write up this post, Andrew. A question about how to get the app on the patient's phone, is that something that can be done during registration? That work has to be done by someone somewhere. Perhaps the case manager/Care Coordinator?

Kind regards,
John

[2016-03-26 04:52] pthealthtech commented on #646
"Thank" you.

[2016-03-26 10:25] md0u80c9 commented on #646
Yes the commonest opportunities to set up a phone would be at admission (if a patient is stable - think routine outpatients) or at discharge (if they were not - eg. In my stroke patient cohort).

However, that has to involve as little patient-side configuration as possible - you might want them to download a single app and pair up. Or if there was consideration at system level some sort of ApplePa

[2016-03-29 08:46] jefferythewind opened #649 "ORKESerialization runs on simulator but fails to archive"
I included the ORKESerialization.m and .h files in my iOS project.  I did this but dragging the 2 files from the files downloaded from GitHub, and then doing the #import "ORKESerialization.h" in the bridging header.

I was able to use the packages successfully, building no problem and running my app in the simulator for iOS versions 9.1 and 9.3.  However when I tried to archive the project for a g

[2016-03-29 18:08] YuanZhu-apple commented on #560
Done in #645

[2016-03-29 18:08] #560 closed

[2016-03-29 18:34] YuanZhu-apple commented on #649
I confirm the archive is failed:
1. Open ORKTest project
2. Check both target memberships for `ORKESerialization.m`
<img width="131" alt="screen shot 2016-03-29 at 11 27 54 am" src="https://cloud.githubusercontent.com/assets/11466704/14119092/61868cbc-f5a1-11e5-9fdb-ffd053e47982.png">
3. Run Archive

Error output:

[code]

[2016-03-30 20:58] evliu commented on #646
@md0u80c9 , I think the best way to go about it is to have the medical information recorded into an EHR/EMR system, then expose an API for a ResearchKit app to log into so the patient can retrieve that information, then the app itself would present actionable items depending on how the app is developed.

The pattern of ResearchKit apps at this point is that their data tends to be totally anonymous

[2016-04-05 18:45] samfalconer opened #652 "Signature view should support 3D touch for stroke width"
I have a patch that adds 3D touch capability to the stroke width of the signature view. Push harder and the line becomes thicker.

There is also a fallback to base the stroke width on the speed of the stroke for devices that don't support 3D touch.

[2016-04-05 18:51] samfalconer commented on #652
I have submitted PR #653

[2016-04-05 21:54] oliverschaefer commented on #652
@samfalconer Thanks for bringing this up. Could you also add the support for Apple Pencil with this PR?

[2016-04-05 23:23] samfalconer commented on #652
@oliverschaefer This *should* work with the Apple Pencil's force feedback as is. However, I don't own an Apple Pencil so I am unable to test this personally.

As far as other features of that device, shading using the altitude and azimuth seems out of the scope of a signature view like this. Additionally, it would be difficult to do well with just CoreGraphics.

The only other Apple Pencil feature

[2016-04-06 09:37] m1entus commented on #561
@umerkhan-apple I will take care of it, prepare PR on couple of days

[2016-04-06 18:43] kothapas opened #655 "ORKChart Data Source"
I don't know if this is the right place for it...but if I'm trying to graph some of the results of a health survey such as how many times one answer was chosen...how do I do it? I'm grabbing the data points in a separate function, but function is not run until after the pie chart is set up

[2016-04-06 19:21] rsanchezsaez commented on #655
Could you post some code, or a minimal complete project to GitHub?

[2016-04-06 19:48] kothapas commented on #655
class PieChartDataSource: NSObject, ORKPieChartViewDataSource {

    var totalCount: Int = 0
    var homeCount: Int = 0
    var workCount: Int = 0
    var commuteCount: Int = 0
    var outCount: Int  = 0

    func fetchResults() {
        ORKTaskResult.cmh_fetchUserResultsForStudyWithDescriptor("dailystudy", withCompletion: {CMHFetchCompletion in
            if(nil == CMHFetchCompletion.0) {

[2016-04-06 19:49] kothapas commented on #655
i want to use the result that i get from fetchResults() as my data points for the ORK Chart

[2016-04-06 20:26] kothapas commented on #655
never mind I got it

[2016-04-06 20:26] #655 closed

[2016-04-06 22:15] samfalconer commented on #652
@oliverschaefer Looks like UIForceTouchCapabilityAvailable only checks for 3D touch. So I've updated the PR to check for UITouchTypeStylus on the touches as well.

Would be great if someone with an Apple Pencil could test this on-device.

I have checked this against older API's (iOS 8.1 simulator) and everything seems to fallback correctly.

[2016-04-11 17:45] kothapas opened #656 "Initializing ORKPredicateStepNavigationRule"
Is there a reason xcode doesn't give me an option to initialize this with anything other than a coder?

[2016-04-11 18:18] rsanchezsaez commented on #656
From *Objective-C*, you can use:

    - (instancetype)initWithResultPredicates:(NSArray<NSPredicate *> *)resultPredicates
                  destinationStepIdentifiers:(NSArray<NSString *> *)destinationStepIdentifiers
                       defaultStepIdentifier:(nullable NSString *)defaultStepIdentifier;
    - (instancetype)initWithResultPredicates:(NSArray<NSPredicate *> *)resultPredicates

[2016-04-11 18:37] dukemike opened #657 "optionally hide value in ORKSliderScaleView"
There are use cases where displaying the value of a scale may affect the user's response. Could a `valueLabelEnabled` attribute be added?

[2016-04-11 18:40] kothapas commented on #656
When I copy it to my local project, do you mean along with the rest of my project files? If so, it gives me an error of cannot invoke ORKPredicateStepNavigationRule.init with an argument list of  type ...

[2016-04-11 18:50] dukemike opened #658 "allow plot fill color of ORKLineGraphChartView to be set by the delegate"
Currently, all plots have a fill color of 60% of their plot color. ``ORKGraphChartView:fillColorForPlotIndex:`` could be used to allow a plot to not be filled.

[2016-04-11 20:28] kothapas commented on #656
When I try to include it wi

[2016-04-12 07:28] pascalhuynh opened #659 "Horizontal discrete graph"
Hi, I was wondering if it is possible to draw Horizontal discrete graph with ORKDiscreteGraphChartView.
Thanks for the help,
Pascal

[2016-04-12 13:54] rsanchezsaez commented on #656
Are you using Cocoapods then? Yeah, I meant to include the *Swift* file along with the rest of your project files.

Have a look at the [TaskFactory.swift](https://github.com/ResearchKit/ResearchKit/blob/master/Testing/ORKTest/ORKTest/TaskFactory.swift) file for a working example on how to init `ORKPredicateStepNavigationRule`s.

---

If the problem persists, can you provide specific steps and comp

[2016-04-12 13:56] rsanchezsaez commented on #659
This is not currently possible, but I think extending `ORKDiscreteGraphChartView` to do this should not be too complicated.

If you want this feature, let's keep this issue open and I may try to implement this in the coming weeks if I find the time.

[2016-04-12 13:59] rsanchezsaez commented on #658
This would be a nice feature to have. I see you implemented it in your fork, could you submit a *pull request* with this feature?

[2016-04-12 17:41] pascalhuynh commented on #659
Great @rsanchezsaez  !

[2016-04-12 23:38] kothapas commented on #656
I got a workaround on this

[2016-04-12 23:40] kothapas opened #660 "Graphing HealthKit Data Using ORKDiscreteGraph"
So in one function, I am trying to call the function that stores the healthkit data I'm trying to collect in an array. These data points are the ones I'm trying to feed into the graph but I'm coming across errors when I try to graph those datapoints. I tried using using dispatch_after but it gives me an ns range exception

class StepsTableViewController: UITableViewController, ORKGraphChartViewDat

[2016-04-14 17:24] dukemike commented on #660
Rather than setting the data source in `dispatch_after` you can assign it after enumerating the statistics in the results handler.

[2016-04-14 18:29] jinseok7586 commented on #649
I am having this issue, too

[2016-04-15 20:47] YuanZhu-apple commented on #649
ORKESerialization used `MKCoordinateValue` which is not a valid iOS symbol.

[2016-04-18 05:00] kothapas commented on #656
I'm sorry but I need help on this once again. I copied the file as you said into the same place as my other files.The error from the survey task disappears but in the ORKStepNavigationRule.swift file, I am getting this error:

Cannot invoke 'ORKPredicateStepNavigationRule.init' with an argument list of type '(resultPredicates: [NSPredicate], destinationStepIdentifiers: [String], defaultStepIdentif

[2016-04-18 22:32] kothapas commented on #656
Just ended up deleting the pod and just downloading the project

[2016-04-18 22:32] #656 closed

[2016-04-18 22:57] rsanchezsaez commented on #656
Sorry about your troubles. There's an ongoing PR that, among other things, fixes this issue when importing the project through Cocoapods. Hopefully it'll be merged soon.

[2016-04-19 09:30] alvaromb commented on #321
We're also interested in video recording for a very specific use-case: record different eye movement exercises. Use case would be something like:

1. Select the exercise type.
2. Record a video doing that kind of exercise with eye movement.
3. Confirm & upload the video.

@YuanZhu-apple [proposal](https://github.com/ResearchKit/ResearchKit/issues/321#issuecomment-169841547) should be enough for us

[2016-04-22 17:19] #660 closed

[2016-04-22 17:21] kothapas opened #665 "How to Return something other than NSDate object for TimeofDayAnswerFormat"
For a question like when did the onset of a symptom start, is there a way to return something other than a nsdate object, because its a complex data structure

[2016-04-22 18:43] adam704a commented on #624
After looking at this, I don't think this is going to work.   Since each row is a separate set of image choices each as a form item, the user is able to select one choice from each row.  So, in my example, the user could select 4 images.  The spacing is also pretty weird when doing it this way too.  Thanks for the idea though.

Do you have a general approach for how you would update the framework

[2016-04-22 18:56] rsanchezsaez commented on #665
There's no out-of-the-box way of returning something different than an `NSDate` for that kind of answer format.

Your best bet would the to post-process the result and convert/simplify it to fit your needs.

[2016-04-27 20:29] jinseok7586 opened #668 ""Done" and "Cancel" buttons do not work"
I just wanted to let you know that the buttons "Done" and "End Task" under "Cancel" do not work. As a result, none of the ORKTasks returns to the parent ViewController. Also, when an ORKTask returns, ResearchKit does not surrender the view and takes the user back to the view that launched the ORKTask.

[2016-04-27 20:55] #668 closed

[2016-04-28 20:03] swaffoja opened #669 "Can a subclassed ORKStepViewController use a view created in IB?"
I want to create a custom step for my onboarding process. I have been looking at all ResearchKit classes that subclass ORKStepViewController and it seems that views are created programmatically within a stepDidChange method. I would prefer to design the view for my custom step using interface builder. Can ORKStepViewController be made to use a view that was designed in IB?

I have a working soluti

[2016-04-28 23:34] YuanZhu-apple commented on #657
https://github.com/ResearchKit/ResearchKit/pull/446/ has been tried to work on this.
A quick workaround would be create a subclass of `ORKScaleAnswerFormat`/`ORKContinuousScaleAnswerFormat` to override `numberFormatter`, make formatter return an empty string for current value.

[2016-04-29 16:33] swaffoja commented on #669
Yes, use nibs.

Example:
Create a new class called IntroStepViewController that subclasses ORKStepViewController.
Create a new class called IntroStep that subclasses ORKStep.
Create a new UI view nib called IntroStepView. Note that the name is very important for it to be loaded automatically. See [Apple documentation for nibs](https://developer.apple.com/library/ios/documentation/UIKit/Reference/U

[2016-04-29 16:33] #669 closed

[2016-04-29 17:42] u84six opened #670 "Non optional step for ORKTextChoiceAnswerFormat should allow for a Next button"
If I set the step for a question with ORKTextChoiceAnswerFormat to optional = true, I can check off an answer and then click the Next button to go to the next screen. If I set the step to optional = false, I get nav icons on each of the answers with no Next button at the bottom of the screen. But when I go to the next screen and come back, the screen now has a checkbox next to the answer and a Nex

[2016-04-30 02:31] tahatopiwala opened #671 "ORKESerializer For Spatial Memory"
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[ORKSpatialSpanMemoryGameTouchSample integerValue]: unrecognized selector sent to instance.

I have been getting this issue when I try to parse the spatial memory results. I Checked with instance names and mostly everything. What reason could this be ?

[2016-05-03 15:21] oliverschaefer commented on #479
@md0u80c9 @YuanZhu-apple @umerkhan-apple Hi guys, I finally found some time to implement printing support. Since this is quite a big one, it would be nice if you could take a look at the basic code design before I proceed. Simply check out my printing branch, run ORKTest and hit Learn more on a step of your choice.

[2016-05-03 17:05] md0u80c9 commented on #479
@oliverschaefer : I've downloaded your PR now. Just looking on ORKStep: have you added a new task to test printing? I couldn't see from the task list where the printing support had been added. I'm just going to look over the code now :-).

I have sent you a link to my DropBox containing CaseNotes which is my RK app for managing stroke patient admissions. If @YuanZhu-apple or @umerkhan-apple (or an

[2016-05-03 17:08] oliverschaefer commented on #479
@md0u80c9 Just run one of the existing tasks and hit the Learn more button to see the HTML output (without css)

[2016-05-03 17:11] md0u80c9 commented on #479
Ah - thanks for that, it's rendering on-screen. I think I was expecting it to open an AirPrint dialogue or suchlike!

[2016-05-03 17:13] oliverschaefer commented on #479
@md0u80c9 Yeah, it's just in place to check the rendering quickly. Will change that in an upcoming PR update

[2016-05-03 22:06] #652 closed

[2016-05-04 10:34] craylward opened #673 "Creating Custom Active Tasks"
I've seen a few issues involving the creation of a custom active task, particularly creating the custom view for a task step. I'd like to create a task that displays accelerometer/gyroscope info for 20 seconds during the active step. I've started by creating `accelerometerStep.swift` (subclassing ORKActiveStep), `accelerometerTask.swift` (subclassing ORKOrderedTask), and `accelerometerStepViewCont

[2016-05-04 14:19] md0u80c9 commented on #479
oliver: Had a look. You might want to look at the work in CareKit - I noticed (having had a look this morning), that there is an OCKDocument and OCKHTMLPDFWriter class which have very similar functionality to some of the functions you are using.

Given the close relationship between the two libraries, is there a way for these to be 'unified' across libraries?

[2016-05-05 13:06] julientherier commented on #673
We have listed some of our ResearchKit tutorials on our blog.
Please visit http://www.shazino.com and navigate under the "ResearchKit/CareKit section".
Hope [this one](http://blog.shazino.com/articles/dev/researchkit-new-active-task/) would be helpful, even if written in Obj-C.

[2016-05-05 16:24] samfalconer opened #674 "Starting a Signature Stroke in the Top Part of the View Fails"
Starting to stroke part of the signature from near the top of ORKSignatureView fails.

For example, if you wanted to draw a tall letter "I" starting from the top of the view, you would be unable. Also, drawing the cross on the top of a tall capital "T" is impossible.

Attached is a screenshot where I have drawn a horizontal stroke starting from the closest to the top of the view that was possible,

[2016-05-05 19:19] alexwasner commented on #673
@craylward I was doing the exact same thing today. In swift, to set the stepViewControllerClass as your steps ViewController, you do this:
 ` static func stepViewControllerClass() -> AccelerometerStepViewController.Type {
        return AccelerometerStepViewController.self
    }`
Then in your viewDidLoad of the AccelerometerStepViewController, you can add your custom content like this: `let contai

[2016-05-05 19:22] alexwasner opened #675 "Expose ORKActiveStepTimerView to custom ActiveStepViewController"
Hello,
I'm trying to create a new instance of `ORKActiveStepTimerView` in my custom StepViewController and adding it to the `customView` in `viewDidLoad`. When I try to create a new instance `ORKActiveStepTimerView()` it is saying ORKActiveStepTimerView is an unresolved identifier.

[2016-05-06 13:54] stevemoser opened #676 "Storing users' data in iCloud"
On the [best practices wiki page](https://github.com/ResearchKit/ResearchKit/wiki/best-practices) it states:

However on [Apple's Privacy page](http://www.apple.com/privacy/approach-to-privacy/) it states:

Why is it ok for Apple to store health data on iCloud but not ResearchKit apps? Maybe they have access to private APIs for iCloud encryption?

(I'm not sure if there is a better place for this

[2016-05-06 14:55] sukh-cohaesus opened #677 "Datasource execution does not update view"
Hello

I'm having some issues with my view not displaying the data retrieved from Health Store query. Looking at the logs the async response is coming after I set the `dataSource` on my charts, to be specific its `ORKLineGraphChartView`.

My datasource is an external class which extends `: NSObject, ORKGraphChartViewDataSource`. Within here I have a singleton instance which is basically my Health

[2016-05-06 15:45] rsanchezsaez commented on #677
Yes, use the `reloadData` method after receiving the data you want to plot.

 (This method was added recently, it may yet not be in your release, if that's the case, just set the `dataSource` again and the data will reload.)

[2016-05-06 16:16] sukh-cohaesus commented on #677
Thanks for prompt response!

I did come across `reloadData` method but I can't seem to find it. All being said I can resolve that, or use your alternative solution...

Which then leads me to another question. Excuse my stupidity here but how would one go about setting the dataSource again? This is primarily my issue.

So as an example, looking at the sample app which is largely what I'm following

[2016-05-06 16:41] sukh-cohaesus commented on #677
I suppose I could use `NSNotificationCenter` to fire off when I got the data and from here I can set the data source. Is there a better way though?

[2016-05-09 22:42] tonylibra commented on #670
@YuanZhu-apple
I have the same problem, we have to force user to scroll down to check all the choices before they can go to next step. Otherwise, they may miss some answers.

[2016-05-11 03:01] nikhiljay commented on #655
can you explain how you got it?

[2016-05-11 15:21] rsanchezsaez commented on #655
@nikhiljay: If you don't yet have the `reloadData` method in your release, you can cause a reload by setting the *data source* again like this: `yourPieChartView.dataSource = yourOriginalDataSourceObject`.

[2016-05-11 21:08] kothapas opened #678 "Horizontal Reference Lines"
Is there a way we can control where exactly the horizontal reference line is drawn? Suppose we have a goal for steps, and the reference line should be drawn at that goal, is there anyway to do that?

[2016-05-12 04:08] nikhiljay commented on #655
Ok I got it thanks!

[2016-05-12 19:42] apbendi opened #679 "CocoaPod with ResearchKit as dependency fails to build with linker error"
It seems something in ReseachKit's podspec definition interacts with a change in CocoaPods 1.0.0 such that ResearchKit can not be included as a dependency in a library. Doing so results in the following linker error: `ld: 252 duplicate symbols for architecture x86_64`

It's not clear if this is a CocoaPods issue or ResearchKit issue.

An example project can be found here: https://github.com/apbend

[2016-05-12 22:06] jdkizer9 commented on #679
I've also run into this. A temporary work around is described [here](http://stackoverflow.com/a/32108247/6327650). Alternatively, you can update your Podfile post_install script to do it for you:

[code]

I'm currently trying to publish a cocoapod library that has a dependency on ResearchKit. I haven't figured out how to update this setting from the podspec, so it fails to build while lint'ing, an

[2016-05-13 14:52] JValderramaN commented on #499
Hi, I was reviewing the ResearchKit docs and http://researchkit.org/docs/docs/Charts/ChartsAndGraph.html seems to not work (404 not found).

[2016-05-13 15:37] apbendi commented on #679
@jdkizer9 interesting way to work around it. I went the route of forking and fixing the issue, then pointing my podfile to my fork. I've also submitted the changes; hopefully they're incorporated soon: https://github.com/ResearchKit/ResearchKit/pull/680

I too have a Pod published with RK as a dependency- the fact I can't push an update until it's resolved is definitely not optimal

[2016-05-14 04:45] gustavopinto opened #682 "Why the software history was not kept?"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of open-sourcing a proprietary software, for instance, if the project succeed in attracting newcomers. **ResearchKit** was in my list. However, I observed that the software history of when the software was developed as a proprietary software was not kept after the transition to Gi

[2016-05-16 10:34] sukh-cohaesus opened #683 "Getting an ORKFormStep into Consent Document"
Hi all

I have a task where I want to display the Consent Document across which will have a Welcome (which will basically be `ORKConsentSectionType` of case `Overview`) followed by a `ORKFormStep` and then the subsequent consent section types i.e privacy, data use etc...

Is this possible at all?

Also within the `Overview` type of  `ORKConsentSectionType` , is it possible to modify the _Learn Mor

[2016-05-16 15:41] scdi commented on #376
When an item is labeled "new feature" is it implemented? Or, is it just a labeled to distinguish it from a bug?
jude

[2016-05-16 22:51] sukh-cohaesus commented on #683
Actually ignore this - managed to get a workaround by including Instruction Step within the Ordered Task instead of going directly into the consent document.

Only issue now is there is no functionality in place to get a custom URL in. I would like to have the following

- Title
- Text description (several paragraphs which can be separated by newline)
**- External link (styled in blue, as already

[2016-05-17 18:12] #679 closed

[2016-05-17 20:31] YuanZhu-apple commented on #683
Just handle the learn more action by implementing delegate method `- (void)taskViewController:(ORKTaskViewController *)taskViewController learnMoreForStep:(ORKStepViewController *)stepViewController;`

And change the learn more button's title by setting `learnMoreButtonTitle` on `ORKStepViewController`. In delegate method: `- (void)taskViewController:(ORKTaskViewController *)taskViewController ste

[2016-05-17 20:33] YuanZhu-apple commented on #376
@scdi Just distinguish it from a bug. And it is not on the road map.

[2016-05-18 00:13] YuanZhu-apple commented on #499
@JValderramaN Updated link: http://researchkit.org/docs/docs/ChartsAndGraphs/ChartsAndGraphs.html

[2016-05-18 16:08] scdi commented on #376
Thank you. Any news on when approximately the next release will take place?

Sent from my iPhone

[2016-05-18 17:50] YuanZhu-apple commented on #678
Assume you are talking about the chart. I don't think you have a way to control it for now.

[2016-05-18 17:52] kothapas commented on #678
Thank you. Given that these charts are very visually appealing and could be used for other applications, I think that would be a very neat feature to consider adding.

[2016-05-22 17:36] ninoguba opened #684 "Support default value property for ORKTimeOfDayAnswerFormat and others"
I'm using an ORKFormItem with an ORKTimeOfDayAnswerFormat.  Would be great if it provides a way to initialize it with a default value, just like other answer formats (i.e. ORKScaleAnswerFormat or ORKDateAnswerFormat).

[2016-05-23 01:05] philacolson commented on #635
For anyone interested, I made multiple ImageQuestionSteps inside a FormStep.  Each of the steps had only one option and were optional.  If the image was selected, it's counted in the iteration over all the ImageQuestionSteps at the end.

[2016-05-24 00:20] YuanZhu-apple commented on #684
@ninoguba Did you use http://researchkit.org/docs/Classes/ORKTimeOfDayAnswerFormat.html#//api/name/initWithDefaultComponents: ?

[2016-05-24 00:26] YuanZhu-apple commented on #635
@philacolson I confused. What's a `ImageQuestionStep`?

[2016-05-24 00:33] ninoguba commented on #684
Yes. That only defaults the value for the picker. I'm using this answer
format for a question within ORKFormStep.

On Monday, May 23, 2016, Yuan Zhu <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-05-24 14:06] tonylibra opened #686 "Immediately Step"
When I set the optional property in the TextChoiceAnswerFormat step, the immediately step will be triggered automatically, to hope this should not be default. There is a very real world example. If there is a lot of choices, we have to force user to read the all of the choices by scroll to the end of the tableView, and click the next button to next question. If the immediately jump is by default,

[2016-05-24 17:38] YuanZhu-apple commented on #686
@tonylibra Quick around:
Subclass `ORKQuestionStep` and override `isFormatImmediateNavigation`.

In the future, we might limit `isFormatImmediateNavigation` to boolean only, what do you think?

[2016-05-24 17:40] YuanZhu-apple commented on #684
@ninoguba To show default value not only in picker, use http://researchkit.org/docs/Classes/ORKTaskViewController.html#//api/name/defaultResultSource

[2016-05-24 18:34] ninoguba commented on #684
That works but a little elaborate just to set default values.  What if the step is first run then an ORKResult instance must be created from scratch.

An easier workaround I implemented is just to use the placeholder property to show the default value, but the user still has to tap on the question to actually set it and once they do, the default value of the picker gets set as the question's value

[2016-05-25 13:47] YushengYang18 commented on #686
@YuanZhu-apple
Yes, I think it is good for me in the future. Thank you very much.

By the way, I just open another issue about StepViewController Text Display. If it is possible, could you please have a look.

[2016-05-25 13:56] YushengYang18 opened #687 "QuestionStepViewController instructionLabel"
There is a very real world problem come from clinical research industry. In most of time, the question and answer(or we say text choices) are not plain text. We need to make the bold, underline or even color to highlight specific words to the user.
I would like to know that does researchKit have plan to support this, or is there some good way to support this?
My solution now is adding the attribut

[2016-05-25 21:45] YuanZhu-apple commented on #687
@YushengYang18 For the choices, maybe you can break them into `title` and `text`

**NO difficulty**
*I did it on my own with NO difficulty*

[2016-05-25 21:53] swaffoja opened #688 "Setting "navigationBar.barStyle = .Black" does not work in ORKSample"
The app I am developing is organized similar to the ORKSample app. I have a ResearchContainerViewController that segues to the appropriate controller when the app loads. I am using the ResearchContainerSegue verbatim.

I want to use a dark navigation bar in my app. Changing the navigation bar style should be as simple as this:

[code]

Unfortunately, the status bar text color does not change. I'm

[2016-05-26 15:31] swaffoja commented on #688
The view hierarchy for the ActivityViewController in ORKSample is `ResearchContainerViewController > UITabBarController > UINavigationController > ActivityViewController`. The status bar color (light vs. dark) is managed by the top-most view controller which is ResearchContainerViewController. Setting preferredStatusBarStyle in the ResearchContainerViewController will change the color.

    overri

[2016-05-26 15:31] #688 closed

[2016-05-27 04:40] ninoguba opened #689 "Is it possible to programmatically set values to question steps based on answers from other questions appearing before in an ordered task?"
I've seen examples where the title of a question step can be changed dynamically at the stepViewControllerWillAppear delegate.  I have a need to set the default value of a scale question based on the answer of another scale question appearing before it.  Any suggestions?

[2016-05-27 05:27] bishalg commented on #689
This is tricky one !
As we provide the next question based on predicate value and not based on answer value, can't imagine how this would be possible ? Lets hope someone from ResearchKit come up with the solution.

[2016-05-27 05:46] bishalg opened #690 "Change the "Cancel" action text on ORKTaskViewController"
Right now ORKTaskViewController shows "_End Task_" for _Cancel_ action.

![simulator screen shot may 27 2016 11 25 12 am](https://cloud.githubusercontent.com/assets/805689/15598844/e5fb2446-23fd-11e6-998f-c9eb94d8e7e0.png)

On Line 1130

https://github.com/ResearchKit/ResearchKit/blob/9f5caad71d474af0014ff4885ee3292fe7434e24/ResearchKit/Common/ORKTaskViewController.m

`NSString *discardTitle = sav

[2016-05-27 11:25] sukh-cohaesus opened #691 "Pie chart layout layers crash"
Hello

I'm having a weird crash with the Pie chart data source. The error is

`*** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM objectAtIndex:]: index 0 beyond bounds for empty array'`

Which is being thrown within at

`CAShapeLayer *segmentLayer = _segmentLayers[idx];`

within this method of `ORKPieChartPieView` class

[code]

Here's my code

[code]

Any

[2016-05-27 13:29] sukh-cohaesus commented on #691
Seems like the `pieValues.count` within `numberOfSegmentsInPieChartView` is returning zero multiple times first and then right at the end returns 2...guessing this is where the issue / crash is happening.

Question: Is there away for me to control this as I believe this is due to the query I'm running in a background thread for the HealthKit steps...

If you require any further code / info please

[2016-05-27 14:15] #683 closed

[2016-05-27 14:16] #677 closed

[2016-05-27 16:24] rsanchezsaezsc commented on #691
Could you upload a minimum project exhibiting the problem?

[2016-05-27 16:34] rsanchezsaez commented on #691
Could you upload a minimum project exhibiting the problem?

[2016-05-27 16:59] YuanZhu-apple commented on #689
@ninoguba,  I can see @bishalg's idea works

[2016-05-27 17:09] YuanZhu-apple commented on #690
@bishalg If you don't care about `save and restore`, you can set your own `cancelButtonItem` on `ORKStepViewController` and implement a custom action handler.

[2016-05-27 18:59] ninoguba commented on #689
But that only makes it possible to redirect to another step with its questions already defined.  What I'm asking is to actually redefine certain questions with a default value using answers from a previous step/question.

For example,

Step 1:
Question:  How are you feeling on a scale of 1 - 10?
Answer: 5

Step 2:
Some video here or a custom activity

Step 3:
Question:  How are you feeling now, on

[2016-05-27 21:41] YuanZhu-apple commented on #689
### Solution 1

Use just one question step, and modify it in the run time.

Use `http://researchkit.org/docs/Classes/ORKTaskViewController.html#//api/name/defaultResultSource`
And modify it change the default value on scale.

For the question text, you can also modify it in the run time:(http://researchkit.org/docs/Classes/ORKStep.html#//api/name/text).

### Solution 2
1. Subclass `ORKOrderedTask`

[2016-05-27 22:18] ninoguba commented on #689
Solution 2 looks good. Thanks!

[2016-05-27 22:18] #689 closed

[2016-05-28 01:33] ninoguba opened #692 "How can I suppress the "Step x of y" text on the top of TaskViewController?"

[2016-05-28 01:40] ninoguba commented on #692
Nevermind.  I found the property to control this. =)

[2016-05-28 01:40] #692 closed

[2016-05-28 04:06] ninoguba opened #693 "Can the view animation when stepping forward or backward be disabled for some steps?"

[2016-05-28 16:11] ninoguba opened #694 "Prompting for Permission in a task leads to a blank white screen when the task completes"
I have a step that set Local Notifications and when that step appears, I prompt the user for permission, regardless if the user grants or denies it, it continues with the rest of the steps of the task.  The issue is after the task completes, it leads to a blank white screen.  How can this be avoided?

[2016-05-29 20:18] gravitystretch opened #696 "Feature Request - Adding Survey Results to Consent Document"
It would be very helpful if there was a consent document equivalent to a survey so that patients could fill out a quick survey and generate a PDF document, or so that survey section could be added to a consent document which is then populated by results of several survey questions.

[2016-05-30 01:38] ninoguba commented on #694
Ok I used the LockViewController provided in the ORKSample app and that hides the content when the passcode is already set.   This is the one causing the white screen whenever you ask for any permission.   To workaround this issue I just disabled the hiding of the content view.

[2016-05-30 01:38] #694 closed

[2016-05-30 01:43] ninoguba commented on #693
I was able to do this by adding my custom logic in ORKTaskViewController's showViewController function and setting the animated property to false when [pageViewController setViewControllers:] gets called.  Wishing this can be something settable within the stepViewController to make it a bit easier.

[2016-05-31 12:31] sukh-cohaesus commented on #691
Think I've resolve this... @rsanchezsaez Thanks for getting in touch, I'll re open this and supply a code sample if this appears again.

[2016-05-31 12:31] #691 closed

[2016-05-31 12:39] sukh-cohaesus opened #697 "Boolean validation on selection"
Hello

Not sure if this is an issue or more a feature request. I have an eligibility form (using ORKForm) where I have text and couple of boolean question types.

For the text I can apply validation easily using `textAnswerFormatWithValidationRegex` and this shows a nice alert when validation fails.

However for the boolean types `ORKBooleanAnswerFormat` I can't seem to see anywhere that would all

[2016-05-31 14:36] ghost opened #698 "Gradient on line graph chart"
Probably a feature request this.

For the line chart I have requirement where we would like a gradient background rather than a fixed solid colour. At the moment I'm using the `ORKGraphChartViewDataSource` to set the plot colours, however is there a way for a gradient instead?

`func graphChartView(graphChartView: ORKGraphChartView, colorForPlotIndex plotIndex: Int) -> UIColor {
        return UIC

[2016-05-31 20:19] rsanchezsaez commented on #691
@sukh-cohaesus If you could still provide an easy way to reproduce this, I'd be interested in fixing this edge case on `ORKPieChartPieView` so it doesn't crash.

[2016-06-01 12:00] sukh-cohaesus commented on #691
@rsanchezsaez Sure will do mate...give me few days to get over the launch and I'll see if I can get a small project for you :)

[2016-06-01 12:52] ghost opened #699 "Line Chart Pan crash when there is only one plot point"
I've seem to come across a bug with the line chart. Where there is only one plot point and you attempt to pan / swipe, it causes an app crash...

`*** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM objectAtIndex:]: index 18446744073709551615 beyond bounds [0 .. 0]'`

I've literally copied over the sample data source code into my data source and its doing th

[2016-06-01 23:08] sukh-cohaesus commented on #699
Think I've traced it down to where it's crashing. Line 221 of

`CGFloat y1 = self.yAxisPoints[plotIndex][previousValidIndex].minimumValue;`

The `previousValidIndex` here is -1

Full stack trace:

	*** First throw call stack:
	(
		0   CoreFoundation                      0x000000010d2afd85 __exceptionPreprocess + 165
		1   libobjc.A.dylib                     0x000000010fb01deb objc_exception_throw

[2016-06-02 00:00] YuanZhu-apple commented on #699
@sukh-cohaesus Thanks for reporting this bug.

You can do a quick fix in the framework, by replacing
`CGFloat y1 = self.yAxisPoints[plotIndex][previousValidIndex].minimumValue`
with
`CGFloat y1 = self.yAxisPoints[plotIndex][MAX(0, previousValidIndex)].minimumValue`.

Also do the same thing in line 184.

[2016-06-02 00:16] YuanZhu-apple commented on #697
@sukh-cohaesus Implement this delegate to prevent proceeding and throw alert.

[code]

[2016-06-02 04:38] ninoguba opened #700 "Getting "No output directory..." error message with ORKImageCaptureStep"
Read through the docs and used the same code in ORKCatalog to add the ORKImageCaptureStep to my ORKOrderedTask and I didnt see anywhere that I need to set an output directory explicitly.  When I tap on the Capture Image button I get this message:

"No output directory was specified for captured images."

Did I miss anything here? How should I specify the output directory?

[2016-06-02 05:05] brucehappy commented on #700
You'll need to set the ``outputDirectory`` property on the ``ORKTaskViewController``.  This happens in ``ORKCatalog`` when the ``ORKTaskViewController`` is created.
https://github.com/ResearchKit/ResearchKit/blob/master/samples/ORKCatalog/ORKCatalog/Tasks/TaskListViewController.swift#L109

[2016-06-02 05:08] ninoguba commented on #700
@brucehappy Thank you for pointing what I missed!

[2016-06-02 05:08] #700 closed

[2016-06-02 05:45] ninoguba opened #701 "Is it possible to customize the skip/continue button handler to go to a specific step?"
What I'm trying to achieve is some conditional logic, on Step A if user taps the continue button proceed to Step C and if user taps the skip button proceed to Step B.  I've relabeled the title of these buttons to something like "Get Started" for continue and "Do Optional Step" for the skip button.

My desired ordered task is set as follows:
1. Step A - Introduction
2. Step B - Optional Step
3. Ste

[2016-06-02 14:57] ninoguba commented on #701
I think it will help achieve this too if there is a skipButtonItem property that can be set, similar to cancelButtonItem and backButtonItem.

[2016-06-02 16:22] ninoguba commented on #701
Ok i managed to expose the skipButtonItem property (in ORKStepViewController.h) so at least now I can assign it a custom handler.

On to the next challenge, skipping a step...

[2016-06-02 17:02] ninoguba commented on #701
Looks like this might already be addressed in a somewhat similar issue previously reported here: https://github.com/ResearchKit/ResearchKit/issues/535

[2016-06-02 17:58] ninoguba commented on #701
Unfortunately the solution using ORKNavigationalOrderedTask still won't suffice for this case as there is no relevant result to use predicates with.  I can test for null but it will be the same if either "continue" or "skip" buttons were tapped.

I'm close to achieving what I need as long as I can find a solution to skip to a specific step on my continueButtonItem.action handler.

[2016-06-02 18:36] YuanZhu-apple commented on #701
@ninoguba Can you use single choice question step for Step A?

[2016-06-02 18:42] ninoguba commented on #701
@YuanZhu-apple unfortunately no as I'm not really presenting a question on Step A.  It's like an InstructionStep with a continue (skip to required step) and skip (do the optional step before the required) buttons.

[2016-06-02 19:04] ninoguba commented on #701
Ok I think I'm just gonna have to settle with the following approach:

Ordered Task:
1. Step A - Intro Step with "Get Started" (continue) and "Do Something" (skip) buttons
2. Step C - Required Step

On Step A,
- if continue button is tapped, goForward to next step - this is built in already with RK.
- if skip button is tapped, on my custom action I will just present another view for "Step B" - thi

[2016-06-02 20:50] ninoguba commented on #321
@YuanZhu-apple can you share with us when this will be available?

[2016-06-03 01:01] sukh-cohaesus commented on #697
Perfect thank you.

[2016-06-03 01:01] #697 closed

[2016-06-06 14:48] ghost opened #703 "HealthKit access screen does not disappear"
This appears to be more a HealthKit issue than a ResearchKit issue - feel free to let me know if this is the wrong place and I'll close accordingly.

For reference and to avoid me duplicating myself, I've got a StackOverflow post:

http://stackoverflow.com/questions/37658129/strange-healthkit-access-issue

Any thoughts? Seems like a big issue which can also be replicated on multiple devices on the

[2016-06-06 21:39] malhal opened #704 "ORKSample: No such module 'ResearchKit'"
Hi there, just trying out the project and I noticed the ORKSample project doesn't build, fails with No such module 'ResearchKit'. Then I noticed the sample is designed to link to a pre-built version of the framework which isn't included, hence it's in red. I prefer to build against a live version of the framework code, to do that the fix is in the ORKSample project or target build settings, enter

[2016-06-07 14:41] malhal opened #705 "ORKSample: Blank white screen after dismissing Notification Center"
Blank white screen after dismissing Notification Center or Control Center. Possibily similar to #694

Run the app, use Touch ID, on Activities tab, bring down NC, slide up NC, blank white screen.

[2016-06-08 16:32] ninoguba commented on #705
I think it is exactly the same root cause as #694.

[2016-06-08 17:18] malhal commented on #705
Yep this bug looks like it is caused by the application delegate method used for resuming, applicationWillEnterForeground won't get called when the application activates from NC.

[2016-06-10 15:42] OnetreeMobile commented on #687
Hi @YushengYang18, can you show an example?
I have been working on that and I get an empty StepViewController

Thanks,
Martin

[2016-06-10 18:39] gustavopinto commented on #682
Hi @rsanchezsaez, do you have any comments?

[2016-06-10 20:29] #682 closed

[2016-06-10 21:31] #705 closed

[2016-06-10 21:37] YuanZhu-apple commented on #703
@sukh-cohaesus Can you file a bug with bugreport.apple.com?

[2016-06-10 22:41] YuanZhu-apple commented on #658
@dukemike How is going along the pull request:)

[2016-06-10 23:27] YuanZhu-apple commented on #624
@adam704a This could be an enhancement.

[2016-06-10 23:29] #665 closed

[2016-06-10 23:38] YuanZhu-apple commented on #671
@tahatopiwala When did you see this? Encode to JSON or decode from JSON?

[2016-06-11 00:06] YuanZhu-apple commented on #674
I can confirm this issue.
To draw a vertical line, I have to start from bottom to top. Top to bottom fails.

[2016-06-11 18:29] #673 closed

[2016-06-11 18:32] YuanZhu-apple commented on #676
@stevemoser CloudKit is not HIPPA compliance. Please consult a lawyer for the details.

[2016-06-11 18:37] YuanZhu-apple commented on #675
@alexwasner `hasCountDown` on activeStep can make `ORKActiveStepTimerView` shows up.
Do you mind to share more about your use case?
[code]

[2016-06-11 18:44] YuanZhu-apple commented on #670
@tonylibra and @u84six We can the `No Immediate Navigation` to be an option.

To work around, you can subclass `ORKQuestionStep` and override `isFormatImmediateNavigation`
to

[code]

[2016-06-12 23:48] stevemoser commented on #676
Ok, thank you. Closed.

[2016-06-12 23:48] #676 closed

[2016-06-16 07:07] khanxc opened #711 "ORKActiveStepViewController custom view not shown"
Subclassed ORKActiveStepViewController

[code]

And  ORKActiveStep

[code]

And  Ordered Task

[code]

Added .xib file MusicStepView.xib and gave a green background.But am always getting the default template view(see attached image). Where am I going wrong?
![simulator screen shot 16-jun-2016 12 31 34 pm](https://cloud.githubusercontent.com/assets/5825355/16108085/7e1727dc-33be-11e6-85fc-4673f4a26

[2016-06-17 11:32] fruitslayr opened #712 "Issues compiling ResearchKit sample app"
Hi everyone,

I'm having trouble compiling ResearchKit sample app after adding the framework to the app. I'm struggling with understanding the error messages and fixing the error as I only know how to use swift :/

I'm using the Xcode 8 beta. Any help would be much appreciated.

[2016-06-18 00:42] fruitslayr commented on #712
This is the error I get. No visible @interface for 'HKAnchoredObjectQuery' declares the selector 'initWithType:predicate:anchor:limit:completionHandler:'

[2016-06-19 00:34] king7532 opened #713 "Update to support iOS 10 SDK HealthKit API changes"
ResearchKit framework fails to build using Xcode 8 and the iOS 10 SDK in [`ORKHealthQuantityTypeRecorder.m:131`](https://github.com/ResearchKit/ResearchKit/blob/9f5caad71d474af0014ff4885ee3292fe7434e24/ResearchKit/ActiveTasks/ORKHealthQuantityTypeRecorder.m#L131) because the following HealthKit API has been removed:

`-[HKAnchoredObjectQuery initWithType:predicate:anchor:limit:completionHandler:]`

[2016-06-19 00:50] king7532 opened #714 "Update ResearchKit.framework to support Swift 3"

[2016-06-19 01:05] king7532 commented on #713
The above pull request 710 aleady implements the changes.

[2016-06-19 01:11] king7532 commented on #712
See #713

[2016-06-20 16:00] Isuru-Nanayakkara commented on #132
@jakubvano Do you have a link? I can't seem to find it.

[2016-06-20 16:01] Isuru-Nanayakkara commented on #132
@jakubvano Do you have a link? I can't find it on open radar.

[2016-06-20 18:11] YuanZhu-apple commented on #712
@fruitslayr and @king7532
I recommend to use the new branch `stable_xcode80_candidate`

[2016-06-20 18:14] YuanZhu-apple commented on #713
@king7532 I'd like to keep `master` as it is until we full embrace XCode8 GM. For now, the xcode8 branch is availble to use.

[2016-06-20 18:14] #714 closed

[2016-06-21 10:10] jakubvano commented on #132
@Isuru-Nanayakkara Unfortunatelly, it looks like i did not add it to openradar, and filed it to apple bugreport system under old company account... Only available material I have is this [StackOverflow question](http://stackoverflow.com/questions/29964523/unexpected-page-breaks-when-printing-uiwebview) and my [github repo](https://github.com/jakubvano/HTMLPDFWriter) with example project. Hope it h

[2016-06-21 17:35] rsanchezsaez commented on #691
@sukh-cohaesus Any news on this?

[2016-06-22 17:45] kevinrodriguez-io opened #734 "Ipad app rejected"
Hi guys,

Yesterday i had problems with the review team because my app was linking "HealthKit".

I use the researchkit only because of the Charts component, but it seems that other components do use HealthKit references.

I tried to clone and prune the project in order to be able to remove all the components which use HealthKit, but i'm having problems with the ORKAccessibilityFunctions file under

[2016-06-22 17:50] YuanZhu-apple commented on #734
Can you remove the `ORKAnswerFormat.h` reference from `ORKAccessibilityFunctions.m`? And see if that works?

[2016-06-22 18:02] darkndream commented on #734
Yes, i removed that reference and also removed the ORKAccessibilityFOrmatScaleSliderValue Method and the ORKAccesibilityFormatContinuousScaleSliderValue method too, also commented the ORKScaleSlider.h and the ORKScaleSliderView.h, which referenced HealthKit too,

Thanks.

I'll try to let you know if i have any success !

[2016-06-22 18:07] YuanZhu-apple commented on #734
@darkndream Just want to confirm you only copy out the necessary header/source files from RK to your project, right?

[2016-06-22 18:12] darkndream commented on #734
No, my project is written in swift and i installed RK via cocoapods,
I could try copying the framework directly or including RK as a subproject and only reference the Chart views but i don't know if that would make the review team happy.

Anyways i think i'm going to include it as a framework after pruning the other components, that should make get rid of any HealthKit reference and make the revie

[2016-06-22 18:21] darkndream commented on #698
Hi, i had a similar requirement on my project and i achieved it by creating an underneath view filled with the gradient and placing the chart over the gradient.!

[2016-06-22 18:23] darkndream commented on #734
@YuanZhu-apple We explained the review team the situation and showed them the usage of the ResearchKit and we just received their approval.

I think the problem is solved.

Thanks.

[2016-06-25 03:37] jrames opened #741 "ORKTaskViewController presents HealthKit authorization and throws warning"
In viewWillAppear of ORKTaskViewController, a request for HealthKit authorization is completed for non instructional ORKSteps:

[code]

When this happens, and the user has not yet authorized HealthKit for the data associated with this task, the HealthKit authorization dialog is presented.

This results in a runtime warning:

`Unbalanced calls to begin/end appearance transitions for <UIViewControll

[2016-06-25 16:32] sandroeiler opened #742 "How to switch to next step manually out of UIWebView"
As I was already posting [here](http://stackoverflow.com/questions/38017884/researchkit-how-to-switch-to-next-step-manually-out-of-uiwebview?noredirect=1#comment63486155_38017884) I would like to do following and don't know wheather it's possible:

I want to implement my own ResearchKit step including a WebView in which a button gives the possibility to switch to the next step.

Is it therefore po