[2015-04-10 17:16] YuanZhu-apple opened #1 "Add image answer format to capture image in a question step"
Some researchers are interested in developing medical research apps that require access to the camera and save images in high resolution.
* Create an image answer format class which could have a few attributes like:  resolution, flash light, and output format.
* Design a question step UI interface to capture an image and display it to the user.
* `ORKFileResult` should be used to return the image

[2015-04-10 17:32] YuanZhu-apple opened #2 "ORKRecorderConfiguration and ORKRecorder should have an identifier"
The aim is to let recorder generated result object has a meaningful identifier which can be used to link back to the `ORKRecorderConfiguration` object.

* The identifier will be passed from `ORKRecorderConfiguration` to `ORKRecorder`.
* The identifier is like `ORKStep` identifier which is supplied by developer.

[2015-04-10 17:40] YuanZhu-apple opened #3 "Vertical scale"
Currently all our scales are horizontal. Some researchers want to have a vertical one.

[2015-04-10 17:47] YuanZhu-apple opened #4 "Scale answer format support in form items"
So you can have an array of scale questions on a form.

* Form items can have section headers, each scale should occupy one section.
* Question text will be displayed as section header

[2015-04-14 17:43] akoeplinger opened #9 "Website has placeholders for feed and favicon in <head>"
The [website](http://researchkit.github.io/) has some placeholders for the feed+favicons in `<head>`, those should be filled in I guess:

![image](https://cloud.githubusercontent.com/assets/1376924/7143154/1d2f34a0-e2de-11e4-9b99-bbbf4778604b.png)

[2015-04-14 18:09] jwe-apple commented on #9
Yep, thanks!

[2015-04-14 18:57] steakknife opened #11 "[Request] ResearchKit CocoaPod"
This would enable seamless version & dependency management in larger production-prospective projects.

[2015-04-14 18:59] steakknife commented on #11
https://github.com/dasmer/ResearchKit/commit/208249a3b9cc6dd09fbf451d45d9c75dc178d6c5#diff-917bbaa74a0da81f8c9cac4d12507484

[2015-04-14 19:02] matteocrippa commented on #11
yep it would be very useful to have it in cocoapods

[2015-04-14 19:03] justinjdickow opened #12 "The contributing wiki page should be in the project's root in a file called CONTRIBUTING.md"
GitHub supports linking to the contributing guidelines of a project at the top of new issues and pull requests if the project includes a CONTRIBUTING.md file in the root directory. I noticed there is already a contributing section in the wiki, it can be copied or moved.

[2015-04-14 19:12] steakknife commented on #11
@dasmer 's on it.

[Here's the new way to submit a Pod](http://blog.cocoapods.org/CocoaPods-Trunk/) using Trunk

[2015-04-14 19:17] ricardopereira opened #17 "Portuguese localization improvement"
`Ficheiro não marcado como pagado (não marcado como enviado).`

Word `pagado` means paid in portuguese. It has no sense.

[2015-04-14 19:45] natanrolnik commented on #11
Already a Pull-Request #5

[2015-04-14 20:04] dasmer commented on #11
Yep @jwe-apple left some comments. Working on it now :smile:

[2015-04-14 22:50] YuanZhu-apple commented on #9
Now the website has been updated.

[2015-04-14 22:50] #9 closed

[2015-04-15 02:54] dEn13L opened #24 "Uncoordinated curly brackets style"
https://github.com/ResearchKit/ResearchKit/blob/master/ResearchKit/ActiveTasks/ORKRecorder.m

![1](https://cloud.githubusercontent.com/assets/4187743/7151515/05a0bd80-e34d-11e4-8685-cc91914e147c.png)
![2](https://cloud.githubusercontent.com/assets/4187743/7151516/05a24b64-e34d-11e4-9990-13e1d5d57f95.png)

[2015-04-15 04:42] kindraywind opened #25 "Why not swift?"
![yuno-1](https://cloud.githubusercontent.com/assets/500289/7152355/5bfcc9dc-e364-11e4-9144-548b71697e52.jpg)

[2015-04-15 04:50] DanKeen commented on #25
There's a sample Swift project in the repo.

[2015-04-15 04:50] #25 closed

[2015-04-15 04:51] kindraywind commented on #24
Also spaces between lines and unimplemented method :\

[2015-04-15 06:38] bavarious commented on #17
That’s likely a typo: **apagado** means **erased**, **pagado** means **paid**.

[2015-04-15 07:13] jwe-apple opened #29 "Convert all non-English Localizable.strings to human-readable format"
Will make it easier to review changes.

[2015-04-15 08:14] alistra commented on #24
Making a `clang-format` pre-commit hook can fix it for long term

[2015-04-15 10:37] rsanchezsaez commented on #3
Implemented.

[2015-04-15 14:56] imanabu commented on #1
We are definitely interested in participating in this implementation. We have been developing a medical grade photography application called BodyMapSnap. It captures not just the picture, but also other meta data including the body location where the photo was taken from.

[2015-04-15 19:31] rsanchezsaez commented on #2
Hi guys,

I was going to implement this but I have some questions. Could you clarify this issue?

Currently `ORKRecorder` assigns its `ORKStep` `identifier` to the `ORKFileResult` `identifier`.

Do you need a new (independent from `ORKStep`) `identifier` property in `ORKRecorderConfiguration` and `ORKRecorder` that would override the `ORKStep` `identifier` on the `ORKFileResult`? Or would you rath

[2015-04-15 20:05] jwe-apple commented on #2
The ORKFileResult generated by a recorder should have the identifier of the recorder that generated it. The current implementation happens only because there is no per-recorder identifier.
The ORKFileResult is always reported as a child of an ORKStepResult, so there is no loss of information, similar to how ORKStepResult does not include ORKTaskResult's identifier.

ORKRecorderConfiguration defini

[2015-04-15 20:17] rsanchezsaez commented on #2
Cool, all is clear. Will do this shortly.

[2015-04-16 02:15] rsanchezsaez commented on #2
I'm making good progress on this: almost everything done. I'm ready to test serialization.

By `ORKTest` do you mean the *XCTest ResearchKitTests*? I cannot find anything with a name similar to `ORKESerialization`. The `ORKResultTests` file has some keyed archiving serialization tests, but the `ORKRecorderTests` file doesn't seem to.

[2015-04-16 03:58] jwe-apple commented on #2
No, there is an ORKTest test project in the repo. Look under testing, I think.

[2015-04-16 09:31] rsanchezsaez commented on #2
Oh, found it. I didn't realize there was an additional project file. Cheers!

[2015-04-16 09:47] vtourraine opened #42 "Add version tags"
I think it would be very useful to start tagging “versions” of the framework.

It would be useful to keep track of the progress being made, new features/tasks being added, and would facilitate a lot of things going forward.

I’m not sure if keeping track of the versions from the framework itself would be interesting, but having at least Git tags seems very important to me. It’s also basically mand

[2015-04-16 11:59] rsanchezsaez commented on #2
Done. ;)

[2015-04-16 18:08] #12 closed

[2015-04-16 18:31] jwe-apple commented on #1
In ResearchKit the collection of other metadata would happen either by incorporating the image answer format in a form item on a form step, or by incorporating an image answer format in a question step within a larger task which might incorporate those other questions.

We would love to have you contribute an implementation. The first step is probably an engineering mockup of how you propose it wo

[2015-04-16 19:20] YuanZhu-apple commented on #42
Tag pushed.

[2015-04-16 19:20] #42 closed

[2015-04-16 20:12] vtourraine commented on #42
Fantastic, thanks.

[2015-04-17 07:06] bavarious commented on #17
I’ve noticed that pull request #18, which replaces **pagado** with **eliminado**, has [been merged](https://github.com/ResearchKit/ResearchKit/commit/f5e0594c757c642beb2e7cf503468b04bf6cb87e). I would like to mention that Apple favour **apagad[ao]** over **eliminad[ao]** on iOS in both pt_PT and pt_BR (pt).

These are the counts I get on iOS pt_PT glossaries published by Apple on April 15, 2014:
[

[2015-04-17 09:07] ricardopereira commented on #17
I changed to "apagado" and it has been merged.

[2015-04-17 09:07] #17 closed

[2015-04-17 09:38] bavarious commented on #17
Brilliant! I hadn’t noticed the second commit. :+1:

[2015-04-17 15:58] jwe-apple commented on #17
@bavarious - this was indeed reviewed here!

[2015-04-17 21:33] quver opened #50 "Best Practices - wrong link"
On wiki page, there is a wrong link to contributing

[2015-04-17 21:36] YuanZhu-apple commented on #50
Fixed. Thanks!

[2015-04-17 21:36] #50 closed

[2015-04-18 14:11] haaakon commented on #24
I've mad a clang-format file that tries to adhere to Apples code style. Could use that in this project
https://github.com/haaakon/Apple-clang-format

[2015-04-18 17:53] francesco-garcia-movile commented on #11
Pull request #5 was already merged!

[2015-04-18 17:53] fpg1503 commented on #11
Pull request #5 was already merged!

[2015-04-19 01:56] rsanchezsaez commented on #29
Done. See [Pull Request #58](https://github.com/ResearchKit/ResearchKit/pull/58) for comments.

[2015-04-19 02:18] steakknife commented on #11
Good work, almost there.

This app Podspec entry should work to use master:

    pod 'ResearchKit', :git => 'https://github.com/ResearchKit/ResearchKit.git'

[2015-04-19 02:19] steakknife commented on #11
... But probably want to submit it officially too.

[2015-04-20 22:31] brucehappy commented on #1
I've been looking at this as well, and should be able to upload a few screenshots of a mockup for form and question steps very soon.

[2015-04-20 22:36] imanabu commented on #1
Sorry about apparent inactivity, but we have been working with other NIH researcher to see what would best way to address this. There are some medical specific questions we can ask the participants and also how the photography is integrated, and from our standpoint, what will happen to the images, where they are stored. I look forward to see the mockup as well.

[2015-04-20 22:46] #2 closed

[2015-04-20 23:46] jwe-apple commented on #29
Yep, thanks. This is done!

[2015-04-20 23:46] #29 closed

[2015-04-20 23:49] jwe-apple commented on #1
Assigned to @brucehappy as further progress sounds imminent.

[2015-04-21 10:03] rsanchezsaez opened #66 "Broken ResearchKit logo image on developer.apple.com/opensource/"
Not sure if this is the best place to report it, but the *ResearchKit* logo image is broken [here](https://developer.apple.com/opensource/) (it shows as a not found image).

[2015-04-21 15:33] DanKeen commented on #66
Yup! I think we never noticed because we're all using Retina MBP's or iPhone / iPads to access. The @2x version is there but not the @1x. Thanks for the heads up, we'll follow up.

[2015-04-21 15:39] rsanchezsaez commented on #66
Ah, the marvels of using outdated hardware! ;)

By the way, it also looks broken on *iPhone 6*'s Safari.

[2015-04-21 15:40] DanKeen commented on #66
Huh, so it does. Odd I didn't notice as that's what I carry!

[2015-04-21 15:52] DanKeen commented on #66
Should be fixed now. Verified on a non-retina monitor and my iPhone 6.

[2015-04-21 15:52] #66 closed

[2015-04-21 16:06] rsanchezsaez commented on #66
Yeah, it looks good over here as well. :+1:

[2015-04-21 18:32] rsanchezsaez opened #67 "Add custom thumb assets for scales"
The vertical scale relies on a non future-proof hack for rotating the default thumb view back into the original orientation ([details here](https://github.com/ResearchKit/ResearchKit/pull/33#discussion_r28804792)).

It would be better if we had a custom thumb asset which we could reference and rotate safely.

I suggest using the same new custom thumb asset for both horizontal and vertical scales.

[2015-04-21 18:41] jwe-apple commented on #11
Have submitted the podspec officially. Let us know if issues arise with it.

[2015-04-21 18:41] #11 closed

[2015-04-21 19:49] jwe-apple opened #68 "Visual consent screens should be scrollable"
Currently, scrolling is disabled on visual consent screens.

When the consent content is taller than the screen, we should allow vertical scroll (a scroll view is already present, so enabling scrolling itself will be easy).

The difficulty is that the animation between consecutive screens needs to work, and the animation itself is played in a view that is overlaid on top of the view of the VC mana

[2015-04-21 20:02] jwe-apple opened #69 "ORKTest should include a test of repeated identifiers in a task"
If a task repeats the same question multiple times with the same identifier, there should be just one reported result from the task, that should include the most recent value entered.

The intermediate results reported during the task should also be accurate for each time the same identifier was presented.

We have had reports that this does not work correctly; this task is to investigate, add a t

[2015-04-21 22:01] rsanchezsaez commented on #69
Currently, if a task repeats the same *question* step multiple times using the same *identifier* the user enters an infinite loop. This is due to `ORKOrderedTask`'s `indexOfStep:` returning the index of the first duplicate step when we reach the second step. This in turn affects both `stepAfterStep:withResult:` and `progressOfCurrentStep:withResult:`.

How do you think `ORKOrderedTask` should hand

[2015-04-21 22:34] jwe-apple commented on #69
I don't think ORKOrderedTask should support this at all. It would be reasonable for ORKOrderedTask not to pass verification if it has two steps with the same identifier.

This is for a custom ORKTask, which due to how the user has answered decides to re-ask a question.

[2015-04-21 22:35] jwe-apple opened #70 "Remove ork_firstResponderView and track current cell directly"
On review of the recent ork_firstResponderView change, we feel it's not necessary to have this hack to get the first responder. Instead, the table view container should track the currently active cell via a delegate relationship.

[2015-04-21 22:37] jwe-apple opened #71 "Fitness task can get stuck on step 5"
We've had intermittent reports that the fitness task can get "stuck" at step 5. This has been reproduced once each with ORKCatalog and ORKTest, but we have not been able to reproduce consistently enough to determine root cause.

[2015-04-21 22:37] rsanchezsaez commented on #69
Is there such a custom `ORKTask` in any of the open sourced apps? Any additional details about how is this not working correctly?

[2015-04-21 22:47] jwe-apple opened #72 "[iPad] Enable ORKTest and ORKCatalog apps to run on iPad"
Make basic adjustments so ORKTest and ORKCatalog can run out of the box on iPad. At least:

- Change them to be Universal apps
- Remove healthkit UIRequiredDeviceCapabilities

[2015-04-21 22:47] jwe-apple opened #73 "[iPad] Make HealthKit optional"
HealthKit is not available on iPad. Make HealthKit optional in ResearchKit by making all use of HealthKit features conditional on HealthKit framework being present.

[2015-04-21 22:50] jwe-apple opened #74 "[iPad] Crash when cancelling a task"
There is a crash when cancelling a task on iPad, observed in the ORKTest app. This is to do with the action sheet presentation for task cancellation.

<blockquote>
2015-04-21 15:48:29.100 ORKTest[250:8068] *** Terminating app due to uncaught exception 'NSGenericException', reason: 'Your application has presented a UIAlertController (<UIAlertController: 0x134624890>) of style UIAlertControllerStyle

[2015-04-21 22:54] jwe-apple opened #75 "[iPad] Pickers are not aligned properly on iPad"
It happens on all kinds of pickers: `date`, `time`, `timeInterval`, and `choice`.
The pickers should align to the center of the screen.

![screen shot 2015-04-21 at 15 53 49](https://cloud.githubusercontent.com/assets/11575859/7264260/a5597b0a-e83e-11e4-8340-cc3832b7427f.png)

[2015-04-21 23:00] jwe-apple opened #76 "[iPad] Visual metrics for iPad"
- Add `ORKScreenTypeiPad` and create visual metrics for iPad in `ORKSkin`.
Make UI elements on iPad not stay on the top and leave bottom half empty. Instead, make the vertical alignment more vertically centered, like in the initial setup of a new iPad

![img_0005](https://cloud.githubusercontent.com/assets/11575859/7264342/6d0da5b8-e83f-11e4-9177-bc090a2b0298.PNG)

![img_0003](https://cloud.github

[2015-04-21 23:05] jwe-apple opened #77 "[iPad] Add horizontal side margins to tableviews for iPad"
In the iPad introductory screens, table views have horizontal margins of 115pt on each side. For ResearchKit, we would like to apply the same margins for table views and in fact probably most other vertically scrolling content as well.

Example:

![img_0003](https://cloud.githubusercontent.com/assets/11575859/7264445/4391cb0a-e840-11e4-9e37-8c90d05ae702.PNG)

[2015-04-21 23:08] jwe-apple opened #78 "[iPad] Make visual assets bigger on iPad"
In active tasks and consent the visual assets look a bit small. Experiment with whether the @3x assets could be repurposed at @2x for iPad to get 150% size increase. Also adjust RKSkin layout metrics to match, if necessary.

Example:
![img_0005](https://cloud.githubusercontent.com/assets/11575859/7264481/bed2f51e-e840-11e4-9499-af9cb4f4fc5b.PNG)

[2015-04-21 23:10] jwe-apple commented on #69
In the open sourced apps, the issue came up in the consent quiz, which is a custom task that replays the quiz from the beginning if you make a mistake.

That said, to reproduce and experiment it would be easier to just create a custom task that replays the same question step indefinitely.

[2015-04-21 23:53] rsanchezsaez commented on #68
Initial stab at [pull request #79](https://github.com/ResearchKit/ResearchKit/pull/79).

[2015-04-22 06:20] garnett commented on #74
Fixed by https://github.com/ResearchKit/ResearchKit/pull/80

[2015-04-22 07:35] jwe-apple commented on #72
Yep, done!

[2015-04-22 07:35] #72 closed

[2015-04-22 07:35] jwe-apple commented on #74
Will verify tomorrow, but looks good.

[2015-04-22 08:26] rsanchezsaez commented on #69
I've been able to reproduce the issue in *ShareTheJourney*: once you fail the quiz, it cannot be completed successfully upon restart.

I'll look into this.

[2015-04-22 09:39] brucehappy commented on #1
In a form step, I've shown a few approaches to the image capture answer.  The first has the text being a section header, and the latter two have the text being within the cell, on the left, as in other cell types (I added the "INLINE CONTROLS" section to separate them from the first one).  I'm showing a few different sizes of the control in this form, as well.  I thought that the size of the contr

[2015-04-22 13:04] rsanchezsaez commented on #70
Note: relevant change introduced in [merge #32](https://github.com/ResearchKit/ResearchKit/pull/32).

[2015-04-22 14:11] rsanchezsaez commented on #70
Attempt to fix this at [pull request #83](https://github.com/ResearchKit/ResearchKit/pull/83). See the description for details.

[2015-04-22 16:37] jwe-apple commented on #69
Thanks!

[2015-04-22 17:20] jwe-apple commented on #70
@rsanchezsaez merge #32 didn't introduce it, it just renamed it.

[2015-04-22 17:36] adamstac opened #84 "ResearchKit on The Changelog!"
Howdy from The Changelog!

We'd love to have y'all on the show sometime to talk about ResearchKit.

You may have heard of our podcast, but if not -- The Changelog is a podcast covering what's fresh and new in open source. Listen to the show here http://thechangelog.com/podcast/ or here http://5by5.tv/changelog

Looking forward to talking to y'all!

Adam, EIC

[2015-04-22 17:36] jwe-apple commented on #24
I applied the change in #35.

[2015-04-22 17:36] #24 closed

[2015-04-22 17:40] DanKeen commented on #84
Thanks for the invite, Adam - closing this as it isn't really an Issue. Please reach out to researchkit@apple.com instead.

[2015-04-22 17:40] #84 closed

[2015-04-22 17:52] adamstac commented on #84
Awesome. Thanks Dan. Emailed.

[2015-04-22 17:53] jwe-apple commented on #68
Seems I was a bit trigger happy on this one. A couple things need fixing:

a) The visual consent step's scroll view needs to be registered with the task view controller, so we get the hairline effect when scrolling. See the `registeredScrollView` property.

b) The video animation often goes on longer than the view controller transition. If you attempt to scroll during this period, the video animat

[2015-04-22 17:53] jwe-apple commented on #68
I would revert the change, but since you deleted your branch already let's just carry on from here.

[2015-04-22 17:58] jwe-apple commented on #70
Change verified. Closing.

[2015-04-22 17:58] #70 closed

[2015-04-22 18:07] jwe-apple commented on #74
Verified.

[2015-04-22 18:07] #74 closed

[2015-04-22 18:15] jwe-apple commented on #3
Yep, this is done.

[2015-04-22 18:15] #3 closed

[2015-04-22 18:16] jwe-apple commented on #1
Thanks for this, I'm circulating for feedback.

[2015-04-22 19:15] rsanchezsaez commented on #68
Regarding *b)*, scrolling is currently disabled until the video animation finishes. Scrolling is enabled at the same time as the back button is updated (notice how the back button on the second consent screen doesn't appear until the video animation finishes).

Do you prefer scrolling to be enabled while the video animation has not finished yet (with video view tracking, etc.)? If yes, should we a

[2015-04-22 19:31] jwe-apple commented on #68
Regarding *b)*, in my testing I observed scrolling being enabled when the animation view was still visible, so there must be a bug here.

I also (once) got stuck with scrolling disabled, but haven't been able to reproduce again to isolate the issue.

Let's try just making the animation view track the content offset, and see how we go.

I'd prefer not to change the back button behaviour, since that

[2015-04-22 21:19] jwe-apple opened #85 "Validation checks in ORKOrderedTask and ORKFormStep for identifier's uniqueness"
<rdar://problem/20430177>

In a simple ordered task, or in a form step, the identifier is used to identify the result of a question or form item. Validation code already exists for steps and tasks; that validation should be extended in the case of `ORKOrderedTask` and `ORKFormStep` to verify that the identifiers of their items are unique.

A unit test to verify the validation behavior would be nic

[2015-04-22 21:20] jwe-apple opened #86 "Extend ORKOrderedTask to include navigation rules"
Either subclass `ORKOrderedTask`, or extend it, to include navigation rules.

A navigation rule would be something which can be asked if it matches the current step. If it matches the current step, then if provided with the results of the task to date, it should provide the step identifier for the next step. A concrete navigation rule class might be one checks if the result is equal to a particula

[2015-04-22 21:20] jwe-apple opened #87 "Audio predefined task: audio step should not show too loud if outputdir is nil and developer ignored the error"
[rdar://problem/20503028](rdar://problem/20503028)

Currently, if the output directory is nil, we report an error to the developer via the task view controller delegate. If the developer does not handle the error, the task continues, and the audio recorder setup fails, which results in the audio showing as "too loud".

Instead, the audio step view should display some kind of error state to indicat

[2015-04-22 21:22] jwe-apple opened #88 "Incorporate Touch ID into ResearchKit informed consent"
<rdar://problem/20177525>

Some applications may wish to establish a passcode during informed consent, and then use either that passcode or touch ID on further uses of a ResearchKit app to access certain features.

This task is to add a concept of authentication at the task or task view controller level. We will also need an authentication setup step to create a passcode during informed consent an

[2015-04-22 21:24] jwe-apple opened #89 "[Review step] API design"
<rdar://problem/19220394>

Participants should be able to review the data they've entered into ResearchKit apps. This issue is for designing an API for supporting this in ResearchKit.

We'd like to have a review step that could be placed at the end of a survey task, which would allow the user to review their answers. This would take the form of a table view, with roughly one row per answer. It mig

[2015-04-22 21:25] jwe-apple opened #90 "[Review step] Implementation of review step"
<rdar://problem/19220394>

Participants should be able to review the data they've entered into RK apps. This issues is for implementing the review step, following on from #89 (API design)

We'd like to have a review step that could be placed at the end of a survey task, which would allow the user to review their answers. This would take the form of a table view, with roughly one row per answer. It

[2015-04-22 21:27] jwe-apple opened #91 "[Review step] Support for displaying the results of active steps"
rdar://problem/19220394

Participants should be able to review the data they've entered into RK apps. This issue is for adding support for active steps to the API from issues #89 and #90.

The results of active steps should also be presentable in some form in this UI. This may need to be quite custom for specific tasks, so it would be worth decoupling the presentation of results from the result cl

[2015-04-22 21:30] jwe-apple opened #92 "Graphs for viewing historical HealthKit and ResearchKit data"
AppCore has a graphing component that the initial apps use to present ResearchKit and HealthKit data (see `APCGraph`). We think it might make sense to import that code in some form into ResearchKit. Some of the requirements for HealthKit data display in research apps are very specific, so it might make sense to include some limited charting capabilities in ResearchKit.

This task is to review the

[2015-04-22 21:32] jwe-apple opened #93 "Task scheduling"
We think that maintaining a list of tasks, and scheduling when they need to occur, is going to be common to apps using ResearchKit.

AppCore has a task scheduling component, which stores schedules for tasks in a CoreData database. Schedules are defined with cron-like expressions. It interacts with a particular back-end service to obtain schedules, and then stores and applies these schedules. See `

[2015-04-22 21:33] jwe-apple opened #94 "Task list"
We think that maintaining a list of tasks, and scheduling when they need to occur, is going to be common to apps using ResearchKit.

AppCore has a task list for seeing today's tasks, tracking which have been done, and launching them (see `APCActivitiesViewController`). A view controller for presenting a list of pending tasks (which might be the same as the list of scheduled tasks), as well as the

[2015-04-22 22:30] rsanchezsaez commented on #68
Regarding *b)*, you were right, there was a bug. If you went back to a previous scene, when you forward to the next scene again the scroll remains unlocked even when the animation video is still playing.

I tried doing the nicest thing: not locking the scroll at all and have the animation view track the scroll position. The results can be seen in my [rsanchezsaez-visualconsentscroll-b](https://git

[2015-04-22 22:36] jwe-apple commented on #68
For your -b patch, try adding the CADisplayLink with modes `NSRunLoopCommonModes` rather than `NSDefaultRunLoopModes` ?

[2015-04-22 23:17] rsanchezsaez commented on #69
Fixed in [pull request #95](https://github.com/ResearchKit/ResearchKit/pull/95).

[2015-04-22 23:54] rsanchezsaez commented on #68
`NSRunLoopCommonModes` did the trick! Now the [rsanchezsaez-visualconsentscroll-b](https://github.com/rsanchezsaez/ResearchKit/tree/rsanchezsaez-visualconsentscroll-b) patch seems to work fine.

I added the `ORKScrollToTopAnimationDuration` constant to `ORKHelpers` (used by both `ORKConsentSceneView` and `ORKAnimationPlaceholderView`). Let me know if you think it should be elsewhere.

[2015-04-22 23:55] jwe-apple commented on #68
Yeah, that's an ok place for it. Can you please submit as a pull request?

[2015-04-23 00:01] #69 closed

[2015-04-23 00:01] rsanchezsaez commented on #68
Submitted [pull request #96](https://github.com/ResearchKit/ResearchKit/pull/96).

[2015-04-23 11:06] rsanchezsaez commented on #71
I've been unsuccessful at reproducing this.

When *step 5* got stuck in your tests, was it before starting the sitting counter, at the end of the counter, or at some time while it the counter was running? Any additional details?

[2015-04-23 11:43] rsanchezsaez commented on #75
Pull request submitted.

[2015-04-23 11:51] rsanchezsaez commented on #76
In progress.

[2015-04-23 12:00] rsanchezsaez commented on #77
Should the same be done for iPhone 6+?

[2015-04-23 13:05] rsanchezsaez commented on #93
The scheduling tests in `AppCore` seem not to pass. Show we fix those as pre-requisite to this?

[2015-04-23 18:17] jwe-apple commented on #71
Original bug indicates - at the end of the counter, the step did not advance.

[2015-04-23 18:26] jwe-apple commented on #76
If we need different metrics for the 6+, then yes. The original specs had 6+ metrics the same as the 6, but there is some scope to change that.

[2015-04-23 18:26] jwe-apple commented on #77
No, not for the 6+.

[2015-04-23 18:27] jwe-apple commented on #93
No, just open an issue for that. There is continuing work on AppCore and I'll make sure the relevant team sees it.

[2015-04-23 22:09] rsanchezsaez opened #99 "Revise all 'updateConstraints' implementations"
Some `updateConstraints` implementations may be accumulating duplicate constraints. They also need to call `[super updateConstraints]` last, but some of them call it early. Revise this.

See comments [here](https://github.com/ResearchKit/ResearchKit/pull/98) for more details.

[2015-04-23 22:19] jwe-apple commented on #99
Yep.

[2015-04-23 22:19] #75 closed

[2015-04-23 22:21] jwe-apple commented on #68
Verified.

[2015-04-23 22:21] #68 closed

[2015-04-24 08:12] coxy1989 commented on #87
Something like

_audioRecorder.outputDirectory == nil ? [self functionWhichCallsSuspendAndShowsUIAlertView] : [self start];

in ORKAudioStepViewController's ViewDidAppear?

[2015-04-24 16:04] jwe-apple commented on #87
Probably without the alert view, because if we have an alert view it needs copy which we need to localize and maintain. But yes, roughly that.

[2015-04-24 16:12] rsanchezsaez commented on #77
Should maybe all the different *step views* have the margins? Which view do you think should hold these margins? Maybe they should be applied to `ORKVerticalContainerView`.

[2015-04-24 17:10] jwe-apple commented on #77
At a first pass, I think they should apply to ORKVerticalContainerView, and also to cases where we're using ORKTableContainerView.

A slight complication to the ORKVerticalContainerView implementation is that the stepView for the vertical container should probably be laid out full width, but with autolayout margins. That way if a stepView needs to be wider, for example for a cognitive game, it can

[2015-04-24 23:46] brucehappy commented on #78
Submitted PR #107 for this one.  I know that #76 collides with this as noted in the PR.

@jwe-apple is this what you were after?
![ios simulator screen shot apr 24 2015 7 41 29 pm](https://cloud.githubusercontent.com/assets/5296062/7330321/8b45ba02-eaba-11e4-8eca-16eb2079c72b.png)

[2015-04-24 23:50] brucehappy commented on #78
Oh, and do note that I didn't create any new assets for iPad 1x, so its just scaling down the 2x, which does lead to slightly pixelated images, which can be noticeable after each consent animation finishes and the image replaces it.

[2015-04-25 00:19] jwe-apple commented on #78
Yep, good first pass.

[2015-04-25 00:57] rsanchezsaez commented on #77
Implemented in [pull request #108](https://github.com/ResearchKit/ResearchKit/pull/108).

I tried to maintain the current system for calculating view layouts. Layout code is currently a little bit over the place. Maybe it would be a good idea to refactor some of the layout code from some cells/views to the more general superclasses. If you agree, maybe let's create a new issue for the layout code

[2015-04-25 17:39] rsanchezsaez commented on #86
I'm working on this while the *iPad margins pull request* is reviewed.

[2015-04-26 03:46] jwe-apple commented on #77
Yes, we want to do that refactor, but now's not the time. Please raise an issue for it. If you have specific ideas for what to do feel free to propose them.

[2015-04-26 04:32] jwe-apple commented on #86
Sounds good. Please email me a draft of API for review as soon as you have something to look at. Can likely save you implementation time if we get the API close to right the first time.

[2015-04-26 04:32] jwe-apple commented on #86
(and also I can circulate it more widely here)

[2015-04-26 11:22] rsanchezsaez opened #110 "Refactor layout code"
Layout code for most of the views is currently a bit over the place. Consider doing some refactoring to make it more homogenous and easier to maintain.

I don't have any specific suggestions right now, but it certainly feels like there is room for simplification.

[2015-04-27 01:37] rsanchezsaez commented on #86
Some ideas for the API:

    @interface ORKStepNavigationRule : NSObject

    - (instancetype)initWithSourceStepIdentifier:(NSString *)sourceStepIdentifier;
    - (NSString *)nextStepIdentifierWithTaskResult:(ORKTaskResult *)taskResult;

    @property (nonatomic, copy, readonly) NSString *sourceStepIdentifier;

    @end

    @interface ORKStepResultEvaluator : NSObject

    - (instancetype)initWit

[2015-04-27 05:08] jwe-apple commented on #110
This is a bit of an umbrella issue. Specific tasks should at the least be separate PR's, happy to have multiple PR's reference this.

Things we've been thinking about:
- Further refactor form and step cells; there's still some duplication going on here.
- Simplify the header view. It's common across almost all templates, and its layout code seems more complicated than it needs to be.
- Look at the

[2015-04-27 16:18] jwe-apple opened #115 "Add option to include signatures in HTML consent review"
In the HTML consent review, one @ekhall submitted a PR #111 to include signatures in the HTML consent review. The PR was rejected, but this is not a bad idea. There are two ways of doing it: 1) making the HTML accept a template, and define certain templated elements like {{signature}} to place signatures directly in your own HTML. 2) Appending the same signature HTML from the standard consent.

[2015-04-27 19:56] pecampbell opened #117 "Active task exiting after step 3"
I am testing the use of active tasks with something like this:

let fitnessTask = ORKOrderedTask.fitnessCheckTaskWithIdentifier("fitness", intendedUseDescription: "description", walkDuration: NSTimeInterval(360), restDuration: NSTimeInterval(60), options: ORKPredefinedTaskOption.None)
let taskViewController = ORKTaskViewController(task: fitnessTask, taskRunUUID: nil)
taskViewController.delegate =

[2015-04-27 21:06] rsanchezsaez opened #118 "Fitness task step images change position after transition"
When transitioning to a an `ORKFitnessStep`'s from a previous one. The image (if any) moves to a higher position after the transition finishes. This causes a visual glitch.

This happens on *iPhone 5* and *6* screen sizes. *iPhone 4* screen size is not affected. It happens on *stable* as well, so it isn't a recent regression.

[2015-04-27 21:07] jwe-apple commented on #118
Sounds like insufficient constraints. What iOS version are you testing on?

[2015-04-27 21:13] jwe-apple commented on #117
What are you doing in your task view controller delegate's error handling methods?
Have you tried breakpointing there?

I think you're likely getting an error because HealthKit recorder won't work (you don't have the entitlement). You shouldn't dismiss the view controller in that case.

On current `master` branch, error handling is easier because we've split recorder errors out onto a separate del

[2015-04-27 21:24] pecampbell commented on #117
Thanks jwe.

I am a quite new to apple development and was just trying to put some code together from some samples I came across. I had the following code:

    func taskViewController(taskViewController: ORKTaskViewController, didFinishWithReason reason: ORKTaskViewControllerFinishReason, error: NSError?){
        taskResultFinishedCompletionHandler?(taskViewController.result)
        taskViewCon

[2015-04-27 21:26] rsanchezsaez commented on #118
iOS 8.3. It's 100% reproducible on device and simulator (*ORKCatalog*).

[2015-04-27 21:46] p2 commented on #86
The way this works in surveys I usually see is that a question (or group of questions, sorely missing from ResearchKit) knows whether it should be displayed based on an answer on a **previous** question. Your proposal turns this around by letting the question decide, based on its answer, which step to show **next**. Given the limitation of not having groups (which can be skipped entirely based on

[2015-04-27 21:55] jwe-apple commented on #86
@p2 We've discussed doing it the other way round, and adding groups. We may end up adding groups at some point anyway, in order to be more interoperable with (e.g.) FHIR, but in principle a group-structured task could be a different implementation of the ORKTask protocol, and have nothing to do with ORKOrderedTask.

[2015-04-27 21:56] jwe-apple commented on #86
In particular I don't think we'd ever attach rules to steps. Instead we'd attach rules to groups, which could potentially contain only a single step.

[2015-04-27 21:58] p2 commented on #86
@jwe-apple Sounds good. We're actually creating a FHIR bridge, so that would make for an easier mapping down the road. FHIR can have rules at both group AND question level, but limiting to groups should be perfectly fine; and cleaner, for that matter.

[2015-04-27 22:13] jwe-apple commented on #86
@p2 It would be great if you could contribute your FHIR bridge back to ResearchKit. Starting sooner rather than later. I know there are several other parties out there also thinking about this, and having something concrete would be great.

[2015-04-27 22:18] jwe-apple commented on #86
@p2 ... and if that happened to include an alternative to or an extension to ordered tasks that supported group structure, that would be worth looking at.

[2015-04-27 23:25] jwe-apple commented on #117
This message:

`2015-04-27 14:14:44.260 body-atlas[24728:790259] __82-[ORKTaskViewController requestHealthStoreAccessWithReadTypes:writeTypes:handler:]_block_invoke 365 Health access: error=Error Domain=com.apple.healthkit Code=4 "Missing com.apple.developer.healthkit entitlement." UserInfo=0x7f84e3cd1840 {NSLocalizedDescription=Missing com.apple.developer.healthkit entitlement.}`

Indicates that

[2015-04-27 23:27] jwe-apple commented on #117
@pecampbell You don't actually want to delete that line. The best thing to do would be to update to a newer version of ResearchKit. Even though I can't guarantee the current `master` branch is perfect, it will mean that your task won't get dismissed even if you leave that line in.

[2015-04-27 23:32] rsanchezsaez commented on #110
Another item:
 - Try to reuse more code between `ORKVerticalContainerView` and `ORKTableViewContainer` (specifically, on-screen keyboard handling).

[2015-04-28 00:18] getaaron opened #119 "Can't sign consent in landscape on iPhone 6"
If my iPhone 6 is in landscape when the `ORKConsentReviewStep` appears, the view is too short vertically, which causes vertical scrolling behavior. This makes it impossible to sign.

If I rotate to portrait, then back to landscape, the issue persists.

If I rotate to portrait, sign the form, then back to landscape, the issue no longer persists.

[2015-04-28 00:25] rsanchezsaez commented on #119
Confirmed. It happens on *stable* as well.

[2015-04-28 00:26] jwe-apple commented on #119
Yep, this is known. In the shipping apps landscape is disabled. If you have a need to actually have rotation enabled, happy to accept a PR.

[2015-04-28 00:27] jwe-apple commented on #119
<rdar://problem/20245432>

[2015-04-28 00:27] getaaron opened #120 "Signature doesn't appear on PDF"
After capturing a signature, I attempt to apply the signature to the consent document, and then generate a PDF.

The user's name, signature, and date don't appear on the PDF.

I'm pretty sure it's not user error, but here's my code to reproduce the issue.

This code applies the signature and generates the PDF:

    func taskViewController(taskViewController: ORKTaskViewController, didFinishWithRea

[2015-04-28 00:31] rsanchezsaez opened #121 "Rotation issues in consent views"
If you rotate the *iPhone 6* from portrait to landscape in the mid of the consent visual views:
-  Screen layout doesn't update, scrolling is not enabled, and the next button cannot be seen. If you go to the previous screen, the layout updates.
- When the layout updates after switching screens, the video animation view layout is not updated, so the animation and the static images no longer match.

[2015-04-28 00:33] jwe-apple commented on #120
Yes, unfortunately this is a bit messy, but you have to apply the consent signature result to a copy of the document before running the review step if you want the signature to appear. Try  `[ORKConsentSignatureResult applyToDocument:]`

See "Optionally, Generate a PDF" in https://researchkit.github.io/docs/docs/InformedConsent/InformedConsent.html

[2015-04-28 00:37] jwe-apple commented on #121
Yep. Rotation not enabled in the shipping apps, but we need it for iPad.

[2015-04-28 00:48] getaaron commented on #120
Ah, you might want to add "before running the review step" to that doc :)

I tried to do this in `taskViewController:shouldPresentStep:` but this causes a crash:

    func taskViewController(taskViewController: ORKTaskViewController, shouldPresentStep step: ORKStep) -> Bool {
        if step.identifier == "consent review step identifier" {
            if let signatureResult = taskViewController.re

[2015-04-28 00:50] getaaron commented on #121
Interesting. Do you think it's significant enough to add to the "limitations" section of the technical overview doc?

[2015-04-28 00:54] getaaron commented on #88
Would you want ResearchKit to write a passcode to the keychain? Or should that be an exercise for the developer?

[2015-04-28 00:56] getaaron commented on #120
As a feature request, why not automatically apply the signature? Is it expensive?

[2015-04-28 01:26] getaaron opened #122 "taskViewController(_:shouldPresentStep:) crashes in Swift"
In this delegate method:

    func taskViewController(taskViewController: ORKTaskViewController, shouldPresentStep step: ORKStep) -> Bool {
        // use step
    }

`step` is guaranteed by the method signature to be non-nil, and crashes when using `step` if it's not. But this method has many code paths that can return `nil`:

    - (ORKStep *)stepAfterStep:(ORKStep *)step withResult:(ORKTaskResu

[2015-04-28 05:21] jwe-apple commented on #121
No - I think we should fix the issue, since we want things to work on the iPad.

[2015-04-28 05:23] jwe-apple commented on #88
Yes, there should be a ObjC wrapper in ResearchKit which writes the passcode to the keychain, similar in principle to `APCKeychainStore`. This may need a concept of a study identifier.

Would like the keychain storage part to be largely independent of the rest of the framework. It should integrate well with e.g. `ORKTaskViewController`, but should not be dependent on it, if that makes sense.

[2015-04-28 05:26] jwe-apple commented on #120
The principle is that the document (and the step) are immutable model objects once the task begins. Mutable things are returned as results. I suppose we could do this at the step view controller level, grabbing both the task result so far and the current step / document, making a copy of the document, and applying the signature. Happy for you to turn this bug into an enhancement bug to attempt thi

[2015-04-28 05:29] jwe-apple commented on #120
You know what, looking at this again, this looks like a regression. This *used* to work automatically for presentation (sometime before the open source release). Reclassifying as a bug.

[2015-04-28 05:53] jwe-apple commented on #122
Agree, that's the correct fix. `stepAfterStep:withResult:` is correctly annotated as nullable input and nullable result. `shouldPresentStep:` should not be called with a nil `step`.

[2015-04-28 07:36] jwe-apple commented on #120
Answered too quickly again! Slight confusion on my part, because we used to display the signatures in the mobile version during the consent review, which meant signatures were applied in-line in the consent review step.

The right place to call applyToDocument is after your task is complete, when processing results from the review. That is, in the `taskViewController:didFinishWithReason:` implemen

[2015-04-28 07:39] jwe-apple commented on #115
Note that at the moment signatures are also turned off in the non-HTML consent review. These could be re-enabled, but with a flag to control the behavior.

[2015-04-28 10:02] jwe-apple commented on #4
Completed!

[2015-04-28 10:02] #4 closed

[2015-04-28 10:27] ekhall commented on #115
Are you certain of that jwe? The way I discovered where the issue lay (after thinking it was a problem with my own program) was that after having set up:

[code]

I commented out the _doc.htmlReviewContent and suddenly the signature started showing up in the consent document generated from the steps. (original RK master branch)

[2015-04-28 13:30] pecampbell commented on #117
Thanks jwe. I ended up using these lines:

if(reason != ORKTaskViewControllerFinishReason.Failed){
            taskResultFinishedCompletionHandler?(taskViewController.result)
            taskViewController.dismissViewControllerAnimated(true, completion: nil)
        }

I will check out the lastest from master and let you know how it goes.

Is there any way to include my own UI (view) as one of the

[2015-04-28 17:02] jwe-apple commented on #115
In the mobile UI, or when you generate a PDF? PDF generation does include the signatures, but the mobile version used in the review step (where the user clicks 'agree') does not.

I think I misinterpreted your ask. You wanted the generated PDF to include a signature trailer when using HTML! We chose not to do that, because we didn't know what might be in your HTML. We expected developers to handle

[2015-04-28 17:08] jwe-apple commented on #117
Two ways to get your own UI. If you still want the default header view, then subclass active step view controller and supply your own step view. See any of the subclass of ORKActiveStepViewController for an example.

If you don't then subclass ORKStepViewController and you have even more freedom.

Note that you don't need to modify ResearchKit to do this -- you should be able to subclass from outs

[2015-04-28 17:12] #120 closed

[2015-04-28 19:21] jwe-apple commented on #122
Fixed.

[2015-04-28 19:21] #122 closed

[2015-04-28 20:53] rsanchezsaez commented on #118
Looks fixed on the *iPhone 6* simulator.

[2015-04-28 21:37] jwe-apple commented on #118
Thanks!

[2015-04-28 21:37] #118 closed

[2015-04-28 21:38] jwe-apple commented on #99
While revising some of these for other issues, I remembered why so many of them have been set up dynamic. We thought developers might want to present our view controllers in frames of their own devising, for instance on iPad. So in that case the margins should depend on the presenting frame, rather than the screen size.

[2015-04-28 21:39] p2 commented on #86
@jwe-apple I have this working with subclasses of `ORKQuestionStep` and `ORKOrderedTask` against sufficiently complex FHIR questionnaires. Groups would be nice but this works for now. Will be difficult to contribute the bridging back to ResearchKit though since I'm using our [Swift FHIR](https://github.com/smart-on-fhir/Swift-FHIR) framework.

[2015-04-28 23:04] jwe-apple commented on #86
@p2 Ah, that's ok. Could you share with me so I can have a look? Want to judge if there's some framework support we can add.

[2015-04-28 23:37] jwe-apple commented on #1
@brucehappy Could we do another iteration on this? We feel the forms version feels a bit too much like engineering UI. The question step version is a bit clunky too. We wonder if integrating the camera directly into the task navigation flow might be preferable, and simply document that it would be normal to preface with an instruction step.

Other things to give thought to include annotations or i

[2015-04-29 03:06] p2 commented on #86
@jwe-apple Sure, shared and sent a quick overview email.

[2015-04-29 03:40] brucehappy commented on #1
Thanks for the feedback.  Ok, so the idea is to make the image capture an ORKStep subclass, correct?  Seems like a good idea.

Overlays are definitely something that makes sense to do in order to guide them to take the picture properly.

As for editing, I'm having trouble thinking of a reason that applying filters might make sense, but, certainly I could see where cropping or rotation might be hel

[2015-04-29 04:15] getaaron opened #131 "Serialize ORKResult object tree into JSON"
I have a working ResearchKit app, except I'm having trouble serializing the results `ORKResult`, `ORKStepResult`, etc. into JSON to upload to a server.

I see in [the `ORKResult` docs](https://researchkit.github.io/docs/Classes/ORKResult.html) that this isn't supported:

So, I guess I can get this to JSON like so:

- `ORKResult` -> `NSData` via `NSKeyedArchiver`
- `NSData` -> `NSDictionary` via `N

[2015-04-29 04:41] jwe-apple commented on #1
I'd leave the question of whether it's an ORKQuestionStep subclass or an ORKStep subclass for later. Let's define the interaction we want first.

Yes, I'd leave off verification for now - can always be added later for particular requirements.

For editing I'd focus on cropping; other editing tasks are probably secondary but those are some good ideas.

[2015-04-29 04:42] jwe-apple commented on #131
There's a JSON implementation in ORKESerialization, look at in the ORKTest app.

It's not part of the framework, but it's an extension.

[2015-04-29 04:43] jwe-apple commented on #131
[ORKESerialization](https://github.com/ResearchKit/ResearchKit/blob/31ea7908a24a24092ce490b7717dc8e015f77985/Testing/ORKTest/ORKTest/ORKESerialization.h)

[2015-04-29 04:44] jwe-apple commented on #131
There is also a separate JSON serialization specifically for integrating with the Sage Bridge server, in the AppCore repository.

[2015-04-29 09:04] pecampbell commented on #117
Thanks a lot for the advise so far. I have successfully created a custom UI for one of the steps. The challenge now is to get Next and Skip buttons that look and position exactly like the ones in the ResearchKit.

Is there any easy way of doing this or do I have to just re-draw those elements?

Thanks again in advance

[2015-04-29 10:48] jakubvano opened #132 "Unexpected paging in ORKHTMLPDFWriter"
Current implementation of `ORKHTMLPDFWriter` produces unexpected page breaks, if input HTML has center / right aligned content.

Example of problematic HTML:

[code]

PDF created from this HTML will have unexpectedly large bottom margin.

Upon further investigation I found out that this issue is most likely caused by `[UIWebView viewPrintFormatter]`, however I could not find any solution / workaro

[2015-04-29 15:41] getaaron commented on #131
Thanks. I would love to see `ORKESerialization` included in ResearchKit. Would you be open to a PR that moves it into ResearchKit and adds appropriate documentation?

If not, should I write a PR that references it in the documentation?

[2015-04-29 16:07] jwe-apple commented on #117
If I were you, I would subclass `ORKVerticalContainerView` for my view controller's view. And possibly get rid of the `headerView` (`removeFromSuperview`). This will do all the continue / skip logic for you using the `ORKNavigationContainerView` which is the view that contains continue / skip buttons.

Alternatively you could use `ORKNavigationContainerView` directly.

[2015-04-29 16:08] jwe-apple commented on #117
I'm going to close this issue, since it seems like the original problem has been resolved. Please open a new one if you have additional questions!

[2015-04-29 16:08] #117 closed

[2015-04-29 16:17] jwe-apple commented on #132
If you can create a small stand-alone example of the unexpected behavior, I would suggest filing a radar. If you add the radar number here I can follow up internally.

[2015-04-29 16:53] jwe-apple commented on #131
Yeah, let's add a reference to it in the documentation. We think it's likely that ResearchKit will end up with serializations appropriate for integrating with each of several different back ends. If you choose to set up your own back end / tools, then ORKESerialization will get you started, but you'll likely have to modify it in practice.

We'd be interested to learn what those modifications are,

[2015-04-29 16:54] jwe-apple commented on #131
I'm going to close this issue, but please do submit a PR for documentation improvement!

[2015-04-29 16:54] #131 closed

[2015-04-30 08:10] infimache commented on #132
I have filled a radar, number 20760071

[2015-04-30 10:44] nskboy opened #133 "Why do you use UIPageViewController inside UINavigationController?"
I noticed that `ORKTaskViewController` uses following hierarchy of view controllers:

    ORKTaskViewController
      UINavigationController
        UIPageViewController
          ORKStepViewController

I wonder why don't just simplify the code and throw away page view controller? You can push step view controllers in navigation controller in a similar way.

[2015-04-30 16:59] jwe-apple commented on #133
We definitely don't want navigation controller, because that maintains a stack of view controllers. We don't want all that state. We want two or at most three view controllers loaded at a time, and usually only want one (the visible one).

Admittedly, UIPageViewController isn't ideal for this purpose - the fact we're still using it is historical. It would be preferable to use a custom container vi

[2015-04-30 17:00] jwe-apple commented on #133
@nskboy Let me know if that answered your question!

[2015-04-30 17:04] jwe-apple commented on #132
Thanks!

[2015-04-30 18:27] nskboy commented on #133
Thanks! Now I get it.

[2015-04-30 18:27] #133 closed

[2015-04-30 23:47] brucehappy commented on #1
Here's another shot at this.  I didn't include the cropping step as I wanted to get confirmation this was the right direction.  Apologies for the verbosity.

![joined](https://cloud.githubusercontent.com/assets/5296062/7424594/5264d05e-ef71-11e4-847c-831aaf20c839.jpg)

[2015-05-01 00:29] DanKeen commented on #1
Thanks - that's a great direction. I think this is much closer to what we were envisioning.

[2015-05-01 04:07] jwe-apple commented on #1
Yep, this is great. This demo sequence would be great to have, too in one of the test/demo apps too. Let's get this done, and we can look at editing as a follow-on step.

[2015-05-01 05:25] brucehappy commented on #1
Glad to hear I'm on the right track.  I'll start working on getting this code into shape and removing all the twine and tape thats holding it together right now :wink: .

[2015-05-01 07:47] flarmed opened #134 "New active task for measurement of visual acuity"
We aim to create an active task of measurement near visual acuity for use in ophthalmic clinical trials.

[2015-05-01 10:52] rsanchezsaez opened #135 "Scale question step loses its default value on second visit"
The scale question step loses its default value on second visit.

Steps to reproduce:
1. Go to a scale question step with a default value: the scale has a default value. Do not input any value.
2. Go back.
2. Go forward again: the scale doesn't have a default value.

[2015-05-01 15:31] brucehappy commented on #135
Definitely saw this during my testing, but wrongly assumed it was the intended behavior.

[2015-05-01 17:36] jwe-apple commented on #134
Great. Do you have an idea of schedule? Also, plans for how calibration will work?

[2015-05-01 17:46] jwe-apple commented on #135
Yep, sounds like a bug. note that if you skip the step and then come back, the default value should *not* appear.

[2015-05-02 06:13] flarmed commented on #134
It is very difficult for me to establish a schedule for creating the task that I am not a professional programmer and I have only two years working with objective-c. A few months ago I created a tool for my personal use to measure visual acuity with the iPhone. The main drawback is the distance from the eye to the screen of the device. You need to know the distance between them in order to validat

[2015-05-02 13:18] rsanchezsaez commented on #135
Also, not sure what the expected behaviour is, but when even when a default value shows, the *Next* button is disabled until you interact with the slider.

[2015-05-02 19:36] hershman opened #138 "Improved Survey Skip Logic"
For the Asthma Health app, we ran into a couple limitations in implementing the daily survey.  There are two specific features related to survey skip logic we'd love in order to improve the experience for our users:

1. __Cross Survey Skip Logic__: We're using the daily survey to asses if users took their controller medication.  Users who aren't prescribed controller medication shouldn't see these

[2015-05-02 20:04] eimantas commented on #121
This probably should be closed as it seems to be fixed in master.

[2015-05-04 11:30] rsanchezsaez commented on #135
The problem seems to be that as soon as you view a question step, the answer is set to `NSNull`. So going back is currently indistinguishable from skipping the question.

To provide the desired behaviour, we could define an empty `ORKSkippedAnswer : NSNull` class which is only set when a question is skipped. That way we can show the default value when the answer is `NSNull`, but avoid showing it w

[2015-05-04 11:37] rsanchezsaez commented on #138
Regarding *Multi-Response Skip Logic*, that will be possible when we finish the *ordered task with navigation rules* implementation ([issue #86](https://github.com/ResearchKit/ResearchKit/issues/86)). We're working on it already.

On *Cross Survey Skip Logic*, I'm not sure if *ResearchKit* should handle this. When you finish a survey, *ResearchKit* provides you with the results, and the app is res

[2015-05-04 11:46] rsanchezsaez commented on #99
I think that presenting the view controllers on custom sized frames would continue to work with static constraints (as long as the containing frame doesn't change in the middle of a task). So I feel we can try to make the constraints static as much as we can (as long as the constraints correctly support a device orientation change).

The only thing is that all *ork metrics* are now generally gotte

[2015-05-04 12:39] rsanchezsaez commented on #121
Yeah, the new *iPad margins* code seems to have fixed it.

[2015-05-04 14:35] rsanchezsaez commented on #76
I made the following iPad adjustments:
- modify ORKScreenMetricTopToCaptionBaseline to be similar to the *initial setup screen top to title baseline* height
- add ORKScreenMetricTopToIllustration which adds a margin on top of the consent images (also similar to the one on intro images)

I didn't modify any iPad font sizes, but that's a possibility now.

It could be that after adding the top and si

[2015-05-04 17:42] jwe-apple commented on #138
@rsanchezsaez Cross Survey Skip Logic sounds like something we should think about including in the navigation rules task already in progress. Two ways it could be achieved:

1) Providing an override point where a subclass could use a parameter to control.

2) Providing a way to inject extra identifiers into the namespace for predicates, so that a predicate can operate against an additional result

[2015-05-04 17:44] jwe-apple commented on #99
@rsanchezsaez That's the point. The size of the task controller's root view is not necessarily known at the time of view instantiation - as we won't be in the view hierarchy at that point. Consider for example instantiation during UI state restoration.

[2015-05-04 17:46] #121 closed

[2015-05-04 17:46] rsanchezsaez commented on #99
Ah, I see.

[2015-05-04 17:47] rsanchezsaez commented on #138
I'll see what I can do.

[2015-05-05 23:45] jwe-apple commented on #77
For now, this is done.

[2015-05-05 23:45] #77 closed

[2015-05-06 09:02] nskboy opened #141 "Loading text choices from asynchronous source"
I'm experimenting with loading array of `ORKTextChoice` from the network resource and displaying it with default `ORKQuestionStepViewController`. I know I can provide custom view controller for that but I think it should be supported out of the box.

Currently I can't figure out how to fit this feature in established ResearchKit architecture. Have you thought of this? Could you provide any ideas h

[2015-05-06 16:51] jwe-apple commented on #141
Ah, so you want to use `ORKQuestionStepViewController` without a task view controller?

I don't believe any API change is required. You need to create an `ORKQuestionStep` with an appropriate `ORKAnswerFormat` subclass containing your text choices. Then instantiate the question step view controller, set the step, and present it. You will want to provide a delegate to catch button taps / changes in

[2015-05-06 16:52] jwe-apple commented on #141
Note this isn't the normal way to use `ORKQuestionStepViewController` - the normal way is by putting your step in a task, and using an `ORKTaskViewController` to manage the presentation process. Why do you want to do it this way?

[2015-05-06 20:41] jwe-apple commented on #76
Happy with this to start with. I'll be raising separate issues for the remainder.

[2015-05-06 20:41] #76 closed

[2015-05-06 20:42] #78 closed

[2015-05-06 21:24] jwe-apple opened #142 "[iPad] 'Next' should stay visible when rotating with keyboard up"
On both phone and iPad, when the keyboard comes up, we adjust the position of the 'Next' button so it is visible and immediately tappable.

On rotating the screen, currently this accurate positioning / layout is lost. It should be preserved, ideally with a smooth animation.

[2015-05-06 21:25] jwe-apple opened #143 "Signature view does not draw properly after rotation"
The signature screen does not redraw properly after rotation.

The signature image is stretched, as is the prompt text. This is particularly noticeable on iPad.

[2015-05-06 21:35] jwe-apple opened #144 "[iPad] Signature box on consent should be bigger"
The signature area on the iPad is too small. Probably wants to be about 50% bigger.

[2015-05-06 21:39] jwe-apple opened #145 "[iPad] Present consent "Learn More" content in form sheet presentation"
The "Learn More" content in consent presents modally, full screen.  It should probably be presented in form sheet presentation instead. What it looks like now:

![img_0006](https://cloud.githubusercontent.com/assets/11575859/7504271/c2370cd6-f3fd-11e4-856d-b0ee89b6861b.PNG)

[2015-05-06 21:41] jwe-apple opened #146 "[iPad] Consent review screen should have insets to match rest of iPad UI"
The consent review screen's content should be inset horizontally and should have more padding at the top of the document, to match the rest of the iPad UI.

The consent review screen looks like this right now:

![img_0005 1](https://cloud.githubusercontent.com/assets/11575859/7504282/d76d9e1c-f3fd-11e4-8e8c-9a997063dafd.PNG)

[2015-05-06 21:42] jwe-apple opened #147 "[iPad] Memory game layout jitter"
The memory game active task vertical layout is not "stable" on the iPad, either during normal usage or during rotation. Layout constraints need adjustment.

[2015-05-06 21:42] jwe-apple opened #148 "[iPad] Two finger tapping task vertical spacing improvement"
The vertical spacing of the two finger tapping active task UI is too compressed. iPad specific metrics should be introduced! Example:

![img_0007](https://cloud.githubusercontent.com/assets/11575859/7504340/4f3a0ef8-f3fe-11e4-8aa5-ab9696b3973d.PNG)

[2015-05-07 03:17] nskboy commented on #141
Well, actually, I was so inspired by core API with simple and elegant entities like task, steps, answers and results so I started thinking how to generalize the API in order to make general purpose setup wizard for an application. And currently I'm stuck on how would new API look when you have setup wizard (aka `ORKTask`) with two steps:

1. Enter valid server address step. This can be done with f

[2015-05-07 03:23] nskboy commented on #141
Also, I would like to thank you @jwe-apple for fast responses (considering time zone difference 😀). It is pleasure for me to read your relevant answers for my questions.

[2015-05-07 03:51] pecampbell commented on #117
Thanks JW

[2015-05-07 04:20] jwe-apple commented on #141
You're right - if you had a server address entry step, then you would pass the entered address back up to your task view controller's delegate by changing the result. And it would come back via the delegate method as you identified.

I would then follow that with a custom "loading" step (I would subclass `ORKActiveStep`, and `ORKActiveStepViewController` similar to the countdown, but add the loadi

[2015-05-07 04:23] jwe-apple commented on #141
The clever part would be if you could manage to do the dynamic loading of steps while avoiding doing anything in the task view controller's delegate, which is really the "application" rather than the framework. If you could do this completely in an `ORKTask` implementation, purely by responding to `stepAfterStep:withResult:` calls and a suitable `ORKLoadingStepViewController` and `ORKLoadingStep`

[2015-05-07 04:38] simonbromberg commented on #11
I installed via Cocoapods into a swift project and opened up the xcworkspace file, but whenever I try to reference ResearchKit (e.g. ORKInstructionStep, or import ResearchKit at the top) I get undefined symbol errors / no such module ResearchKit. Do I need to set up a bridging header to actually get it to work? Something else?

[2015-05-07 04:42] steakknife commented on #11
@simonbromberg Did you close the xcode *Project* and open the cocoapod-generated *Workspace* after running `pod` commands?

[2015-05-07 04:43] simonbromberg commented on #11
Yes, as I said I opened the xcworkspace file.

[2015-05-07 04:53] steakknife commented on #11
Follow directions for bridge headers [here](https://medium.com/@stigi/swift-cocoapods-da09d8ba6dd2).

[2015-05-07 07:36] nskboy commented on #141
Wow, I haven't consider separating fetch from presenting :) Your approach suits best for my needs.

Last detail to clarify: Is there any particular reasons for separating fetching & presenting beside classic "separation of concerns"? Before talking to you I had something like `-[id<ORKTextChoiceRepository> fetchTextChoicesWithCompletion:]` for `ORKQuestionStepViewController`. This approach however

[2015-05-07 12:43] nskboy commented on #141
I like the idea of feeding `ORKTask` to `ORKTaskViewController` but I don't like hard coding dependencies between steps.

What do you think of adding the ability to specify other step result dependencies to the `ORKStep` instance like this: `[someTask setDependsOnResultsOfStepsWithIdentifiers:@[ @"step1", @"step2" ]]`?

Given this change one can update the implementation of `-[ORKTaskViewControlle

[2015-05-07 13:16] httang12 opened #149 "Loading Task and Questions from external URL"
It would be nice if we can configure the questions externally and research kit has the ability to pull that information as needed?  If a study has several stages, then the questions in each stage can be loaded separately and dynamically.

[2015-05-07 13:57] httang12 commented on #93
I am starting looking into the APCScheduler architecture for scheduling and decoupling it from AppCore as I needed that functionality for the project I am working on.  But from a road map perspective is the scheduling component going to be part of researchkit core or still live in appcore?

[2015-05-07 14:20] rsanchezsaez opened #150 "Split ORKDataLoggerTests and ORKDataLoggerManagerTests to a new test target?"
Not sure if this is a good idea.

`ORKDataLoggerTests` and `ORKDataLoggerManagerTests` are by far the slowest tests. This is quite inconvenient for people developing with slower machines. Would it be ok to separate them to a different *test target*?

[2015-05-07 15:01] simonbromberg commented on #11
OK, that's what I was asking. Wasn't sure if I needed the bridging header or not.

[2015-05-07 15:56] peculiar commented on #93
There's ongoing work to refactor the schedule and scheduler concepts. The schedule classes will not have any external dependencies, except to utility code. The scheduler class will need additional refactoring to eliminate undesired dependencies.

[2015-05-07 18:20] rsanchezsaez opened #152 "Implement an NSPredicate JSON serializer"
This is a follow-on to [pull request #151](https://github.com/ResearchKit/ResearchKit/pull/151), and issues #86 and #138.

Currently, the `ORKPredicateStepNavigationRule` class is fully _NSSecureCoding_ compliant, but it cannot be serialized to JSON due to using `NSPredicate` objects. We need to write a general _`NSPredicate` JSON serializer_.

[2015-05-07 18:36] davedelong commented on #152
Well, you _can_ encode an `NSPredicate` in JSON by first key-value archiving it and then base 64-encoding the `NSData`. However, if you want to be able to generate these predicates on a machine that does not have Foundation.framework, you'll definitely need an intermediate representation.

[2015-05-07 18:48] jwe-apple commented on #141
Main reason for separating fetching and presenting is that the underlying data model of ResearchKit assumes that steps, once presented, are static (do not change). You shouldn't present a step view controller without having the step first.

There's some work in progress to produce an ordered task with navigation rules, where the next step after a step is determined by applying predicates to the re

[2015-05-07 18:49] jwe-apple commented on #149
Dup of #141, discussion in progress.

[2015-05-07 18:49] #149 closed

[2015-05-07 18:49] jwe-apple commented on #150
Just run individual tests you want to run with the little arrow icon next to the test in the editor! Magic.

[2015-05-07 18:49] #150 closed

[2015-05-07 18:57] nskboy commented on #141
You mean pull request #151, right? Does it contain more or less stable public API I can rely on?

[2015-05-07 18:59] jwe-apple commented on #141
No, it's not stable yet. API review starts today, you're welcome to provide feedback.

[2015-05-07 19:01] nskboy commented on #141
I'd love to!

[2015-05-07 19:15] rsanchezsaez commented on #152
I see. Yep, that'd be really easy. However, I suspect that @jwe-apple was looking for a human readable representation. Is that right?

[2015-05-07 19:16] jwe-apple commented on #152
I was, as @davedelong knows ;-)

[2015-05-07 19:17] rsanchezsaez commented on #150
Ha! Didn't know that, thanks.

[2015-05-07 19:28] rsanchezsaez commented on #86
By the way, for anybody looking into give this a try: `ORKTest` has a new example called *Step Navigation Task*. Looking at the corresponding code in `MainViewController` is a quick way to see the API in use.

[2015-05-07 19:45] runmad opened #153 "Compiling docs outputs warnings"
These warnings can be supressed using `--explicit-crossref` in the appledoc build script.

[2015-05-07 20:02] nskboy commented on #141
I just reviewed the code and I don't get how navigation rules might be relevant for step dependencies.

Again, I don't get your idea. Could you please provide raw implementation of this or explain a bit more?

[2015-05-07 20:18] rsanchezsaez commented on #141
Maybe have a look at `ORKTest`'s *Step Navigation Task* example? Looking at the corresponding code in `MainViewController` is a quick way to see the API in use.

[2015-05-07 20:27] rsanchezsaez commented on #73
Could you detail a bit what does this issue involve?

Currently, HealthKit just gives a *Health data is unavailable on this device* error when trying to authorize, which at first sight looks semi-reasonable: it's the same behaviour as if the participant denies HealthKit access to the research app.

Or do you want to make the HK related classes unavailable on the iPad?

[2015-05-07 20:30] #153 closed

[2015-05-07 20:34] jwe-apple commented on #73
Hmm, looks like this has already been fixed. We used to see crashes when trying to access HealthKit.

[2015-05-07 20:34] #73 closed

[2015-05-07 20:35] nskboy commented on #141
Yes, I see navigation rule API in use. But how does navigation rule relate to passing step result from previous step to the current (eg. I need to pass first step result to the second and third steps)?

[2015-05-07 20:44] jwe-apple commented on #141
Steps themselves should be treated as immutable and should not depend on other steps. Instead do this in your implementation of `ORKTask`, which is responsible for providing next/previous steps and can retain some state in order to do so.

[2015-05-07 21:03] rsanchezsaez commented on #71
Do you happen to know the device and iOS version that produced this issue?

[2015-05-07 21:17] jwe-apple commented on #71
Not sure of all the reports, but for the ones I know about, iPhone 6 and 6+, iOS 8.3.

[2015-05-07 21:42] rsanchezsaez opened #155 "ORKActiveStepTimer delay in calling _handler() first time after app launch"
`ORKActiveStepTimer` seems to be misbehaving the first time it calls `_handler()` after app launch when connected to Xcode for debugging. 100% reproducible on an *iPhone 6* running *iOS 8.3*.

Not sure if this is a valid issue or a debugging artifact.

###### Steps to reproduce
1. Freshly launch ORKTest.
2. Open the Fitness example.
3. Start the activity and observe the '*Starting activity in*' ti

[2015-05-07 21:43] rsanchezsaez commented on #71
Completed the *Fitness* activity about 10 times on *iPhone 6* running *iOS 8.3*: cannot reproduce.

[2015-05-07 22:23] jwe-apple commented on #71
Ok - not closing, because I've been shown it happening ;-)

[2015-05-07 22:24] jwe-apple commented on #155
Yep aware of this. As you say, only ever happens attached to the debugger.

[2015-05-07 22:33] rsanchezsaez commented on #71
Due to its apparent unreproducibility, it sounds like a race condition causing a deadlock: yikes! ;)

[2015-05-07 22:34] jwe-apple commented on #71
No, don't think it's actually deadlocked: Cancel still works. It's just a missed event.

[2015-05-07 22:40] rsanchezsaez commented on #71
Hmm, interesting.

[2015-05-07 22:45] rsanchezsaez commented on #135
Fixed via [pull request #157](https://github.com/ResearchKit/ResearchKit/pull/157).

[2015-05-07 23:48] rsanchezsaez opened #158 "Constraint warning on scale slider view"
`ORKScaleSliderView` inits with a `CGRectZero` frame and only gets its proper dimensions later.

Since we moved adding the constraints to the init method as well, this causes an `UIViewAlertForUnsatisfiableConstraints` log message.

What's the best way to avoid this? Should we move the one time constraint setup back to `updateConstraints`? This method is only called after the current view has prop

[2015-05-07 23:56] rsanchezsaez commented on #144
Vertically, horizontally, or both?

[2015-05-08 00:00] jwe-apple commented on #158
Errm, that might be why we moved it to `updateConstraints` in the first place.

[2015-05-08 00:00] jwe-apple commented on #144
Both.

[2015-05-08 00:05] rsanchezsaez commented on #158
So tricky. I'll move them back there then.

*UIKit* should have an `addStaticConstraints` method, to be automatically called, only once, just before the first time `updateConstraints` is run. :P

[2015-05-08 00:15] jwe-apple commented on #158
File a radar.

[2015-05-08 02:33] rsanchezsaez commented on #158
It turns out I was wrong and moving them to `updateConstraints` still triggered the warning. The frame wasn't important, the problem was that `sliderView` still had `translatesAutoresizingMaskIntoConstraints` set to `YES` when `ORKSurveyAnswerCellForScale` called `[self setNeedsUpdateConstraints]`, which triggered the children layout cycle before giving a chance to `ORKScaleSliderView` to be set f

[2015-05-08 05:49] #143 closed

[2015-05-08 05:49] #144 closed

[2015-05-08 05:53] #119 closed

[2015-05-08 05:54] #158 closed

[2015-05-08 05:56] jwe-apple commented on #158
Nice. We're doing a UI review early next week and this will get covered.

[2015-05-08 15:10] edelabar commented on #148
What is the desired location?  Midway between the current location and total taps counter?

[2015-05-08 15:28] flarmed commented on #134
I created the contentView , activeStep and viewController for visual acuity. When I try to test the custom task xcode gives me error: could not be build module ResearchKit

[2015-05-08 16:45] jwe-apple commented on #148
Make a first pass; it'll get reviewed next week. I would possibly see if it can be done just by adjusting existing metrics first, rather than making a larger change that might break the iPhone specs.

[2015-05-08 16:45] jwe-apple commented on #148
As a guess, probably somewhere above center

[2015-05-08 16:46] jwe-apple commented on #134
Perhaps a pointer to your non-working branch and exact failing steps? Someone here will be able to help.

[2015-05-08 17:38] rsanchezsaez commented on #99
In progress: I'll homogenize all `updateConstraints` methods and make sure `super` is called last. I'll also try to move constraints to `init` when they don't need to dynamically recreated (as in `ORKActiveStepQuantityView`, [PR #125](https://github.com/ResearchKit/ResearchKit/pull/125)).

I think we can make this work properly when using RK view controllers in custom frames even if we have some s

[2015-05-08 17:50] jwe-apple commented on #99
Yep, go for it.

[2015-05-08 17:50] jwe-apple commented on #99
Actually can you keep the `super` move separate from the ->`init` change, and do separate PRs?

[2015-05-08 18:02] rsanchezsaez commented on #99
Will do.

Should I do the homogenization for truly dynamic constraints in a third PR? I plan to consistently use `activateConstraints:`/`deactivateConstraints:` instead of `addConstraints:`/`removeConstraints:`, as the former seems more automatic and less error prone.

[2015-05-08 18:03] jwe-apple commented on #99
Definitely as a separate, third PR.

And *please* try to keep the whitespace changes to a minimum so this is easier to review.

[2015-05-08 18:05] #87 closed

[2015-05-08 18:09] jwe-apple commented on #99
It's ok to do the first PR now, but TBH I'd rather we got the iPad bugs fixed and did some of this homogenization later. Autolayout is pretty sensitive and I'd rather do it after we branch for 1.1.

[2015-05-08 18:27] rsanchezsaez commented on #99
Understood.

I'll look into the iPad bugs first.

[2015-05-08 18:30] flarmed commented on #134
Ok. Fixed.

[2015-05-08 21:58] rsanchezsaez commented on #147
In addition to one iPad specific issue with an empty header, the jitter also happens when the number of lines in the header varies between steps (the `gameView` tries to take the maximum available space).

So this would also affect *iPhones* when the localization makes the text shorter or longer.

What is the preferred behavior for accommodating different number of lines on the headers without mak

[2015-05-08 22:18] rsanchezsaez commented on #146
I agree about the horizontal insets.

Are you sure about the top padding? Other iPad *Term and Conditions* screens don't seem to have it:

![300px-ios7setup20](https://cloud.githubusercontent.com/assets/444313/7546685/8930f4d8-f5d8-11e4-8c33-9a9d33dda971.PNG)

[2015-05-08 22:21] rsanchezsaez commented on #146
A proposal:

![ios simulator screen shot 8 may 2015 23 21 20](https://cloud.githubusercontent.com/assets/444313/7546715/f5a15202-f5d8-11e4-9572-8369b7a85a7b.png)

[2015-05-08 22:29] jwe-apple commented on #146
That looks like too much margin to me. Does that match the other screens?

[2015-05-08 22:33] jwe-apple commented on #147
In principle yes, but ideally the iPhone 6 layout for the default 2-line case should not change with whatever change you make.

[2015-05-08 22:36] rsanchezsaez commented on #146
The webView matches the margins on the other screens, but the HTML document has a little bit of margin, that's why it looks like that.

Should we remove the margin on the HTML document instead?

See the difference on *iPhone*, for example:

![ios simulator screen shot 8 may 2015 23 33 16](https://cloud.githubusercontent.com/assets/444313/7546858/dac9390c-f5da-11e4-9e8d-2274fef6af70.png)

![ios7-te

[2015-05-08 22:43] rsanchezsaez commented on #147
So then: a fixed size allowing two lines maximum in the header on *iPhone 6*?

[2015-05-08 22:49] jwe-apple commented on #146
Well, that margin was part of the iPhone spec. As long as you preserve the iPhone appearance it's ok to remove the margin from the HTML.

Is the scroll indicator appearing  int he right place? (i.e. fully right)

[2015-05-08 22:51] jwe-apple commented on #147
How about if you go past 2 lines, the screen scrolls. So a fixed size on the play area, but the text can expand.

[2015-05-08 22:51] jwe-apple commented on #147
(remember, this is all inside a scrollview)

[2015-05-08 22:52] p2 commented on #134
Nice idea, @flarmed. Are you using a Snellen chart or something different? The problem that you will have, as I'm sure you know, is that the person will cover one eye and you can no longer measure the interpupillary distance. Should still work with an initial measurement, for which you can use the [OpenCV framework](http://opencv.org), which supports face + eye detection. Getting the distance dire

[2015-05-08 22:53] rsanchezsaez commented on #147
Oh yes, good point. I'll do that.

[2015-05-08 22:58] jwe-apple commented on #147
Also - minimum height for the text area of course so there's no jitter between 0<->1<->2 lines

[2015-05-08 22:58] rsanchezsaez commented on #146
But changing the margin only on iPad feels hackish, doesn't it? The same for expanding the webView so its insets are smaller than in the rest of screens.

The metrically coherent way would be what the screenshot shows.

---

I'll take care of the scroll indicator.

[2015-05-08 23:02] rsanchezsaez commented on #147
Yup.

[2015-05-08 23:02] jwe-apple commented on #146
All of the margin should *either* be in how you position the webview, *or* in the content. Right now it's in the content; as changed it's going to be in the webview layout if I understand you correctly.

[2015-05-08 23:06] rsanchezsaez commented on #146
Yeah, but then if we want to be coherent, on *iPhone* the consent document margin will go from 20 pints (the current CSS `margin` value) to 15 points (as defined by `ORKStandardMarginForView()`, which in my opinion is closer to standard iPhone *Terms and Conditions* screens).

[2015-05-08 23:08] jwe-apple commented on #146
Yes, do that.

[2015-05-08 23:08] jwe-apple commented on #146
(20 pts sounds wrong)

[2015-05-08 23:09] rsanchezsaez commented on #146
:+1:

[2015-05-08 23:34] rsanchezsaez commented on #146
This is how it looks after the commits in pull request:

![ios simulator screen shot 9 may 2015 00 32 39](https://cloud.githubusercontent.com/assets/444313/7547342/10c68d68-f5e3-11e4-8296-f4ddb979797a.png)

![ios simulator screen shot 9 may 2015 00 33 22](https://cloud.githubusercontent.com/assets/444313/7547341/10a31fd6-f5e3-11e4-9d52-420905afaefe.png)

Great feedback, as always.

[2015-05-08 23:43] #146 closed

[2015-05-08 23:44] jwe-apple commented on #146
Great work!

[2015-05-09 05:48] flarmed commented on #134
The measurement of the pupillary distance is only for positioning the machine. To cover the eye this measure is lost and would have to use the accelerometer to know that the patient does not move the device. Another idea is to initially measure the distance between each eye and mouth and so you always have a reference. I am using the Landolt ring to create the test card. The value of distance can

[2015-05-09 23:36] rsanchezsaez commented on #147
I ended up doing a much simpler fix, and just adjusted the `ORKScreenMetricMinimumStepHeaderHeightForMemoryGame` iPad value to avoid the jitter.

---

The possible iPhone jitter if localizations go to 3 or more lines in some of the step headers remains.

It turns out that giving a fixed height to the game view and just enabling scrolling when the header has 3 or more lines would not fix the jitter

[2015-05-10 01:13] rsanchezsaez commented on #145
Why is `bounces` disabled on `ORKConsentReviewController`'s `webView`, but enabled on `ORKConsentLearnMoreViewController`'s `webView`. Shouldn't be the same on both?

[2015-05-10 01:55] rsanchezsaez commented on #142
Could you provide steps to reproduce? When I rotate the iPad with the keyboard visible, the 'Next' button stays neatly on top of the keyboard.

---

![ios simulator screen shot 10 may 2015 02 53 27](https://cloud.githubusercontent.com/assets/444313/7552739/f3dbc050-f6bf-11e4-9fd2-9a50b322e071.png)

---

![ios simulator screen shot 10 may 2015 02 53 30](https://cloud.githubusercontent.com/assets/44

[2015-05-10 09:55] daannijkamp opened #171 "Small css fix for the Github page (http://researchkit.github.io/)"
Can someone add "overflow:hidden" on the tabs class (researchkit.css, line 325)?
It will prevent scrolling like the image below.
![img_1209](https://cloud.githubusercontent.com/assets/1774060/7553802/d023a362-f70a-11e4-9c95-0c0ac376391d.jpg)

[2015-05-11 15:42] edelabar commented on #148
Fixed when #164 was merged.

[2015-05-11 15:53] coxy1989 commented on #92
Something like that?

[2015-05-11 17:20] jwe-apple commented on #147
We already do the first one - and can review when it breaks.

[2015-05-11 17:20] #147 closed

[2015-05-11 17:23] jwe-apple commented on #145
Fair point, saw your PR.

[2015-05-11 17:23] jwe-apple commented on #142
Interesting. I'll see about repeating.

[2015-05-11 17:33] jwe-apple commented on #171
Thanks for the heads-up, taking care of it.

[2015-05-11 17:33] #171 closed

[2015-05-11 17:44] jwe-apple commented on #148
ta

[2015-05-11 17:44] #148 closed

[2015-05-11 17:47] jwe-apple commented on #92
A commendable effort. A few more `APC`'s to get rid of there, but yes, please get a PR in.

[2015-05-11 18:13] rsanchezsaez opened #174 "Create coding style document"
I took the liberty to draft a [ResearchKit Coding Style](https://github.com/rsanchezsaez/ResearchKit/wiki/ResearchKit-Coding-Style) document.

It mainly deals with visual formatting (whitespace, newlines, alignment, etc.). I think it can be useful to maintain code homogenization.

What do you think?

[2015-05-11 18:24] jwe-apple commented on #1
@brucehappy What's your state on this? If you've got something which is close but don't have time for cleanup, we'd still like to have it and can help with getting it ready to ingest.

[2015-05-11 18:29] brucehappy commented on #1
I've been delayed with another project.  I'll have a PR for this today.

[2015-05-11 18:31] brucehappy commented on #174
Yes, please.  I end up looking in other files, and find inconsistencies, so having a master document is wonderful.

[2015-05-11 19:58] jwe-apple commented on #1
No problem!

[2015-05-11 20:03] jwe-apple commented on #174
Seems useful. Do get a PR together, and please send an email to researchkit-dev as well to invite comment.

I'll want to tone down things like requiring alphabetical order and exact numbers of lines of whitespace between classes etc. The threshold for this is whether you'd feel it was too nitpicky when commenting on a PR for a new feature. But otherwise this seems like a great contribution - thank

[2015-05-11 20:47] rsanchezsaez commented on #174
I'm afraid GitHub doesn't support PR of wiki pages. Either you'll have to copy and paste it into this project's wiki, or I can submit it as a regular markdown file inside the repo.
---
I've removed the alphabetical order requirement, that was silly.

However, I think it's useful to enforce a consistent number of empty newlines among the fules, the rules are not that hard to follow I'd say. Otherwi

[2015-05-11 21:04] rsanchezsaez commented on #174
@jwe-apple: By the way, I noticed that I missed a few files in my previous whitespace standardization PR (sorry about that). They're only the recorder subclasses. Could I possibly do these as well? Thanks.

[2015-05-11 21:10] rsanchezsaez commented on #147
Great!

[2015-05-11 21:14] p2 commented on #174
Good to have indeed! I can live with the spaces-for-indentation, one question about the _opening bracket_:

Agreed that it should go on the same line, but maybe **except** for top level method declarations? I'm used to seeing those after a newline (in other 3rd party libraries as well as Apple code), improves readability quite a bit. So the example would be:

[code]

[2015-05-11 21:27] rsanchezsaez commented on #174
@p2: Thanks for your comment.

Regarding braces, I could go with either style.

The problem is that all of the *ResearchKit core* codebase was already in the *opening brace on the same line* format, even for method definitions. So, adopting this would require an extensive reformatting (simple to do in an automated way, but potentially introducing *git-blame* noise).

I reckon that AppCore is in th

[2015-05-11 23:11] jwe-apple commented on #174
I'd prefer to keep opening brace on same line as the default going forward.

[2015-05-12 00:20] #135 closed

[2015-05-12 00:56] #145 closed

[2015-05-12 00:57] jwe-apple opened #176 "Webviews with bounce enabled should show white during bounce"
At the moment, the grey background appears when dragging beyond the content size. This should be white.

[2015-05-12 00:57] jwe-apple commented on #176
(For example, Learn More screens)

[2015-05-12 00:58] jwe-apple opened #177 "[iPad] Poor performance during consent transitions"
The consent animated transitions are a bit slow (observed frame drops on an iPad Air). Need to profile and find out why. If we need to disable the tinting of these animations on iPad, then we should do so and document it.

[2015-05-12 01:14] rsanchezsaez commented on #176
I think [PR #170](https://github.com/ResearchKit/ResearchKit/pull/170) actually fixed this. Are you sure?

![ios simulator screen shot 12 may 2015 02 14 24](https://cloud.githubusercontent.com/assets/444313/7578399/a3f1265a-f84c-11e4-87d5-0bfacbc0e1fd.png)

[2015-05-12 04:58] jwe-apple commented on #176
Interesting, I was testing on iPad. I'll check tomorrow.

[2015-05-12 08:32] rsanchezsaez commented on #176
![ios simulator screen shot 12 may 2015 09 31 47](https://cloud.githubusercontent.com/assets/444313/7582932/bb7eb9da-f889-11e4-9359-84678bdc7746.png)

;)

[2015-05-12 16:19] p2 commented on #174
Can't say I like the opening-method-brace-on-same-line because it makes scanning for a method name harder, but I can certainly agree to use it. ;)

[2015-05-13 03:42] jwe-apple commented on #177
@rsanchezsaez Could you take a look at this one perhaps?

[2015-05-13 09:18] rsanchezsaez commented on #177
I'll have a look.

Wouldn't be a shame to disable animation tinting on iPad? It looks greats on the study apps.

[2015-05-13 20:01] jwe-apple opened #183 "Tableview: Duplicate bottom separator"
Bottom separator appears twice. See screenshot.

[2015-05-14 21:56] jwe-apple opened #186 "Proper "None of the above" multiple choice support"
If a multiple choice answer format could be annotated with one specific answer which is tagged as being "None of the above" so that selecting it clears all other selections, it would improve user experience for this type of question.

[2015-05-14 22:01] jwe-apple commented on #176
Verified

[2015-05-14 22:01] #176 closed

[2015-05-14 22:02] jwe-apple commented on #142
Ah. This is specifically broken for forms using UITableContainerView. In ORKCatalog, select the Form step, select Field01, and rotate.

[2015-05-14 22:08] davedelong commented on #152
This should be fairly easy for me to implement. Can you assign this to me, please?

[2015-05-14 22:25] rsanchezsaez commented on #142
I'll have a look.

[2015-05-15 01:32] rsanchezsaez commented on #152
Great! Thanks, Dave.

[2015-05-15 01:48] rsanchezsaez commented on #177
Fixed in referenced pull request.

[2015-05-15 01:51] rsanchezsaez commented on #142
So you mean that the first responder field should be scrolled to the top of the screen on rotation, right?

[2015-05-15 13:48] ekhall commented on #186
I think this would be more consistent with (pseudo?) set theory. In a set of {A,B,C} the absence of any element is just {} as opposed to an additional entry {Empty}. In my mind if a respondent said "I don't have A, B, or C" that is different than "I chose to not answer (skip) the question".

[2015-05-15 17:59] #183 closed

[2015-05-15 18:53] jwe-apple commented on #142
Not top of the screen. First priority: keep first responder on screen. Second priority: scroll so Next is visible.

[2015-05-16 11:00] rsanchezsaez opened #192 "Make custom images for Tone Audiometry Task and Motion Reaction Time Task"
The *Tone Audiometry* and *Motion Reaction* tasks are currently reusing the instructional images from the *Audio Active* task.

These don't make much sense, specially in *Motion Reaction*. New images need to be created for these tasks.

---

Also, just cosmetic:
- In `ORKCatalog`, I'd rename *Device Motion Reaction Time Task* task to *Reaction Time Active Task*
- In `ORKTest`, I'd rename *Reaction

[2015-05-17 01:47] rsanchezsaez opened #193 "Entering invalid value in a form allows going to next step"
If the participant types an invalid value in a form field (e.g., she types letters in a numeric filed) and presses next, the view controller shows an *Invalid Value* alert, but the view controller goes to next step. If you go back, the field where you entered the invalid value shows `NaN`.

The view controller should prevent from going to the next step if the participant has typed an invalid value

[2015-05-17 18:36] rsanchezsaez opened #194 "ORKAudioGenerator doesn't stop when you send the app to background"
`ORKAudioGenerator` (used by the *tone audiometry task*) doesn't stop playing when you send the app to the background.

Steps to reproduce:
1. Open the *tone audiometry task*.
2. Go to the second *tone audiometry instruction step*: a sound frequency is played.
3. Send the app to the background.
4. Listen as the tone continues playing indefinitely.

`ORKAudioGenerator` should stop when the app is s

[2015-05-17 18:37] rsanchezsaez commented on #194
@vtourraine: Could you have a look at this? Thanks.

[2015-05-17 20:07] vtourraine commented on #194
@rsanchezsaez Thanks for the feedback, but I’ve just checked, and the sound stops when the app (`ORKCatalog`) goes to the background, and resumes once it comes to the foreground. Granted, there’s no code specific to the tone audiometry task to handle that situation, but iOS seems to deal with it just fine.

Is anyone else seeing/hearing this?

[2015-05-17 20:17] rsanchezsaez commented on #194
Weird! That doesn't seem to be the case on my *iPhone 6*, with `ORKCatalog` as well. The sound keeps going indefinitely, it even precludes other apps from playing sound!

[2015-05-18 01:52] stownsend opened #196 "signaturePageContent not copied correctly"
There appears to be an issue when copying a consent document, the content of signaturePageContent is being set currently to be _signaturePageTitle.

Would expect that it would be set to _signaturePageContent.

As far as I can tell, this is occurring in ConsentDocument.m, in the copyWithZone:(...) method:

- (instancetype)copyWithZone:(NSZone *)zone {<br>
    ...<br>
    doc.signaturePageTitle = _s

[2015-05-18 06:56] jwe-apple commented on #192
Thanks for filing. This should be covered in the UI review, so I'll tag it.

[2015-05-18 08:01] jwe-apple commented on #196
Analysis looks right. Would merge a PR.

[2015-05-18 08:02] jwe-apple commented on #196
Merged #197

[2015-05-18 08:02] #196 closed

[2015-05-18 22:33] jwe-apple commented on #194
I've also seen this once on iOS 8.3, but couldn't reproduce it.

[2015-05-18 23:28] rsanchezsaez commented on #194
On my device, the issue seems to happen every time.

[2015-05-19 07:25] jwe-apple opened #202 "Auto layout warnings"
I've not seen any actually failed layout, but I'm getting auto layout spew on the console in forms in ORKTest.

Definitely a regression.

[2015-05-19 09:00] brucehappy commented on #202
I think the spew may be due to ImageCapture.  It wasn't setting `self.translatesAutoresizingMaskIntoConstraints` to NO in its two views nor was it doing it on the subviews during `init` (before `updateContraints`).  I've updated #180 with a commit for this.  Can you check if that was the cause?

[2015-05-19 17:25] httang12 opened #203 "User Interface Color Configuration"
Is there any out of box configuration management class for the color scheme onthings like background color, text color, button color and navigation bar tint color within researchkit?

[2015-05-19 20:28] jwe-apple commented on #203
Tint color is respected throughout ResearchKit views. So every image, consent animation, button, etc applies the tintColor UIAppearance property. Other than that, there is no out-of-box customization.

If you have a specific need that you think generalizes well, then it would not be out of the question to add properties that are UIAppearance selectors to allow this kind of customization.

[2015-05-20 05:00] jwe-apple commented on #202
I'm seeing it mostly in forms, actually

[2015-05-20 05:15] jwe-apple commented on #203
@httang12 I'm going to close this issue, but please feel free to raise further issues for anything you feel you need for your app!

[2015-05-20 15:00] httang12 commented on #203
Ok, thanks!

Date: Tue, 19 May 2015 22:16:06 -0700
From: notifications@github.com
To: ResearchKit@noreply.github.com
CC: httang123@hotmail.com
Subject: Re: [ResearchKit] User Interface Color Configuration (#203)

@httang12 I'm going to close this issue, but please feel free to raise further issues for anything you feel you need for your app!

—
Reply to this email directly or view it on GitHub.

[2015-05-20 15:37] dcleblond opened #206 "stepAfterStep and stepBeforeStep not working properly"
I have a simple subclass for ORKOrderedTask that just spits out the step identifier in the stepBeforeStep and stepAfterStep functions, and then returns a [super stepBeforeStep etc etc] for each. I'm seeing it execute both (first After then Before) for the same step BEFORE it gets to that step. Shouldn't it be spitting out the identifier for After for the step I just answered and Before for the ste

[2015-05-20 16:52] jwe-apple commented on #206
stepAfterStep and stepBeforeStep may be called multiple times, with different arguments, by the task view controller. Any time the results have changed, the task view controller may ask again, since the presence or absence of results may change what steps are available. It needs this information to decide what to show in the navigation bar, or when setting up a new step view controller's navigatio

[2015-05-20 16:54] #203 closed

[2015-05-20 16:55] jwe-apple opened #207 "Private modulemap may need tweaking"
From a user:

 I’m trying to override methods in a Swift subclass that are exposed in the ResearchKit-Private.h umbrella  header / ResearchKit.Private module, but I cannot figure out how I need to import the module so that those methods are exposed as valid overriding targets to a Swift file.

Internal discussion here indicates that we should be able to make this work.

[2015-05-20 17:04] dcleblond commented on #206
Maybe I'm misunderstanding the purpose of the functions.

What I thought would happen is if you answered, say step2 it would fire stepAfterStep on step2 and fire stepBeforeStep on step3 (or the next step in the stack.)

If that's not what is happening, what is the difference between stepBeforeStep and stepAfterStep?

Thanks for responding!

Sent from the future on my iPhone 26.

[2015-05-20 17:18] rsanchezsaez commented on #206
`stepAfterStep:` and `stepBeforeStep:` are not intended to signal that the steps are going to appear or disappear on the task view controller (i.e., they are not similar to methods like `viewWillAppear:` `viewWillDisappear:`, etc.).

The *task view controller* is purposefully "dumb": it doesn't maintain a stack of previous steps within its task nor knows which the next step is in advance; it only

[2015-05-20 17:33] dcleblond commented on #206
I think I understand. They both get called every step regardless, and it's
up to the person writing the subclass to differentiate between the two and
handle the logic. Gotcha.

Thanks!

On Wed, May 20, 2015 at 1:18 PM, Ricardo Sánchez-Sáez <
notifications@github.com> wrote:

--
---
David Leblond
dcleblond@gmail.com

[2015-05-20 19:05] #206 closed

[2015-05-20 20:29] p2 opened #208 "Warnings and crash in ORKVisualConsentStepViewController"
After upgrading to latest master, when going through consenting I get a lot of these warnings:

[code]

I also noticed that the movies presented during consenting are not always tinted.

Finally, when consenting is done, I get a `EXC_BAD_ACCESS` on line 386 in `ORKVisualConsentStepViewController`:
https://github.com/ResearchKit/ResearchKit/blob/0736e68/ResearchKit/Consent/ORKVisualConsentStepViewC

[2015-05-20 20:32] rsanchezsaez commented on #208
This was my change, I'll look into it.

Is this in `ORKTest`, `ORKCatalog`, or in any of the apps? Which device and iOS version?

Thanks

[2015-05-20 20:34] p2 commented on #208
I'm using it via AppCore in my own app. You can possibly reproduce if you clone GlucoSuccess or any of the AppCore apps, update ResearchKit and go through consenting. I get the crash right when tapping whether I want to share with researchers worldwide or just the study people.

[2015-05-20 20:55] jwe-apple commented on #208
@rsanchezsaez In general the animation layout is also broken when after rotating landscape->portrait or portrait->landscape. Try doing a rotation and then performing an animated transition. I was going to look at it, but since you're on it, can we fix that at the same time?

[2015-05-20 21:51] rsanchezsaez commented on #208
@jwe-apple: Ok, I will look into the rotation issue.

While investigating this, I found a related issue in which the `tintColor` is set after the tinted image has been calculated. Do you know why `ORKVerticalContainerView` (which `ORKConsentSceneView` inherits from) doesn't use `ORKTintedImageView` instead of a regular `UIImageView`? I think using the tinted image view can fix this issue (while ma

[2015-05-20 23:44] jwe-apple commented on #208
Historical reasons. Change it!

[2015-05-20 23:46] rsanchezsaez commented on #208
Historical raisins, haha.

Also, I suggest we add `[[UIView appearance] setTintColor:[UIColor redColor]]` or similar to `ORKTest`'s `AppDelegate`, so the *UI reviews* are done with a non-default *tintColor*. This would catch some instances where the default tint color works but a custom one doesn't (as mentioned above). Should I change this as well?

[2015-05-20 23:57] jwe-apple commented on #208
Please don't. Feel free to do it while testing or to add a button to toggle it.

The ORKTest app is used for localization and for UI review and when we had that before it caused confusion!

[2015-05-20 23:58] rsanchezsaez commented on #208
Ok!

[2015-05-21 03:56] jwe-apple commented on #194
I have a fix for this in an upcoming PR. Assigning to me.

[2015-05-21 03:57] jwe-apple commented on #202
@rsanchezsaez Assigning to you as you've been making the auto layout changes. Sorry if it's not you!

[2015-05-21 03:57] jwe-apple commented on #192
This has been reviewed and the images approved.

[2015-05-21 03:57] #192 closed

[2015-05-21 03:59] jwe-apple commented on #138
I believe both have been addressed by PR #151

[2015-05-21 03:59] #138 closed

[2015-05-21 03:59] jwe-apple commented on #86
Completed.

[2015-05-21 03:59] #86 closed

[2015-05-21 04:00] jwe-apple commented on #1
Completed.

[2015-05-21 04:00] #1 closed

[2015-05-21 04:00] jwe-apple commented on #85
Completed

[2015-05-21 04:00] #85 closed

[2015-05-21 06:55] jwe-apple commented on #207
Verified both the import and override behavior work as expected.

[2015-05-21 06:55] #207 closed

[2015-05-21 13:57] rsanchezsaez commented on #177
It turns out this issue was not fixed at all, so please reopen.

What caused the apparent performance gains when using the custom `ORKImageByTintingImage()` function was a bug in my code that caused all consent images to be rendered at a scale of `1.0` (instead of the retina scale of `2.0`).

[PR #212](https://github.com/ResearchKit/ResearchKit/pull/212) reverts the `ORKImageByTintingImage()` chan

[2015-05-21 14:05] rsanchezsaez commented on #208
I think this issue also affects `ORKTintedImageView` if using an animated image. The problem is that `UIImageView`'s `contentScaleFactor` and `tintColor` are wrong if the image view has not been added to the main *screen* view hierarchy, and often the image of an `ORKTintedImageView` is set in advance.

I think I can fix it, I'll look into it.

[2015-05-21 14:50] rsanchezsaez opened #213 "Delete 'revert-198-tests-for-orkconsentdocument' branch"
I think the [revert-198-tests-for-orkconsentdocument](https://github.com/ResearchKit/ResearchKit/tree/revert-198-tests-for-orkconsentdocument) branch can be safely deleted.

[2015-05-21 17:12] jwe-apple commented on #208
Ah, interesting.

[2015-05-21 19:09] rsanchezsaez commented on #194
Just curious, do you know why this was affecting my device but not Vincent's?

[2015-05-21 19:47] jwe-apple commented on #194
In my testing there was some variation by iOS version. He hasn't reported his version or hardware, so not sure.

[2015-05-21 19:47] #194 closed

[2015-05-21 19:50] jwe-apple commented on #194
Believed fixed in #214

[2015-05-21 20:16] jwe-apple commented on #213
ta

[2015-05-21 20:16] #213 closed

[2015-05-21 22:54] jamiedaniel opened #215 "Display document in ORKConsentLearnMoreViewController"
Load a document from the "learn more" tab in ORKConsentLearnMoreViewController

[2015-05-21 23:04] jwe-apple commented on #215
Yep, I suppose you'd need to add a "learn more" content fileURL property (?) to ORKConsentSection.

[2015-05-21 23:07] #208 closed

[2015-05-21 23:07] jamiedaniel commented on #215
Yes. Already implemented going to create a pull request.

[2015-05-22 00:00] jwe-apple commented on #202
Still happening.

[2015-05-22 00:02] jwe-apple commented on #177
This is a lot less bad than it used to be, but there is indeed still some lag.

[2015-05-22 02:09] rsanchezsaez commented on #202
Could you provide steps to reproduce? I tried `ORKTest`'s *miniform* on iPhone 6 and iPad 4th gen. and was not able to reproduce.

[2015-05-22 05:52] jwe-apple commented on #202
ORKTest, iPhone 6, iOS 8.3, Mini forms step 3. Scroll.

If you can't reproduce, I'll take a look tomorrow or at the weekend.

[2015-05-22 08:24] brucehappy commented on #202
I have only been able to get a layout error message (and failed layout) from the vertical scale slider, and only on orientation change.  I have checked, and my original branch https://github.com/brucehappy/ResearchKit/tree/issue_4 does not show the issue, so this is a regression.  Here's the message:
[code]
And here's a demo (you can see the message printed to my output during the final orientatio

[2015-05-22 15:12] seth2247 opened #219 "Documentation for implementing ORKQuestionStepCustomView & new ORKAnswerFormat?"
The documentation describing what is required to implement a custom ORKQuestionStepCustomView and ORKAnswerFormat is practically nonexistent. There is a very brief introduction to the ability here: http://researchkit.github.io/docs/Classes/ORKQuestionStepCustomView.html#//api/name/answer other than that there isn't anything.

[2015-05-22 17:24] jwe-apple commented on #219
Partly because it would be difficult to do except within the framework. What are you thinking of adding?

[2015-05-22 18:14] seth2247 commented on #219
Well, it would be similar to the ImageChoiceQuestion provided in the ORKCatalog example, but rather than multiple images there would only be one. This individual image, however, would have multiple selectable components rather than only the entire image as a whole being selectable. For example, if one wanted they could select only the top right quadrant of the "round_shape" image, or any of the ot

[2015-05-22 19:54] jwe-apple commented on #219
Ah, sounds interesting. Kind of a grid selector. I wonder if there's also room for a non-grid mode where they select a point and maybe a radius. And also thinking about the image capture step we just added, it would be nice if it hooked up to that so you could capture an image and then let the user highlight an area.

[2015-05-22 21:30] seth2247 commented on #219
Exactly. Since the initial post I have gotten it working. At least displaying my desired image, recognizing a users selection, and displaying the imaged highlighting the selected area. I haven't implemented returning the result of the final selection to the task though.

[2015-05-22 21:31] jwe-apple commented on #219
Yep, you'll need an `ORKResult` subclass for that.

[2015-05-22 21:33] seth2247 commented on #219
Off to conquer that!

[2015-05-22 21:33] #219 closed

[2015-05-24 09:43] vtourraine commented on #194
Hey guys, sorry I was _Away From Keyboard_ with week. Glad this is fixed. (I was using the latest public iOS version, 8.3).

[2015-05-25 20:55] #177 closed

[2015-05-25 20:57] jwe-apple opened #222 "Bump versions to 1.1"
Need to bump reported versions to 1.1 and merge to convergence.

[2015-05-25 21:13] jwe-apple opened #224 "Step navigation rule initializer should have Swift overlay to use tuples"
The Step navigation initializer and the step navigation rule overall should use tuples in Swift. The Objective-C API is not ideal, but acceptable given we can improve it in Swift. This issue is for adding a Swift overlay initializer and any other necessary components, and potentially hiding the Objective-C initializer in Swift.

[2015-05-25 23:26] rsanchezsaez commented on #202
Hey @brucehappy, thanks for the detailed report, it was really helpful for debugging the problem. I have provided a fix in the linked pull request.

Since we were using `ORKScreenMetricVerticalScaleHorizontalMargin` to dictate a vertical scale height which avoided scrolling on *iPhone 5s* and up, I figured it'd be simpler to just supply a `ORKScreenMetricVerticalScaleHeight` metric instead. I'm us

[2015-05-26 16:54] brucehappy commented on #202
Well, its definitely simpler, but as you say, it is less general.

Personally, I'd prefer if we determined what changed between my branch https://github.com/brucehappy/ResearchKit/tree/issue_4 and master that has caused this regression, but I have not had the time to do so this past week, nor does it look like I will have the time to do so in the next few days.

So, given @jwe-apple 's 1.1 converg

[2015-05-26 17:50] rsanchezsaez commented on #202
The thing is that I don't see any particular benefits in making the *height* of the vertical scale to depend on the *width* of its container view. The width could be very large, but maybe a less tall vertical scale is desired.

It feels as if the height should be a separate metric (specially since we were having `ORKScreenMetricVerticalScaleHorizontalMargin`, which was an indirect way of setting t

[2015-05-26 19:26] jwe-apple commented on #202
I don't think we want to extend it to the developer. A metric feels right to me.

[2015-05-26 19:40] rsanchezsaez commented on #202
Fair enough.

[2015-05-26 20:14] #202 closed

[2015-05-26 20:19] jwe-apple commented on #222
Adjusted in 81acc7b

[2015-05-26 20:19] #222 closed

[2015-05-26 20:32] jwe-apple opened #228 "Accessibility hint for capture process should be exposed as property on image capture step"
The image capture step should probably include an accessibility hint. Since the description of what exactly to do is specific to the particular use case, we should expose this as a property on the image capture step.

[2015-05-28 22:42] jwe-apple opened #230 "Discrete slider should support text choices"
A version of a discrete slider that can take an array of text choices and map input value through that set of text choices would be nice. This would be a good way of supporting PROMIS-style vertical arrays of value sets.

[2015-05-28 23:24] rsanchezsaez opened #231 "Less tall continue buttons in compact vertical size class"
Currently, `Continue` buttons are always 44 points tall.

On the other hand, the standard navigation bar goes from 44 points in portrait to 32 points in landscape.

Should we follow a similar approach with the continue button?

[2015-05-29 00:05] jwe-apple commented on #231
You mean compact vertical size class, but yes. We could consider it.

[2015-05-30 00:37] jwe-apple opened #233 "More parameter validation needed for ORKDeviceMotionStep"
Currently we have those 3

[code]

No validation check on timeout interval (which will keep the blue circle always showing up if we set to negative)
`maximumStimulusInterval` and `minimumStimulusInterval` also need a negative check

[2015-05-30 00:38] jwe-apple opened #234 "Camera feed in image capture task does not rotate correctly"
In the image capture task, under screen rotation, the rotation does not correctly rotate the camera feed to match.

[2015-05-30 00:40] brucehappy commented on #234
This was working in my original feature branch.  I'll check master in a little while to see whats up.

[2015-05-30 00:41] jwe-apple opened #235 "Tone should be stopped when going to a previous step in ORKCatalog tone audiometry task"
1. Build and run ORKCatalog
2. Tone Audiometry Active Task -> next to step 3
3. the tone begins, now go back to step 2, expect the tone to stop, it didn't, it only stopped after i go to step 1

[2015-05-30 00:43] jwe-apple opened #236 "Setting taskViewController's outputDirectory to nil throws an exception"
During state restoration, sometimes the outputDirectory can fail to load. This should not result in an exception - it should be accepted gracefully (developer can then set the outputDirectory to fix it up).

[2015-05-30 01:44] jwe-apple commented on #234
cool, thanks.

[2015-05-30 03:34] brucehappy commented on #234
I just tested this on my iPhone 5 iOS 8.3 using ORKTest, and it rotates along with the app (which excludes upside down portrait).  Which device and os is this happening on?

[2015-05-30 08:59] rsanchezsaez commented on #233
I'm doing this.

By the way, all the reaction time task class names seem a tad too long. How about renaming them from `ORKDeviceMotionReactionTime...` to `ORKReactionTime...`?

[2015-05-30 10:09] rsanchezsaez commented on #233
Additional parameter validation added to [PR #232](https://github.com/ResearchKit/ResearchKit/pull/232).

[2015-05-30 10:43] rsanchezsaez commented on #236
Could you provide steps to reproduce? How do you mean the developer can set the `outputDirectory` to fix it up?

[2015-05-31 02:59] #235 closed

[2015-05-31 03:01] #233 closed

[2015-05-31 03:02] jwe-apple commented on #234
mm, yes. I'm also having trouble reproducing, so I'm returning this to the original reporter. Thanks for looking into it.

[2015-05-31 06:24] jwe-apple commented on #234
I've reproduced on iPad. Fix in #239.

[2015-05-31 13:22] rsanchezsaez opened #241 "Add dynamic text support to graphs and pie chart"
[Pull request #178](https://github.com/ResearchKit/ResearchKit/pull/178) ([Issue #92](https://github.com/ResearchKit/ResearchKit/issues/92)) adds a pie chart component (`ORKPieChartView`). This is a follow-on issue to make its labels (*percentage*, *legend*, *title* and *text*) to take into account the system font size.

Also applies to `ORKAxisView`.

[2015-05-31 22:52] #236 closed

[2015-05-31 22:55] #234 closed

[2015-05-31 22:55] jwe-apple commented on #234
Fixed in #239

[2015-06-01 01:05] rsanchezsaez opened #242 "State restoration makes the image capture step to fail"
Restoring the app to an image capture step makes the view controller unstable.

*Steps to reproduce*
1. Launch `ORKTest` from Xcode.
2. Open the *Image Capture* task.
3. Go to step 4 (image capture step).
4. Send the app to background and hit stop on Xcode so the state is stored.
5. Launch `ORKTest` again, it should restore to the image capture step.
6. Try capturing an image.

If you try to captu

[2015-06-01 02:15] jwe-apple commented on #242
Is the output directory correctly set on the image capture step VC during restoration?

[2015-06-01 17:25] p2 opened #243 "Consent Review is horizontally scrollable"
This is present in latest master and seems to have been introduced with merge c42f29f from May 8: The consent document in the consent review step is horizontally scrollable, see screenshot.

![screen shot 2015-06-01 at 13 23 21](https://cloud.githubusercontent.com/assets/358485/7918752/9f17995a-0861-11e5-80aa-735edaf28727.png)

[2015-06-01 17:36] jwe-apple commented on #243
Which task is this in? I'm not seeing this behavior in ORKCatalog, for instance.

[2015-06-01 17:37] jwe-apple commented on #243
Or - could you supply the content you're using?

[2015-06-01 17:38] jwe-apple opened #244 "Whether user agreed to consent review should be explicit on result"
The signature result from the consent review step should be explicit as to whether the user agreed to the consent. At the moment this is implicit. See http://stackoverflow.com/questions/30571615/researchkit-is-it-possible-to-get-choices-variable-from-orkconsentreviewstep

[2015-06-01 17:57] jwe-apple commented on #242
Reproduced.

[2015-06-01 18:04] brucehappy commented on #242
I'd love to reproduce and fix, but I'm tied up today.  The soonest I could get to it is tomorrow afternoon.

[2015-06-01 18:07] p2 commented on #243
This is out of AppCore, noticed this happening when pulling latest master of ResearchKit, then going back until it would be back to "normal". The page I'm using is a stand-in and only contains:

[code]

[code]

[2015-06-01 18:11] jwe-apple commented on #243
Try dropping the entire HTML wrapper and the CSS, and just using the content. ResearchKit wraps the provided content in an HTML document as it is.

[2015-06-01 18:36] p2 commented on #243
You're right, this is the case. While it doesn't solve the issue, using the Safari inspector I see the problem: `width=device-width`. This should not be used, it's causing this problem, but more importantly it's always causing problems on iPad, for example when showing an HTML page in a form sheet. `initial-scale=1.0` in my experience is enough for good rendering. One could add `minimum-scale=1` a

[2015-06-01 18:46] p2 commented on #243
Oh wait, that was still MY `device-width` that was being used! I didn't see it in ResearchKit's code, so did another clean and now it works.

Sorry, my bad, show's over. Nothing to see here, move along, move along!

[2015-06-01 18:46] #243 closed

[2015-06-01 23:42] brenbob opened #245 "NSException on ORKBooleanAnswerFormat in Swift‏"
I'm constructing a simple test step with sample form items taken from the ResearchKit docs, and converted to Swift. The below code works for numeric and text answers, but throws an NSException on the boolean item.

********
    var surveyTask: ORKOrderedTask {
        var orkSteps = [ORKStep]()

        var testStep = ORKFormStep(identifier: "test", title: "step 1", text: nil)
        testStep.for

[2015-06-01 23:45] rsanchezsaez commented on #242
The problem seems to be related to the output directory indeed. The output directory *ivar* is correctly being set during restoration. And checking with iExplorer, I can see the output directory existing on the device.

After restoration, however, `[_capturedImageData writeToURL:url options:NSDataWritingAtomic|NSDataWritingFileProtectionCompleteUnlessOpen error:&writeError]` fails with this error:

[2015-06-02 01:29] rsanchezsaez commented on #245
The problem lies within `ORKFormStepViewController`'s `buildSections` method, in the specific case of an empty *section header form item* followed by a *form item* requiring its own section (`multiCellChoices`, `multilineTextEntry` or `scale`).

The code following the `// Remove empty sections` comment removes the *empty header section* preceding the section produced by a *section-requiring form i

[2015-06-02 03:34] jwe-apple commented on #245
This was a originally part of the design spec, but I think we should reinstate them. This has been the subject of multiple issues.

[2015-06-02 03:52] jwe-apple commented on #243
@p2 Thanks. If you decide this should behave differently, let me know.

[2015-06-02 06:57] jwe-apple commented on #242
Fixed by #252.

[2015-06-02 09:57] rsanchezsaez commented on #233
By the way, I take you don't want to rename `ORKDeviceMotionReactionTime...` to `ORKReactionTime...`, right?

[2015-06-02 12:29] p2 commented on #243
No, that's certainly better. I should more directly work with ResearchKit for consenting to not miss these things.

[2015-06-02 19:01] jwe-apple opened #256 "Revise logging implementation"
ORK_Log_Debug and ORK_Log_Oops need some control developers can exert besides using DEBUG / NDEBUG.

[2015-06-02 19:22] #245 closed

[2015-06-02 19:26] #244 closed

[2015-06-02 19:26] jwe-apple commented on #244
Fixed in #254

[2015-06-02 19:26] jwe-apple commented on #242
Fixed.

[2015-06-02 19:26] #242 closed

[2015-06-02 19:29] jwe-apple commented on #233
Not at this time. File an issue?

[2015-06-02 19:39] rsanchezsaez opened #257 "Rename 'ORKDeviceMotionReactionTime...' to 'ORKReactionTime...'"
The `ORKDeviceMotionReactionTime...` class names are a tad too long. I don't see any shortcomings to renaming them  to 'ORKReactionTime...'. It's also more in line to other device-motion using tasks like `ORKFitnessTask`.

[2015-06-02 19:40] rsanchezsaez commented on #233
Filed [Issue #257](https://github.com/ResearchKit/ResearchKit/issues/257).

[2015-06-02 23:08] rsanchezsaez opened #259 "Minor animation glitch when showing keyboard on a form"
There's a minor animation glitch when showing the keyboard on a form with text field questions (e.g., `ORKHealthKitQuantityTypeAnswerFormat`).

When you tap any of the text field while the keyboard is hidden, the placeholder label performs a glitchy animation. Try `ORKTest`'s *Mini Form* to reproduce.

100% reproducible on *iPhone 6* running *iOS 8.3*. Happens both on *master* and *stable*.

[2015-06-02 23:53] rsanchezsaez commented on #242
Hey @brucehappy, John fixed the root of the issue (wrong output directory after restoration), but still `ORKImageCaptureStepViewController` doesn't handle image write errors very gracefully.

You can artificially reproduce this by adding `url = [NSURL fileURLWithPath:@"/"];` just before `writeToURL:...` in `writeCapturedDataWithError:`.

Notice how, when doing this, after `ORKImageCaptureView`'s `

[2015-06-03 01:22] brenbob opened #261 "Expose keyboard type property on text entry fields"
Would be helpful to have access to the same keyboard types supported in iOS, esp. for phone and e-mail entry.

enum UIKeyboardType : Int {
    case Default
    case ASCIICapable
    case NumbersAndPunctuation
    case URL
    case NumberPad
    case PhonePad
    case NamePhonePad
    case EmailAddress
    case DecimalPad
    case Twitter
    case WebSearch
}

[2015-06-03 02:00] jwe-apple commented on #257
Yeah, I've converted.

[2015-06-03 03:48] jwe-apple commented on #261
If adding phone and email, I'd like to have specific answer formats for them, with some form of validation.

[2015-06-03 05:42] brucehappy commented on #242
I am taking a look now.  Was surprised with the latest changes to layout, which I documented on #246.  I'll see if I can handle this error now.

[2015-06-03 06:13] jwe-apple commented on #242
@brucehappy Yep, looks like I didn't give that one adequate review.

[2015-06-03 06:28] #257 closed

[2015-06-03 08:09] brucehappy commented on #242
Should be resolved with PR #263

[2015-06-03 10:20] rsanchezsaez commented on #242
Actually, I missed the layout problem during review of [PR #250](https://github.com/ResearchKit/ResearchKit/pull/250). Fixed now in [PR #265](https://github.com/ResearchKit/ResearchKit/pull/265).

[2015-06-03 14:56] p2 opened #266 ""Learn More" modal views show "Cancel", would "Done" be preferable?"
When going through consenting, there's always a "Cancel" button top right to abort consenting. When tapping "Learn More" on the individual steps, the learn more view is presented modal and also has a "Cancel" button top right. I feel it would be nicer if it was a "Done" button, both semantically and also to distinguish it from canceling consenting.

[2015-06-03 19:30] jwe-apple commented on #266
Agree.

[2015-06-04 01:31] #215 closed

[2015-06-05 03:27] YuanZhu-apple commented on #266
Fix in #268

[2015-06-05 17:20] jwe-apple opened #270 "ORKChoiceAnswerFormatHelper code review"
We need to review some of the code in ORKChoiceAnswerFormatHelper. It's set up to handle both answers that are boolean, and arrays of values for a text choice. However it needs to handle the case where the answer is an array that does not contain a valid choice. Just because there's no valid choice should not imply that we fall back to using integers.

[2015-06-05 18:49] brenbob commented on #270
I'm seeing a (perhaps) related problem with multiple-choice ORKTextChoiceQuestion. For example:
- I have a multiple-choice question with 6 choices,
- Each choice has a value of '1' if selected,

Per RK docs, choiceAnswers should be:
"An array of selected values, from the value property of an ORKAnswerOption object. In the case of a single choice, the array has exactly one entry."

So I expect only

[2015-06-05 18:52] jwe-apple commented on #270
@brenbob I see how this arises. For now, most of the problems should go away if you use string-based values rather than integers.

[2015-06-05 19:10] brenbob commented on #270
Not sure if that works. Using text values as in these examples:

questionDefault.choiceAnswers = ["1"]
questionDefault.choiceAnswers = ["1","1"]

results in an error:

*** Assertion failure in -[ORKChoiceAnswerFormatHelper selectedIndexesForAnswer:]

[2015-06-05 19:27] jwe-apple commented on #270
And "1" is a valid TextChoice value for that question?

[2015-06-05 19:41] brenbob commented on #270
Yes. Each choice has a possible value represented in JSON like this: "value":"1" and I generate the formItem like this:

        var choices = [ORKTextChoice]()
        for option in options {
            let choiceText = option["text"] as! String
            let choiceValue = option["value"] as! String
            choices.append(ORKTextChoice(text: choiceText, value: choiceValue))
        }

[2015-06-05 20:49] brenbob commented on #270
So it seems RK assumes each text choice will have a unique value. That's not the case in my survey, which helps explain the source of these errors.

[2015-06-05 21:58] jwe-apple commented on #270
Yes, they need to be unique. Otherwise you wouldn't be able to distinguish the answers in the result. If we're not catching that they're not unique, we need to add a validator.

[2015-06-05 23:12] #266 closed

[2015-06-08 21:27] #259 closed

[2015-06-08 23:06] brucehappy commented on #228
The ``Localizable.strings`` has two strings that have existed since the epoch of the project on github, and that seem to be remnants of a never included Media step.
[code]
This raises the question, do we need two hints?   One for the state where an image is not captured, and one for when it is already captured?  If so, presumably we need allow the developer to specify both hints via properties.  A

[2015-06-10 00:04] rsanchezsaez opened #290 "Implement size class support"
Replace fixed device metrics by device size class support. Specially relevant in order to properly support iPad multitasking.

[2015-06-10 00:18] jwe-apple commented on #290
Yes indeed. On the ios9 branch, there have been specific issues identified which this should aim to fix:
- Image capture task rotating with a split screen can crash <rdar://problem/21191705>
- Image choice step can crash under rotation with split screen <rdar://problem/21169048>
- Scale answer formats lay out particularly badly in split screen <rdar://problem/21168750>

Note that you can't complet

[2015-06-10 00:52] brucehappy commented on #290
@jwe-apple, any chance we might be able to bridge the internal radar tracker with the github issue tracker for ORK?  I'm sure its a tall order.  But if its not possible, then encouraging internal apple folks to use the github tracker for new ORK issues?

[2015-06-10 02:06] jwe-apple commented on #290
No chance for a bridge I'm afraid. We generally do this manually, where the issue is suitable for public consumption. Clearly, before yesterday we couldn't have posted these ;-)

[2015-06-10 02:31] brucehappy commented on #290
Ok, I certainly understand the timing, and that it'll be a manual process.  Now I guess I just need an iPad Air 2 to test with :smiley:

[2015-06-11 12:41] julientherier opened #291 "Medication Adherence"
[Brown et Bussell, 20011](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3068890/)

I'm wondering if participants/researchers using ResearchKit apps could benefit from a new module dedicated to "Medication Adherence":
• Select current medication using barcode/datamatrix recognition.
• Schedule local notifications based on the medication regimen.
• Any other idea...

What are your thoughts about that?

[2015-06-11 13:01] apaola2004 commented on #291
Though there are apps to help a patient adhere to a daily regimen, I think this an important feature to add to Researchkit, simply because it will be a component of a universal framework for the future of public and individual health.  For example, strict adherence to HIV antivirals are important at keeping the virus at bay for the individual and drastically lowers the spread of the virus, when th

[2015-06-11 13:05] apaola2004 commented on #291
I am available to help implement this component.  I have 25+ years of software development experience from writing software to predict a weather satellite's attitude in orbit to smartphone applications for the DoD.

[2015-06-12 01:47] brucehappy commented on #270
@jwe-apple I'll review ``ORKChoiceAnswerFormatHelper`` and check into the need for the validator

[2015-06-12 06:34] KaiCode2 commented on #88
I'm about to start work on this task and to my understanding here is what I'd to do.

*  Incorporate a touchID (with passcode) as a consent step.
*  Allow tasks to require authentication via. TouchID (with passcode backup). This could be achieved either with a non-optional ORKStep (so users can't skip it) that would be placed in the front of the ORKTask or I could add a method to ORKTask protocol

[2015-06-12 08:20] julientherier commented on #291
Perhaps some questions to know if it could be a great extension to ResearchKit:
• Is "Medication Adherence" a usual part of a clinical study?
• Are the ResearchKit contributors willing to see "Medication Adherence" be part of the framework?
• General design strategy for such feature?

[2015-06-13 16:14] julientherier opened #292 "Value picker in a non optional form allows going to next step"
If I add a value picker in a non optional form step, I can go to next step if:
• I select a value in the picker,
• Then go back to "Select a Value".

It should disabled to next button in this case.

[2015-06-15 14:24] p2 commented on #291
There are a quite many studies studying medication adherence, it's a big field of research. As such it might be difficult to provide a base framework that is of use to such studies, which often use diverse data sources to get a participant started, such as admission and discharge med lists, reconciled lists from the EHR and even pharmacy fill lists. There often are no public APIs to these services

[2015-06-15 15:18] julientherier commented on #291
@p2 "Medication data is not currently stored in HealthKit."
You're right. If it was supported by HealthKit, it could be easier to implement that in the future.
I saw in the WWDC sessions that Apple engineers extend HealthKit based on IoT availability, user and devs requests.

So the first step could be to ask for an HealthKit support of medication data.

[2015-06-15 17:18] brucehappy commented on #228
@jwe-apple Also would like to know if you believe the hint should be on the Capture/Recapture buttons, or if it should be on the preview.  Currently, I've got the hint on the preview (switching it between the two hints depending on the current mode), and I've also made the magic tap on the preview click either the capture or recapture button depending on which is active.

[2015-06-15 20:29] brenbob opened #294 "Step result ignored on non-optional question step"
I'm initializing a Choice Question step with a previously-saved step result. This works fine, and the question renders with the appropriate choice selected.

But when I set the question step as non-optional, the step result is ignored.

My apologies for lack of code example. I'm working to set up a generic example that repro's the problem. Also can check if this occurs for other question types.

[2015-06-15 20:54] YuanZhu-apple commented on #228
@brucehappy
"MEDIA_BUTTON_HAVE_IMAGE" and "MEDIA_BUTTON" are not being used, we need to clean it up.

Add a hint for the image template on the top of preview view, so voice over users can understand the aim of the image capture.

Currently,  it only says "Capture preview, image". Ideally, it would say something like: "Capture preview, right hand, image".

[2015-06-15 20:57] YuanZhu-apple commented on #294
Can you make a fork and modify ORKText to reproduce this issue?

[2015-06-16 15:47] brenbob opened #295 "Step result cleared on 'skip' action"
I have a question step populated with a step result. If I select the 'skip' button instead of 'next', and then return back to the step, the result is gone.

[2015-06-16 15:57] rsanchezsaez commented on #295
I'm afraid that's the intended behaviour. The idea is that when a participant skips a step, that step has a null result independently of what was entered before.

[2015-06-16 17:03] brenbob commented on #295
I suspected that's the case, but wanted to confirm. Since this can result in unexpected behavior, it might be good to have more explicit messaging on the skip action.

[2015-06-16 19:50] YuanZhu-apple commented on #295
skip button can be customized through `skipButtonTitle` on `ORKStepViewController`

[2015-06-17 18:45] brenbob opened #296 "flipToPreviousPage removes steps and results"
My task has a set of survey steps inserted dynamically via stepAfterStep and stepBeforeStep, and uses ORKTaskResult to consolidate results at various times in the user session.

I've just noticed these dynamic step results are removed from ORKTaskResult when the user flips back to a previous step. Can someone explain why steps (and corresponding results) are removed from the managed arrays?

- (IB

[2015-06-17 18:51] brenbob commented on #296
Perhaps more accurately - the steps are removed from _managedStepIdentifiers. Results remain in _managedResults, but I don't see any means to access them once the corresponding step was removed.

[2015-06-17 19:50] YuanZhu-apple commented on #88
Thanks for taking on this issue!

*  Incorporate a touchID (with passcode) as a consent step.
   - Yes, let user create a passcode for this app and optionally enable Touch ID.
* Allow tasks to require authentication.
   - The authentication usually happens on app level. It is uncommon to require authentication for each task.
In my opinion, a  `ORKPasscodeViewController` would be very useful which

[2015-06-17 20:09] YuanZhu-apple commented on #296
Because ORKTaskResult stores up to date step results in a linear sequence, not all the answer history.

If you want to capture the results at various times, you can either implement:
`- (void)taskViewController:(ORKTaskViewController *)taskViewController didChangeResult:(ORKTaskResult *)result;
` to capture all result changes
or
`- (BOOL)taskViewController:(ORKTaskViewController *)taskViewControll

[2015-06-19 00:12] brenbob opened #297 "Next button not shown on non-optional boolean/choice steps"
Boolean and ChoiceText steps with 'optional' set to false don't display a "Next' button and proceed automatically to the next step on user selection.

[2015-06-19 01:05] YuanZhu-apple commented on #297
Yes, it is by design, but only apply to single choice or boolean type.
Since a non-optional step cannot be skipped, it takes user **only one** tap to finish.

[2015-06-19 01:05] #297 closed

[2015-06-19 01:20] YuanZhu-apple commented on #292
Thanks for catching this!
I confirm it is a bug.

[2015-06-20 00:25] brenbob commented on #294
Not sure about doing a fork, but I can repro the issue with this basic survey implementation. If I set questionStep.optional to 'true', the correct choice is selected on render. If I set it to 'false', no choice is selected.

// main viewController

class SurveyVC: UIViewController, ORKTaskViewControllerDelegate {

    /**
    When a task is completed, the `SurveyViewController` calls this closure

[2015-06-20 00:49] YuanZhu-apple commented on #294
@brenbob I would like to debug this code if you can put this with its XCode project into a repo.

[2015-06-20 21:05] brenbob commented on #294
Done. https://github.com/brenbob/RKtest

[2015-06-21 07:08] YuanZhu-apple commented on #294
Sorry, Xcode project file is missing from your repo.

[2015-06-22 02:13] brenbob commented on #294
I've updated the repo to include my Xcode project file

[2015-06-22 21:50] YuanZhu-apple commented on #296
@brenbob Please close this issue, if it has been resolved by my answer.

[2015-06-22 21:51] #295 closed

[2015-06-22 22:43] YuanZhu-apple commented on #294
Hey @brenbob, I made a few fix to your project run.

Step result from `defaultResultSource` is ignored if you provide a custom stepVC.
Because a result requires to be supplied during a stepVC's init:
[code]

Normally, there is no need to create a custom stepVC for question steps.
But you can hookup the result by yourself in:
[code]

[2015-06-23 02:06] brenbob commented on #294
The custom step is unrelated to this issue and I've removed it from the repo to simplify trouble-shooting.

[2015-06-23 05:31] YuanZhu-apple commented on #294
Thanks, I got your point, when a user is visiting a non-optional single choice step already has an answer on it, he/she can't see the answer check mark.

![screen shot 2015-06-22 at 10 08 28 pm](https://cloud.githubusercontent.com/assets/11466704/8299319/a7a60a36-192b-11e5-9006-9f041feb7c72.png)

This behavior is expected (by design).
Are you suggesting we should change this design?
What if we mak

[2015-06-24 16:56] brenbob commented on #294
That may work. I'm most concerned about the scenario where the question already has a default answer and the user hits the Back or Cancel button. The saved result is lost and presents a problem in surveys with dynamic task ordering.

[2015-06-24 17:48] YuanZhu-apple commented on #294
@brenbob Can you comment on #296 for the saved result lost issue?

[2015-06-26 00:17] stownsend opened #299 "Consent Document Header"
Hi,

Just a quick question , rather than an issue. Is there an underling reason why a header for the consent documents isn't included as an option when creating the consent PDF? Up until this point, I've just added my own override of:
- (void)drawHeaderForPageAtIndex:(NSInteger)pageIndex
                        inRect:(CGRect)headerRect {...}

which has meant copying it each time RK updates. It wo

[2015-06-26 00:25] YuanZhu-apple commented on #299
Thank you for being interested in contribution!
I cannot think of any reason we don't like this feature.
Make a pull request, we can discuss there:)

[2015-06-26 00:32] stownsend commented on #299
No worries, I'll tidy it up over the weekend and go from there.

[2015-06-26 19:25] #193 closed

[2015-06-26 20:22] julientherier opened #300 "Localized numbers for UI elements"
Make timer localizable, some region doesn't use arabic numbers.

[2015-06-26 22:08] #292 closed

[2015-06-26 22:18] YuanZhu-apple commented on #300
Absolutely. This is also covered by: <rdar://problem/21220738> Numbers should be in Hindi instead of Arabic-Latin.

- Count down timer
- Step progress ( Step 1 of 5 )
- Hz number in `ToneAudioMetry`
- Attempt count in Reaction Time Task ( Attempt 1 of 3 )

[2015-06-27 14:55] oliverschaefer commented on #89
An `ORKReviewStep` could be a subclass of a `ORKFormStep`, with one `ORKFormItem` for every answer that was actually given. In order to properly display the form items, this would also require a custom `ORKReviewAnswerFormat` and `ORKReviewQuestionType`, to let the view controller know how to display the corresponding cells correctly.

[2015-06-29 18:00] YuanZhu-apple commented on #89
@oliverschaefer Are you suggesting we should use `ORKFormStepViewController` to present the results? Since `ORKFormItem` supports all the types of `ORKAnswerFormat`?

And allow user to modify the results without leaving `ORKReviewStep`, then `jumping` from review step to original step is not necessary?

[2015-06-29 18:36] YuanZhu-apple commented on #300
@umerkhan-apple is working one this.

[2015-06-29 18:52] umerkhan-apple commented on #300
https://github.com/ResearchKit/ResearchKit/pull/301

[2015-06-29 19:49] oliverschaefer commented on #89
@YuanZhu-apple Yes, presenting results via `ORKFormStepViewController`should be convenient, especially since it eliminates the need for boilerplate code. However, I think jumping is still necessary. One possible way to do the jump would be: Define a `ORKReviewAnswerFormat` with a 'targetStepIdentifier' property. Once an `ORKFormItem` has been selected, get the `targetStepIdentifier`and use `ORKTas

[2015-06-30 01:30] YuanZhu-apple commented on #89
@oliverschaefer Thanks for starting working on this!

Let me know if we are on the same page. For the UI flow, user is able to tap to go to the next step to see the "original" step with result, and make editing there. Probably need to hide **Continue** button on "original" step but keep **Skip** button on this step. After finish editing, user tap top left corner **Back** button (or kill the result

[2015-06-30 17:31] oliverschaefer commented on #89
@YuanZhu-apple UIFlow: I'd like to think of a review step as a task's table of contents. Tapping a cell brings the user back to the original step. From there navigation works as usual: tapping back will call `stepBeforeStep`, while tapping continue will call `stepAfterStep` respectively. What about a separate "go back to review step" option?

API: The review step collects the data from an `ORKTask

[2015-06-30 17:56] YuanZhu-apple commented on #89
From encapsulation perspective, I like ORKReviewStepViewController to contain two view controllers:
 - ORKReviewListViewController
 - ORKQuestionViewController/ORKFormStepViewController (Editing)

You can find this type of implementation in `ORKConsentReviewStepViewController`, which is a single step but has two VCs embedded in a child `UIPageViewController`.

The encapsulation prevents `taskViewC

[2015-06-30 17:58] #174 closed

[2015-06-30 20:33] pawisoon opened #303 "[Swift] Introduction example does not work."
I tried that one and get error on
taskViewController.delegate = self

Cheers

[2015-06-30 21:30] YuanZhu-apple commented on #303
Hey @pawisoon, which branch are you looking at? And the XCode version you have been using?

[2015-06-30 22:50] pawisoon commented on #303
Newest xcode 6.4 and master branch. This is my viewcontroller
![screen shot 2015-06-30 at 23 48 39](https://cloud.githubusercontent.com/assets/6951295/8443896/b9a76204-1f82-11e5-8add-d326c213309e.png)

[2015-07-01 00:01] YuanZhu-apple commented on #303
What is the error/exception? I guess the `taskViewController` is not retained properly.

[2015-07-01 00:03] pawisoon commented on #303
Rigth. My mistake :D I think I'm tired..
Works perfectly now

![screen shot 2015-07-01 at 01 02 35](https://cloud.githubusercontent.com/assets/6951295/8444786/01ee0acc-1f8d-11e5-9e48-ca081f202d60.png)

[2015-07-01 00:09] #303 closed

[2015-07-01 20:06] YuanZhu-apple commented on #300
Fixed in #301

[2015-07-01 20:06] #300 closed

[2015-07-01 20:57] umerkhan-apple commented on #228
https://github.com/ResearchKit/ResearchKit/pull/305

[2015-07-01 21:19] brucehappy commented on #228
I had worked on this issue, as indicated in my previous comments.  Apologies for not submitting a PR after the response from @YuanZhu-apple .  I do not wish to step on anyone's toes, but I can submit the PR now, if desired.

[2015-07-01 22:02] umerkhan-apple commented on #228
@brucehappy I figured you were busy, so I went ahead and started working on the issue. I have updated the PR following your suggestions. Please compare the PR with your version and let me know of any differences or suggestions. Let me know if you feel your version is significantly different and would like me to close my PR?

[2015-07-01 23:17] brucehappy commented on #228
Ok, just ping me by replying to the issue in future, if you don't mind.  It could save us from duplicating work.

I can help you get this PR into shape if you want.  As I had indicated above, my code allows for two separate hints, one for when the preview is displaying a live feed from the camera, and one for when it is is showing the captured image.  @YuanZhu-apple seemed to be suggesting in his

[2015-07-02 01:19] brucehappy commented on #228
I would suggest that the accessibility hint not be required at all.  If they place an instruction step in front of the image capture step, then the screen reader would have read that before they get to the capture step, which in my mind, makes the accessibility hint optional.  Thus I would suggest leaving it to the developer to determine whether they need the hint on their capture step or not.

As

[2015-07-02 17:21] brendenwest opened #308 "ORKHealthKitCharacteristicTypeAnswerFormat does not have a member named 'minimumDate'"
I'm using the code shown in RK documentation to collect a date-of-birth:

        var dobFormat = ORKHealthKitCharacteristicTypeAnswerFormat(characteristicType: HKCharacteristicType.characteristicTypeForIdentifier(HKCharacteristicTypeIdentifierDateOfBirth))

It works fine for rendering a date picker, but doesn't support the minimumDate property available for ORKDateAnswerFormat.

[2015-07-02 17:38] YuanZhu-apple commented on #308
@brenbob `ORKHealthKitCharacteristicTypeAnswerFormat ` set a default minimumDate 150 years to current date.
Any reason you would like to change this default setting?

[2015-07-02 17:39] umerkhan-apple commented on #228
I agree with your decision on the requirement of accessibility hint. We should leave it to the developer to determine. For the 'recaptureAccessibilityHint', I think we should remove it and have two standard accessibility labels.

[2015-07-02 17:48] brenbob commented on #308
I need to ensure respondents have a minimum age. Perhaps 'maximumDate' is the appropriate setting, but that's not supported either.

[2015-07-02 18:54] brucehappy commented on #228
I reviewed the documentation on accessibility after reading your response, and thinking back over this.  Please look at the documentation for accessibilityHint here:
https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIAccessibility_Protocol/index.html#//apple_ref/occ/instp/NSObject/accessibilityHint

Although I have added an accessibility magic tap on the preview view, there is

[2015-07-02 19:50] YuanZhu-apple commented on #308
That's a valid point, we can consider expose `minimumDate` and `maximumDate` in the API of `ORKHealthKitCharacteristicTypeAnswerFormat` as optional attributes for date of birth.

[2015-07-02 20:30] brucehappy commented on #228
I have implemented what was discussed.  Please note that Voice Over seems to remove duplicate words found in the ``accessibilityLabel`` and ``accessibilityHint``, so instead of saying "Captured image, image", it just says "Captured image" when the preview is showing a captured image.

Please let me know your thoughts about my above concerns on the use of the accessibilityHint.

[2015-07-02 22:04] umerkhan-apple commented on #261
Currently working on this.

[2015-07-03 03:16] annashcherbina opened #309 "What is the offset for the timestamp float in the acceleration and device motion JSON output files"
Not sure if this is the right place to ask this, but I am working with the 6 Minute Walk test Research Kit data, and was wondering in an example like this from the acceleration output json file:

{"y":-0.381866455078125,"timestamp":197914.039694875,"z":-1.011611938476562,"x":0.148529052734375}

what does the number 197914.03 seconds refer to (i.e. 197914.03 seconds since when). Comparing across su

[2015-07-03 07:47] brucehappy commented on #309
I think you are referring to the JSON dictionary produced by ``CMAccelerometerData+ORKJSONDictionary.m``.  The timestamp is from ``CMAccelerometerData``, and more specifically, it is from its superclass, ``CMLogItem`` (which is also the super class for other types of data, like ``CMDeviceMotion``).  Here are the relevant docs:
https://developer.apple.com/library/ios/documentation/CoreMotion/Refere

[2015-07-03 08:11] brucehappy commented on #308
I may not properly understand your purpose, but shouldn't determining whether the subject is at least of a certain age something that should be done in the onboarding process?  For instance, the AsthmaHealth app specifically asks if the subject is over 18 in question # 1:
https://github.com/ResearchKit/AsthmaHealth/blob/master/Asthma/Onboarding/APHInclusionCriteriaViewController.m

I am not sugges

[2015-07-05 20:04] oliverschaefer opened #310 "UI briefly shows default button titles, although taskViewController: stepViewControllerWillAppear: overrides them"
Implementing `taskViewController: stepViewControllerWillAppear:` is the current way of modifying the default behavior of any `ORKStepViewController` (e.g. button titles). This approach has one major downside: When the UI flips to the next step, default button titles (e.g. cancel) remain visible for a quarter of a second.

[2015-07-05 20:07] oliverschaefer commented on #310
I'd suggest a new `ORKTaskViewControllerDelegate` method, such as `taskViewController: configureStepViewController:`, which should be called from `ORKTaskViewController`'s `viewControllerForStep:` method

[2015-07-06 20:44] umerkhan-apple commented on #261
https://github.com/ResearchKit/ResearchKit/pull/312

[2015-07-06 21:30] jwe-apple commented on #309
These are the correct references.

[2015-07-06 21:30] #309 closed

[2015-07-06 21:39] umerkhan-apple commented on #228
@brucehappy After internal discussion, we have come to the conclusion that it is best to include an accessibilityHint on the capture preview, but refactor it as accessibilityInstructions. This way it can be an implementation decision to add instructions on the capture preview or to include them as an accessibilityHint on the "Capture Image" button.

To avoid Voice Over removing duplicate words, we

[2015-07-07 03:43] brucehappy commented on #228
Ok, so you want the property called ``accessibilityHint`` in ``ORKImageCaptureStep`` to be renamed to ``accessibilityInstructions``.  Correct?

How are you proposing that people add an accessibilityHint to the "Capture Image" button?  Through an override on the ViewController, or some other means?

Or perhaps I've misunderstood and you want two properties on ``ORKImageCaptureStep``, one called ``a

[2015-07-07 06:35] ubik2 opened #313 "ORKHealthKitQuantityTypeAnswerFormat interacts poorly with HKUnit percentUnit"
When building a question step with ORKHealthKitQuantityTypeAnswerFormat and HKUnit.percentUnit(), the result is odd.

HealthKit wants to think of percent values as between 0 and 1, so a value of 50% will return 0.50 when you call [sample.quantity doubleValueForUnit:unit] in ORKAnswerDefaultSource.fetchDefaultValueForQuantityType where sample is a HKQuantitySample and unit is HKUnit.percentUnit().

[2015-07-07 17:59] umerkhan-apple commented on #228
The last option with ``accessibilityHint`` on "Capture Image" button and ``accessibilityInstructions`` on capture preview.

[2015-07-07 21:26] YuanZhu-apple commented on #313
Thanks @ubik2!
Yes, indeed, a special case is necessary.
It would more safe to compare the unit with  `HKUnit.percentUnit()` directly.
Would you like to make a pull request?
[code]

[2015-07-07 22:56] ubik2 commented on #313
Created pull request: https://github.com/ResearchKit/ResearchKit/pull/314

[2015-07-07 23:22] YuanZhu-apple commented on #313
#314 has been reviewed and merged.

[2015-07-07 23:22] #313 closed

[2015-07-08 21:53] umerkhan-apple commented on #310
Currently investigating this issue. Stay tuned, will let you know what I find.

[2015-07-08 23:35] YuanZhu-apple commented on #310
@umerkhan-apple Can you comment here how this issue is addressed in the PR?

[2015-07-09 03:16] brucehappy commented on #228
I have updated #306 with the new property and the renaming of the existing property.  I left the text used for the preview's accessibilityLabel alone.

[2015-07-09 21:15] annashcherbina opened #319 "HealthKit heart rate algorithm"
Hello,

In the HealthKit heart rate data, I am seeing entries of the format:

startTime,endTime,type,value,unit,source,sourceIdentifier
2015-03-12T05:35:39-05:00,2015-03-12T05:35:39-05:00,HKQuantityTypeIdentifierHeartRate,1.08333,count/s,Withings,com.withings.wiScaleNG

I noticed that the start time and end time are always the same for HeartRate, and was wondering why that is. If startTime an endT

[2015-07-09 21:52] DanKeen commented on #319
The source for this is from Withings, so it's up to them to produce accurate start and end times for the sample.

HealthKit questions can be asked here - and we'll try to answer them - but the better venue is the iOS Developer Discussion Forum at forums.developer.apple.com

[2015-07-09 22:03] umerkhan-apple commented on #310
Having ``[self setupButtons]`` inside ``viewDidLoad`` loads the default button titles in the navigation bar because the custom buttons have not been set at this point. The custom buttons are set inside ``viewWillAppear:`` when the delegate responds to the ``stepViewControllerWillAppear:``.

[2015-07-09 22:05] annashcherbina commented on #319
Thanks for clarifying. However, in the same file as the Withings example, we have the same timestamp issue from multiple other devices, for example the Apple Watch:

2015-05-05T20:05:22-05:00,2015-05-05T20:05:22-05:00,HKQuantityTypeIdentifierHeartRate,1.35,count/s,Subject's Apple Watch,com.apple.health.XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX

Is this a general issue with the algorithm?
Thanks!

[2015-07-09 22:29] DanKeen commented on #319
For the watch, we could probably figure out relatively accurate start and end times. However, due to the way we do PPG, there's not necessarily a clear signal of when the start of the averaging time was. Unlike with a contact-based HR sensor (like a chest strap) there's a lot of noise and interpretation happening, which means the individual heart beats aren't as easy to measure, and so a strict st

[2015-07-09 22:37] annashcherbina commented on #319
That makes sense, thanks. Although the exact start/end times are hard to identify, what is the approximate interval of time (i.e. several seconds, one minute, etc.) over which the averaging is done to report the counts/s

[2015-07-09 22:43] DanKeen commented on #319
It depends - could be tens of seconds for certain situations - and that's only for the Watch vs other apps doing a similar thing. I'm not sure you could make any informed guesses here vs just "at this point, HR was deemed to be 81bpm".

[2015-07-09 23:11] jwe-apple commented on #319
To address your question about how count/s is determined, I'm guessing this CSV came from one of the apps using AppCore. These specify in their AppDelegate what HealthKit unit to use when serializing sample data retrieved from HealthKit. HKQuantity's doubleValueForUnit: method is used to extract a numeric value in the appropriate unit. If you wanted to display or serialize bpm, you would use a dif

[2015-07-10 11:14] pawisoon opened #320 "Could not cast value of type 'ORKTaskResult' to 'ORKSpatialSpanMemoryResult'"
Hi!
I'm trying to handle the output from spatial span memory task via taskViewController and my code seems to be ok. I created it by looking on ORK sample project.

Here is how I do it now.

    func taskViewController(taskViewController: ORKTaskViewController, didFinishWithReason reason: ORKTaskViewControllerFinishReason, error: NSError?) {
        //handle output

        let taskResult = taskVi

[2015-07-10 17:29] YuanZhu-apple commented on #320
Hey @pawisoon
`ORKSpatialSpanMemoryResult` and `taskResult` are both subclass of `ORKResult`.

Here is an example how to parse ORKTaskResult:
[code]

[2015-07-10 17:29] #320 closed

[2015-07-13 01:25] annashcherbina commented on #319
Thank you jwe-apple. On a related note, I am seeing data for "HKCategoryTypeIdentifierSleepAnalysis" in units of "seconds asleep" and "seconds in bed". Is there a difference in how these are calculated, or is the unit-designation app-specific like with the count/s case?

Thanks!

[2015-07-13 10:19] pawisoon commented on #320
Is it possible to get an answer in Swift? I don't code in Obj-c :/

[2015-07-13 20:28] umerkhan-apple opened #321 "More media capture styles"
Currently there is only support for camera image capture. We want to add support for video capture and picking from media library.  Possibly add style configuration to a `ORKMediaStep`.

Would there be any specific use cases or features that should be implemented within these?

[2015-07-13 21:16] coxy1989 commented on #320
In case you are still in need @pawisoon

        if let results = taskViewController.result.results {
            print("\(results)")
            for result in results {
                if let dateQuestionResult = result as? ORKDateQuestionResult {
                    print("\(dateQuestionResult.identifier), \(dateQuestionResult.answer), \(dateQuestionResult.timeZone), \(dateQuestionResult.calenda

[2015-07-13 21:18] YuanZhu-apple commented on #320
@coxy1989 Thanks!

[2015-07-13 22:23] umerkhan-apple commented on #88
@KaiCode2 What is your state on this feature?

[2015-07-14 00:53] KaiCode2 commented on #88
I'm currently working on the TouchID consent viewController. I'll try to have it this done by the end of the week.

[2015-07-14 01:01] YuanZhu-apple commented on #88
Hey @KaiCode2
Before you go too far, can you share your API design with us first? Thanks!

[2015-07-14 05:06] oliverschaefer opened #322 "Task Progress - API Design"
It would be valuable to let users know how many steps of a given task are already completed (= fully answered and not skipped). Currently this requires iterating through the `ORKTaskResult`, which is only available through the task view controller. That information should be available even if the task itself is not currently presented via the view controller.

The implementation of such a new feat

[2015-07-14 05:16] oliverschaefer commented on #322
One way would be to add a `completed` property to `ORKStep`. That property should be set through the step view controller once the associated result changes. The step view controller could ask the task view controller's delegate whether a step with a particular result should be marked as completed or not: `taskViewController:isStepCompleted:withResult:`

`ORKTask` should include something like `pr

[2015-07-14 11:50] pawisoon commented on #320
@coxy1989 cheers! you're life saver.
I added it to my code and changed it  a little bit but I still cant get output from SpatialSpanMemoryTest...
The results should be type of OKTSpatialSpanMemoryResult with identifier cognitive.memory.spatialspan
maybe there's an issue in the way I start the activity?
I got the button and on it's click i present the view controller
  var spatialSpanMemoryTask: OR

[2015-07-14 11:55] pawisoon commented on #320
@coxy1989 cheers! you're life saver.
I added it to my code and changed it a little bit but I still cant get output from SpatialSpanMemoryTest...
The results should be type of OKTSpatialSpanMemoryResult with identifier cognitive.memory.spatialspan
maybe there's an issue in the way I start the activity?
I got the button and on it's click i present the view controller

 var spatialSpanMemoryTask: ORK

[2015-07-14 11:57] pawisoon commented on #320
@coxy1989 cheers! you're life saver.
I added it to my code and changed it a little bit but I still cant get output from SpatialSpanMemoryTest...
The results should be type of OKTSpatialSpanMemoryResult with identifier cognitive.memory.spatialspan
maybe there's an issue in the way I start the activity?
I got the button and on it's click i present the view controller

[code]

[code]

Could you pleas

[2015-07-14 12:53] coxy1989 commented on #320
Hi @pawisoon,

Is this function being called? If not, make sure you have set the delegate property of the presenting ORKTaskViewController.

[2015-07-14 13:10] pawisoon commented on #320
Yes taskViewController func is being called every time some activity ends i got output  from last else statement .
I used this tutorial http://www.raywenderlich.com/104575/researchkit-tutorial-with-swift just instead of using new class for activity I put it inside my ViewController.

when I call spatialMemoryTask i set delegate property like that

[code]

[2015-07-14 13:45] coxy1989 commented on #320
Have you checked what type you are actually getting back by including:

   else if let result = result as? ORKResult {
                print("\(result.identifier), \(result.userInfo)")
            }

or alternatively by setting a break point ?

[2015-07-14 13:48] pawisoon commented on #320
I'm getting  this from first print statement
Results [<ORKStepResult: 0x7fa2f245e880>, <ORKStepResult: 0x7fa2f25ec650>, <ORKStepResult: 0x7fa2f25dd490>, <ORKStepResult: 0x7fa2f2448bd0>]
and on
else if let result = result as? ORKResult   I got this
instruction, nilinstruction1, nilcognitive.memory.spatialspan, nilconclusion, nil

[2015-07-14 14:29] coxy1989 commented on #320
Fixed:

      if let results = taskViewController.result.results as? [ORKStepResult] {
            println("Results: \(results)")
            for stepResult: ORKStepResult in results {

                for result in stepResult.results as! [ORKResult] {

                    if let questionResult = result as? ORKQuestionResult {
                        print("\(questionResult.identifier), \(question

[2015-07-14 17:48] umerkhan-apple commented on #322
@oliverschaefer From my understanding, you are trying to calculate the number of completed steps in any `ORKOrderedTask` using a `completed` property from `ORKStep`. This same result can be achieved by iterating through `ORKTaskResult` (which is the current implementation) vs iterating through all `ORKStep` (which is your suggested implementation).

Why do you recommend this implementation then? I

[2015-07-14 18:20] YuanZhu-apple commented on #310
Fixed in #315

[2015-07-14 18:20] #310 closed

[2015-07-14 18:21] #296 closed

[2015-07-14 18:32] oliverschaefer commented on #322
@umerkhan-apple Yep, you are completely right. But there are situations were you don't have the `ORKTaskResult` object to iterate through. I'm currently working on an app that features a set of survey tasks. The user selects a particular task from a table view to bring up the task view controller. I'd like to include the number of completed/total steps in each table view cell. As long as the task

[2015-07-14 19:04] chrisinsfo opened #323 "Change to logName in ORKRecorder.m removes step identifier from ORKFileResult fileURL"
Re: Commit 49e79ab9f4df264b0085515e12658c8f61a144aa in Stable branch.

Removing the step.identifier from the logName string has removed information from the ORKFileResult fileURL. This has resulted in filenames that cannot be discriminated. For example, instead of deviceMotion_fitness.walk and deviceMotion_fitness.rest as url path components in Apple Cardiology, we now have deviceMotion_deviceMoti

[2015-07-14 19:14] chrisinsfo commented on #323
Further research has yielded this earlier issue: https://github.com/ResearchKit/ResearchKit/issues/2

[2015-07-14 19:38] brucehappy commented on #228
PR updated with latest feedback.  Updated the properties to copy, added more documentation of the `accessibilityInstructions` property with example, and updated the text used for the `accessibilityInstructions` in ORKTest to be more realistic for assisting a visually-impaired user.

[2015-07-14 21:11] umerkhan-apple commented on #323
@chrisinsfo The intent of the change is to allow unique identifiers for recorders. Using the old implementation with `deviceMotion_fitness.walk`, there would be no way to identify multiple instances of a recorder of that configuration. On the other hand, with the current implementation we get `deviceMotion_uniqueRecorderIdentifer`.

![screen shot 2015-07-14 at 2 10 41 pm](https://cloud.githubuserc

[2015-07-14 21:18] chrisinsfo commented on #323
@umerkhan-apple . Sounds good, thanks.

[2015-07-14 21:30] umerkhan-apple commented on #322
@oliverschaefer It seems that the surveys in your app are only completed by one particular user and you want to track the progress of that one user. In order to achieve this, you can store the information you need to display progress when storing the results from the task. It is not recommended to add a completed property into `ORKStep` because it would limit the usability to one user per survey,

[2015-07-14 22:55] pawisoon commented on #320
@coxy1989 you re my hero! Thanks a lot!
Can you just tell me what's a difference between statement like this
[code]
 and without [ ] brackets?

[2015-07-15 07:43] coxy1989 commented on #320
Indeed

 as? [ORKStepResult] conditionally downcasts to an array of ORKStepResults.
 as? ORKStepResult  conditionally downcasts to ORKStepResult.

TaskViewController.result.results is of type [ORKStepResult] (an array). Each ORKStepResult also has an array of ORKResults. Therefore we need to iterate over the ORKStepResult array and for each entry iterate over it's child results.

[2015-07-15 17:15] oliverschaefer commented on #322
@umerkhan-apple Okay. I've changed my implementation which now keeps the task's restoration data once the user switches from task to task. The actual progress is than calculated from the `ORKTaskResult` as does the standard implementation. However i've noticed an issue when restoring `ORKTaskViewController` (that is initializing it with `initWithTask: restorationData:`). The task view controller r

[2015-07-15 19:58] umerkhan-apple commented on #322
@oliverschaefer That is not the expected behavior. However, lets start a new issue targeting this problem. If possible, include a sample project with the implementation, so the bug can be reproduced.

[2015-07-15 19:58] #322 closed

[2015-07-15 20:46] oliverschaefer opened #325 "ORKTaskViewController state restoration"
There is an issue when restoring `ORKTaskViewController` (that means initializing it with `initWithTask: restorationData:`). The task view controller restores its' state and calls `applicationFinishedRestoringState` directly thereafter. Since there is no way to set the task view controller's delegate property before state restoration finishes, no delegate calls are made. An exemplary project can b

[2015-07-15 20:47] oliverschaefer commented on #322
@umerkhan-apple opened #325 with exemplary project

[2015-07-15 22:31] umerkhan-apple commented on #325
@oliverschaefer I was able to reproduce the bug and will post a PR with the fix soon.

[2015-07-15 22:43] umerkhan-apple commented on #323
After internal discussion, it has been decided that it is not secure to include any identifiers in `logName` since it is used to generate filenames. Instead, the `recorderType` and the `recorderUUID` will be used to generate `logName`.

[2015-07-15 23:30] umerkhan-apple commented on #325
@oliverschaefer Please review https://github.com/ResearchKit/ResearchKit/pull/326

[2015-07-16 04:21] oliverschaefer commented on #325
@umerkhan-apple Yep, that solves the issue. Can be merged safely.

[2015-07-16 19:54] YuanZhu-apple commented on #325
#326 Merged.

[2015-07-16 19:54] #325 closed

[2015-07-17 08:52] directvox commented on #321
One of the use case that I have is to ask a question and add a note after the video has been recorded such as "Is this video representative?" .  The note can be a text input or voice recording. I hope this could help.  For us it a core feature.

[2015-07-17 17:27] jwe-apple commented on #319
Again, that sounds app-specific, but it's possible the actual implementation for it is in AppCore. HKCategoryTypeIdentifierSleepAnalysis is a category type in HealthKit, so the underlying data does not have units (it just has objects each with a duration, identifying whether in bed or asleep). Units like "seconds in bed" or "seconds asleep" come from user code, not from HealthKit.

[2015-07-17 17:27] #319 closed

[2015-07-17 21:23] #323 closed

[2015-07-20 18:14] YuanZhu-apple commented on #299
@stownsend Did get a chance to work on this one?

[2015-07-20 20:38] YuanZhu-apple commented on #99
@jwe-apple Can we close this issue?

[2015-07-20 21:17] #141 closed

[2015-07-20 22:26] YuanZhu-apple commented on #294
Fixed #327

[2015-07-20 22:26] #294 closed

[2015-07-21 14:53] rugheid opened #328 "Disable cancel button?"
Is there a way to disable the cancel button of a ORKTaskViewController?

[2015-07-21 16:23] YuanZhu-apple commented on #328
Yes! An example from `ORKTest` app:

[code]

[2015-07-21 16:23] #328 closed

[2015-07-21 16:24] rugheid commented on #328
Ok, thanks a lot! :smile:

[2015-07-21 20:17] YuanZhu-apple commented on #228
Resolved in #306

[2015-07-21 20:17] #228 closed

[2015-07-22 00:24] umerkhan-apple commented on #88
@KaiCode2 After internal discussion, we have come up with an API design for this feature. Below is a diagram explaining what it entails. Let me know if your design matches or is close to it.

![screen shot 2015-07-21 at 5 22 18 pm](https://cloud.githubusercontent.com/assets/13040996/8815387/394e068e-2fcd-11e5-9be9-83d74cb5c9a2.png)

[2015-07-22 05:11] KaiCode2 commented on #88
@umerkhan-apple Great! My design was quite similar but I do have a question about where TouchID will be added into the diagrams listed above?

Looking forward to working on this!

[2015-07-22 11:39] pawisoon commented on #117
Just in case somebody will face this error in Swift 1.2 / xCode 6.3+
Put this code at the end of func taskViewConroller

[code]

[2015-07-22 14:14] oliverschaefer commented on #89
@YuanZhu-apple I've looked at the implementation of `ORKConsentReviewStepViewController`. That really seems to be a better (clearer) approach compared to what I first suggested. I tried things out and realized the following: `ORKStepViewController` and its subclasses are designed to be presented inside an `ORKTaskViewController` (take the scroll view observation for instance). So why not subclassi

[2015-07-22 17:43] umerkhan-apple commented on #88
@KaiCode2 The TouchID will be presented at different times for the different views. For the `Passcode Create Step View`, it will be presented after the user has entered the passcode twice--providing an option to enable TouchID. In `Passcode Entry Modal View`, it will be presented before the passcode keyboard is displayed. In `Passcode Edit Step View`, it will be presented at the beginning and then

[2015-07-22 17:51] KaiCode2 commented on #88
@umerkhan-apple OK, sure.

I have made quite minimal progress so far since I just started work on it within the last couple days. How soon are the time constraints? If they are under a week then feel free to assign this to someone else but I should be able to make significant progress over the weekend.

[2015-07-22 20:08] umerkhan-apple commented on #88
@KaiCode2 Since you haven't already invested a lot of work into the feature yet, I think it will be best for us to go ahead and take it up. Thank you for your collaboration and involvement with RK!

[2015-07-22 20:47] KaiCode2 commented on #88
@umerkhan-apple OK, well let me know if anything changes, would love to finish what I started.

[2015-07-22 22:12] YuanZhu-apple commented on #89
Are you suggesting use `ORKTaskViewController`'s subclass as `ORKReviewStepViewController`?

[2015-07-23 01:48] KaiCode2 commented on #88
@umerkhan-apple Do you mind me asking when you would've needed this by? I could most likely finish it over the weekend and have it in for review by Monday if that would speed up 1.2 for you guys.

[2015-07-23 05:16] DanKeen commented on #88
Kai, that sounds great. Go for it!

[2015-07-23 05:20] KaiCode2 commented on #88
@DanKeen Cool, thanks :)

[2015-07-23 05:49] oliverschaefer commented on #89
Maybe a subclass is too much... We could implement an `includeReviewStep` property in `ORKTaskViewController`. If that property is `true` the view controller shows a list of its' managed steps and their current results. Once a user selects an item from that list, the view controller jumps to the corresponding step.

[2015-07-23 15:06] julientherier commented on #291
I saw the "Medication Tracking" classes in App Core.
Could be an option to import that code in ResearchKit?

[2015-07-23 16:24] rsanchezsaez opened #332 "Value picker issues in landscape mode"
***a) Value picker has wrong width after portrait to landscape rotation***

After a *portrait* to *landscape* rotation on an *iPhone 6* `ORKSurveyAnswerCellForPicker` and its picker have a shorter width (instead of taking the whole screen width).

Steps to reproduce:
1) In portrait mode, open *Value Picker Choice Question* in `ORKCatalog`.
2) Rotate device to portrait mode.
3) Observe the picker w

[2015-07-23 21:03] YuanZhu-apple commented on #89
I think this the UI flow we both agreed:
[code]

[2015-07-24 01:09] remotevision commented on #291
:+1: on collecting medication data from HealthKit

[2015-07-24 04:50] oliverschaefer commented on #89
I totally agree in terms of UI flow. But if we put responsibilities on `ORKTaskViewController` things become a lot easier:
* Stand-alone: If an app stores both tasks and their results, a new `ORKTaskViewController` can be instantiated, with a its' `defaultResultSource` set
* No need to push result changes back to `ORKTaskViewController`
* No need of separate [StepXrVC]. The task view controller si

[2015-07-24 17:51] YuanZhu-apple commented on #261
Done in #312

[2015-07-24 17:51] #261 closed

[2015-07-27 19:44] umerkhan-apple commented on #88
@KaiCode2 How is the work coming along?

[2015-07-27 22:21] YuanZhu-apple opened #334 "Header view and footer view support on ORKStepViewController"
Example usage could be to display copyright footer or institution logo.

Could expose `headerView` and `footView` on `ORKStepViewController`, similar to `customView` on `ORKActiveStepViewController`.
Then view can be attached in:
[code]

[2015-07-28 17:50] KaiCode2 commented on #88
@umerkhan-apple I worked on a fair bit of it throughout the weekend and have laid out the structure of the integration and am starting on most of the UI.

#### First, here's the details on how I was thinking it will.

1. Creating Passcode: I'm structuring the creation of the passcode (and TouchID) similar to how the signature is implemented for consent by having a ORKCreatePassCodeController which

[2015-07-28 18:02] remotevision opened #335 "ORKOrderedTask.audioTaskWithIdentifier error (Xcode 7b4, Swift2)"
This may actually be a compiler error with ```Xcode 7b4``` or ```Swift2``` but I have not been able to recreate it outside of this scenario.

When trying to create an audio task, I have tried multiple approaches which have resulted in different errors.

First, standard way of passing in ```String``` params with method signature:
[code]

Result:
[code]

Second way, declare variables for params:
[co

[2015-07-28 18:45] umerkhan-apple commented on #88
@KaiCode2 Thanks for working on this!
Let me go ahead and address everything in the same order you explained them.

**Creating Passcode:**
* Refactor ORKCreatePassCodeController --> ORKCreatePasscodeStepViewController.
* Refactor ORKPassCodeView --> ORKPasscodeStepView
* The delegate can just pass back the raw input from the passcode view. There is no need to implement the keychain storage yet. Th

[2015-07-28 19:12] oliverschaefer commented on #89
@YuanZhu-apple Did you get a chance to look at this? Would like to know your opinion before I start implementing...

[2015-07-28 21:20] remotevision commented on #335
DOH!! In Swift2 it throws a wonky error if you pass in a ```nil``` ```options``` param.

[2015-07-28 21:20] #335 closed

[2015-07-29 12:40] oliverschaefer opened #336 "Expose hasBeenPresented property of ORKStepViewController"
When `stepViewControllerWillAppear:` gets called, it would be nice to know if it is for the first time or not (maybe the view was covered by another view controller which got dismissed). Exposing the `hasBeenPresented` property of `ORKStepViewController` would be an easy solution.

[2015-07-29 18:04] YuanZhu-apple commented on #336
Good idea, as long as it is `readonly`

[2015-07-29 19:36] oliverschaefer commented on #336
@YuanZhu-apple I've created a PR for this. Please review

[2015-07-29 22:24] YuanZhu-apple commented on #89
Hey @oliverschaefer I am drafting a more detailed spec for this. Will share it with you by tomorrow.

[2015-07-30 08:03] julientherier opened #339 "Finish a step when tapping on the continueButtonItem"
When I tap on a `continueButtonItem` of an `activeStepViewController`, the `-(void)finish` method does not seem to be called.
Wondering if it would make sense to tell the controller to finish when the user go forward?

[2015-07-30 11:47] rsanchezsaez opened #340 "CustomRecorder in ORKTest not working as intended"
The `CustomRecorder` sample class used in the `ORKTest` app doesn't seem to work as intended.

Steps to reproduce:
- Run `ORKTest`'s *ActiveStep Task* and go *Step 5* (*Button Tap*).
- Tap start timer.

Actual result:
- Green area doesn't show and tappable orange button appears partially covered by navigation bar.

Expected result
- Green area should show below step header, and tappable orange but

[2015-07-30 12:28] chairman987 opened #341 "loss the BridgeSDK/BridgeSDK"
# import <BridgeSDK/BridgeSDK.h> was not found, so it was not running

[2015-07-30 16:39] YuanZhu-apple commented on #340
Yes, I think that sample is outdated. I will review them later.

[2015-07-30 16:42] rsanchezsaez commented on #340
I have a fix, I'll submit a PR.

[2015-07-30 17:27] YuanZhu-apple commented on #339
`continueButtonItem`'s default behavior is to call `goForward` which is defined in `ORKStepViewController`.

I think we can link `continueButtonItem` with `finish` in `ORKActiveStepViewController`'s implementation.

[2015-07-30 19:00] rsanchezsaez commented on #99
I believe this can be closed, all `[super updateConstraints]` calls are the last item now.

[2015-07-31 07:06] YuanZhu-apple commented on #89
@oliverschaefer  This a drafted plan, open to discussion.

-----------
### Two Scenarios
 - In survey: Display review step at the end(or in the middle) of a survey
  * Accept answer changes
  * Only works with ORKOrderedTask (changing answer could affect the questions set)

- Outside a survey: Display review step **standalone**
  * Not allow answer to be changed (Unless there is good use case)

##

[2015-07-31 19:34] #336 closed

[2015-08-03 15:49] skoth001 opened #344 "Incorporating APC Dashboard into Application"
I was wondering if anybody could help me incorporate the dashboard into my application, I am writing it in swift

[2015-08-03 16:03] rsanchezsaez commented on #231
This issue can now be closed: the referencing PR was merged.

[2015-08-03 16:07] rsanchezsaez opened #345 "Implement stacked bar graphs"
This is a follow-on issue on [pull request #178](https://github.com/ResearchKit/ResearchKit/pull/178), which adds pie charts and line graphs to *ResearchKit*.

*AppCore* had a [PR implementing stacked bar graphs](https://github.com/ResearchKit/AppCore/pull/120) submitted recently, but it cannot be trivially merged into RK because of code divergences. It'd be nice to port this change over to RK.

[2015-08-03 17:38] YuanZhu-apple commented on #231
Closing it. Thanks @rsanchezsaez !

[2015-08-03 19:33] oliverschaefer opened #346 "Custom navigationItem.title and navigationItem.titleView"
It would be nice to allow `ORKTaskViewController` to use custom navigation titles and title views provided by `ORKStepViewController`. This should only take effect when `showsProgressInNavigationBar` has been set to NO.

[2015-08-03 19:41] oliverschaefer commented on #89
@YuanZhu-apple Nice. Will look over it in detail tomorrow.

[2015-08-03 21:05] YuanZhu-apple commented on #346
`progressLabel` has been handled here:

[code]

[2015-08-03 23:47] YuanZhu-apple commented on #346
Sorry, just deleted my previous comment.
Just realized the PR is to address the stepVC's title not being picked up by taskVC.

[2015-08-04 13:14] rsanchezsaez opened #349 "Tower of Hanoi should honor tintColor"
The *Tower of Hanoi Task* should honor the `tintColor` in the same way the *Memory Game Task* does. See screenshots below.

*Note* that after tapping the disks, they get the proper `tintColor`.

---

![ios simulator screen shot 4 aug 2015 15 08 14](https://cloud.githubusercontent.com/assets/444313/9061246/cdd6d428-3aba-11e5-87a7-2e45e00df7a6.png)

---

![ios simulator screen shot 4 aug 2015 15 08

[2015-08-04 18:39] oliverschaefer commented on #89
Hey @YuanZhu-apple, I’ve extended your draft using some pseudo-code below:
<h2>Introduce</h2>
- `ORKReviewStep`
- `ORKReviewStepViewController`
- `ORKReviewStepViewControllerDelegate`
- `ORKReviewStepReviewDirection`

<h2>Change</h2>
- `ORKTaskViewController`

<h2>ORKReviewStep</h2>
<h3>properties</h3>
    NSArray *steps
    ORKTaskResultSource *resultSource
    ORKReviewStepReviewDirection *revie

[2015-08-04 21:13] YuanZhu-apple commented on #349
Fix has been merged.

[2015-08-04 21:13] #349 closed

[2015-08-04 21:35] YuanZhu-apple opened #352 "Expose `secureTextEntry` on ORKTextAnswerFormat"
And pass it to `UITextField` in surveyStep and formStep.

http://stackoverflow.com/questions/31806448/secure-text-entry-orkanswerformat-in-researchkit

[2015-08-05 00:35] umerkhan-apple commented on #88
@KaiCode2 How is the PR coming along?

[2015-08-05 00:36] YuanZhu-apple commented on #352
This code has been merged.

[2015-08-05 00:36] #352 closed

[2015-08-05 08:08] rugheid opened #354 "ORKResultPredicate for form step"
Is it possible to define navigation rules for a form step for an ORKNavigableOrderedTask? If so, how would I go about doing that?

Thanks

[2015-08-05 20:48] umerkhan-apple opened #356 "Scale slider with images"
A scale slider that display images at the start/end range of the slider instead of the minimum/maximum number.

[2015-08-05 21:21] umerkhan-apple commented on #356
https://github.com/ResearchKit/ResearchKit/pull/357

[2015-08-05 23:31] YuanZhu-apple commented on #346
Fixed.

[2015-08-05 23:31] #346 closed

[2015-08-06 00:53] YuanZhu-apple commented on #89
@oliverschaefer Do you mind to create a PR **only** include your extended draft in markdown format?
It is easier for us to share comments. Thanks!

[2015-08-06 03:02] jwe-apple commented on #354
What do you mean exactly? Do you want the form step itself to change? Or merely to change what the next step is based on the results of the form? You can definitely do the latter; I believe you can't do the former at present, though there has been some discussion about it.

[2015-08-06 03:04] jwe-apple commented on #344
Do you have a backing database, or do you just want the dashboard UI?

And - what's your intent? Are you looking to port the dashboard to Swift, extract the Objective-C implementation from APC and use it standalone within your app more or less as is, or to port it to ResearchKit (the latter two could be compatible)?

[2015-08-06 03:08] jwe-apple commented on #321
So this is media playback inline in a content area, together with effectively a single question (a la ORKQuestionStep)?

[2015-08-06 08:56] rugheid commented on #354
I want to change the next step based on the results of the form. Every result predicate needs a result identifier, so what to I need to fill in there? Once I have the result predicate I assume I do it as I would with a question step. I just create a navigation rule using one or more predicates and set it on the task.

Thanks for your help!

[2015-08-06 10:35] rsanchezsaez commented on #354
@rugheid: Yeah, result predicates do work with forms: you need to pass the `ORKFormItem`'s `identifier` as the predicate `resultIdentifier`. To exemplify this I added a *form step* to `ORKTest`'s *Navigable Ordered Task* ([PR #360](https://github.com/ResearchKit/ResearchKit/pull/360)).

---

@jwe-apple: This made me realize a potential issue. Given this result hierarchy:

    taskResult
     |

[2015-08-06 11:21] rugheid commented on #354
I would prefer making it work with possible duplicate identifiers, because I'm using duplicate identifiers in my current list. Maybe we can change the methods to use a format like "formStepResult.formQuestionResultA" as a result identifier?

[2015-08-06 12:27] rsanchezsaez commented on #332
Related to this, wouldn't it be more visually pleasing if the picker could be populated before the transition animation? And that would allow us to get rid of the temp picker).

[This comment explains](https://github.com/ResearchKit/ResearchKit/blob/318377993cbbd5c8d3736ef29622bf62f73dc465/ResearchKit/Common/ORKQuestionStepViewController.m#L313-L317) that the delay was introduced to avoid animatio

[2015-08-06 15:20] skoth001 commented on #344
So I made an application that takes advantage of research kit, but I want to incorporate the dashboard ui, to show some of the results from the surveys and tasks that I have created

[2015-08-06 18:52] kristofer opened #363 "walking the results after a TaskViewController (Swift)"
I found the swift notes on how to handle a successful survey somewhat lacking. I'm putting this here in hopes it spurs some doc on how to sort thru results in Swift.

I have a survey of questions that are all Yes/No (Bool) questions. And because you can skip a Q, you can get a "nil" as an answer.

[code]

I found I had no luck figuring out how to make a for loop iterate over the array.
[code]
(whi

[2015-08-06 19:45] kristofer opened #364 "restarting an already taken survey: ORKOrderedTask?"
There seems to be little doc related to this, but only tangentially: Once the user has taken my survey, how to re-enable the survey for them to take it again?

If it has not been taken by the user, one can take it. Once taken, it cannot be taken again.
If the user has completed it, how to reset it to be able to be taken again?

[2015-08-06 19:48] YuanZhu-apple commented on #364
@kristofer You use a same `ORKOrderedTask`, but each time you need to set up a new `ORKTaskViewController` with it. Then present the new `ORKTaskViewController` each time.

[2015-08-06 20:20] kristofer commented on #364
I am doing this in swift, and I suppose that destroying the existing taskViewController is not something I can do? I tried making it a instance var of the viewcontroller that is embedded in a nav controller, (I do all my init in that view's viewDidLoad())

when I set the instance var to nil after the dismissViewControllerAnimated() in taskViewController(taskViewController: ORKTaskViewController,

[2015-08-06 20:23] YuanZhu-apple commented on #364
No need to set your ivar to nil.
Just make your ivar = `a new TaskVC`, and then present it.

[2015-08-06 20:41] kristofer commented on #364
I see where I'm going wrong. I put all the survey setup in the viewDidLoad() of a generic viewcontroller embedded in a nav controller (which is called from my main tabview controller) and that is really only being called once by the tabview controller. I have to figure out a way to present the taskViewController from the nav controller, rather than the generic viewcontroller I have there in my sto

[2015-08-06 20:44] kristofer commented on #364
and I am getting a
[code]
as well.

[2015-08-06 23:46] YuanZhu-apple commented on #332
I can still see animation stutter on an iPhone 5 without a temp picker on iOS9 beta. Best to keep the temp picker for now.

[2015-08-07 09:36] rsanchezsaez commented on #332
Ok, that's fair.

I'll do some testing with an iPhone 5C (same specs as 5, right?) and try to figure something out to increase performance with just one picker.

[2015-08-07 10:10] rugheid opened #367 "How to add a body shader step?"
I would like to add a step for the user to shade certain spots on a human body. I already have the code for this from an application I developed earlier. I can enhance that code and make the layout a bit better. Here's a screenshot from that application:
![drawing](https://cloud.githubusercontent.com/assets/9199556/9133550/da46526c-3cfc-11e5-8443-aca58f040ce3.png)
As you can see the controls have

[2015-08-07 13:46] rugheid commented on #363
I guess `taskResult.results` array is not of type `[ORKQuestionResult]`, but of type `[ORKStepResult]`. Every `ORKStepResult` object then has multiple `ORKQuestionResult` items in its `results` array... Because both `ORKTaskResult` and `ORKStepResult` are subclasses of `ORKCollectionResult` they have a `results` property.

[2015-08-07 17:44] umerkhan-apple commented on #367
@rugheid This looks like a very interesting step to add into RK. I think it would be best to add it as an answer format.

In terms of the UI, could you explain exactly what the controls do? What is the purpose of the slider? What does the stop button do?

Also in terms of the design, you would probably want to consider how to adopt this for an iPhone screen. One approach could be to just show one

[2015-08-07 18:37] YuanZhu-apple opened #369 "Add a property to ORKStepResult which indicates which assistive technology was enabled"
If a user enabled assistive technology, he/she could take more time solving a problem (e.g. TowerOfHanoiTower).

So having that property on all step result, information of whether an assistive technology was enabled during any given step is available.

These functions can help you determine whether an assistive technology is running:

BOOL UIAccessibilityIsVoiceOverRunning()
BOOL UIAccessibilityIs

[2015-08-07 19:48] kristofer commented on #363
so, yes, this does work here....
remember, my survey is only 15 T/F questions, so I only have to walk a small tree of result objects and their trappings...each of my steps only has one question on it.

[code]

[2015-08-07 19:57] YuanZhu-apple commented on #363
@kristofer Can you look at this example?

https://github.com/ResearchKit/ResearchKit/issues/320#issuecomment-121255192

[2015-08-07 20:09] kristofer commented on #363
yes, that's handy too, it show to cast the type of the answer based on the "if let" success (which is a very cool swiftism I like a lot.

also as per my above comment on
[code]

this would do the cast I was seeking...
[code]

[2015-08-07 20:13] #363 closed

[2015-08-07 21:02] rugheid commented on #367
@umerkhan-apple The slider controlled the pencil thickness, the draw and erase buttons switched to draw or erase mode... Since it was incorporated in a vertical scroll view, the scrolling had to be disabled to draw. The stop button re-enabled the scrolling and stopped the drawing...
As I mentioned in my original text, I will improve these controls to be more intuitive.

The idea to flip the body o

[2015-08-07 21:31] YuanZhu-apple commented on #367
@rugheid For the body shape, I suggest you using Core Graphics to draw it in `drawRect:` in code.
Please refer to `ORKSpatialSpanTargetView` as an example :
https://github.com/ResearchKit/ResearchKit/blob/master/ResearchKit/ActiveTasks/ORKSpatialSpanTargetView.m

[2015-08-07 21:32] kristofer commented on #364
it might be good to have a little snippet that shows how create a taskviewcontroller in code from a navigation controller and then be able to put that wherever, like as a controller for a tabviewcontroller...

[2015-08-07 21:32] #364 closed

[2015-08-07 21:35] YuanZhu-apple commented on #364
@kristofer Did you see `ORKCatalog`?
https://github.com/ResearchKit/ResearchKit/tree/master/samples/ORKCatalog

[2015-08-07 22:46] umerkhan-apple commented on #367
@rugheid The idea behind the step is very neat, but I agree that the controls need to be more intuitive.
An alternative for pencil radius could be to keep the radius constant, but allow the user to zoom in and out on the body to be able to color more precisely.

Also is the remarks on the bottom just a textView for users to provide additional information?

[2015-08-08 11:34] rugheid commented on #367
@umerkhan-apple The remarks on the bottom have nothing to do with the body shader question. The body shader was a single question in a questionnaire. The entire questionnaire was presented as a vertical scroll view. The remarks question was the last question of that questionnaire, but you can't see the entire question on this screenshot. I'm redeveloping the questionnaire to use RK.

I don't know

[2015-08-08 17:09] directvox commented on #321
The way I see it is that we are requesting user to do video recording
in ORKMediaStep
so as the user, you can record it (or pick one already done in the photo
album).  Then after the recording is done, you can optionally play it again
and answer questions about it  Since RK have ORKQuestionStep I will be
better to just chain it with another step.

It will be interesting to have the possibility in

[2015-08-08 18:43] rugheid commented on #367
@umerkhan-apple @YuanZhu-apple I have some extra questions. I'm planning to splice the shader view into two shader views, one for every body shape. I can place them next to each other on large screens and provide a flip button on smaller screens.

I can now choose to save two images in the result, or place them next to each other in a single image. What would be best?

Do I have to save the images

[2015-08-09 15:52] oliverschaefer commented on #346
@YuanZhu-apple I've just discovered an issue associated with this PR. When you set a custom title and flip from one step view controller to another, the title will remain blank shortly. However, this can be fixed if `navigationItem.title` and `navigationItem.titleView` are set before `collectToolbarItemsFromViewController:` is called. See my exemplary code below:
[code]
Please review.

[2015-08-10 21:58] #340 closed

[2015-08-10 22:03] umerkhan-apple commented on #367
@rugheid I like your idea of utilizing the screen real estate when available. I think it would be good to have separate images. You should save the image as ORKFileResult. Look at `ORKImageCaptureStepViewController`'s implementation of `ORKStepResult`.

[2015-08-12 13:22] rugheid commented on #367
@umerkhan-apple I'm having a little issue with the body shader. I'm using `touchesMoved:` in a custom view to perform the drawing. Sometimes however, it doesn't get called. Or sometimes is stops getting called after a few strokes. The view structure is as follows:
[code]
Do I have to enable anything to always record the touches, or do I have to use a pan gesture recognizer?

A second question:
Whe

[2015-08-12 18:06] umerkhan-apple commented on #367
@rugheid I believe you should use a gesture recognizer. Take a look at the Consent Signature implementation to get a better idea of how to draw inside a scroll view.

What exactly are you saving? Is it just an image or actual data points for the shaded areas? If the user was to return to the step, would they be able to edit it?

[2015-08-14 07:43] p2 opened #374 "Alternative navigation to non-mandatory, single choice steps"
The one thing that still confuses me slightly is navigation through tasks with a **non-mandatory/non-required step that can have a single answer** (`ORKChoiceAnswerStyle.SingleChoice`). In this case, tapping an answer sets a checkbox and the “Next” button gets enabled. The ”Skip” button below is always active. You need to tap “Next” to advance.

Single choice steps that are mandatory work nicer in

[2015-08-14 12:41] rugheid commented on #367
@umerkhan-apple The Consent Signature implementation is a great learning spot! Thanks for letting me know it was there! The drawing now works very smoothly, but I'm going to update it a bit more when I've had the time to properly study the signature drawing...

I'm now saving two images as png representations, the front and back parts. I save them exactly as the user sees them. I also save the num

[2015-08-17 11:56] pawisoon opened #376 "Heart rate measurement using back camera"
Hi all!
I'm pretty sure I saw some announcements that ResearchKit will support heart rate measurement but now when I Google it again I can't see such information..

In docs there's also a clue saying(under the second sceeenshot):
"The rest step. This step is skipped if heart rate data is unavailable."

![screen shot 2015-08-17 at 12 48 26](https://cloud.githubusercontent.com/assets/6951295/9304366

[2015-08-17 13:48] p2 commented on #376
You would typically read heart rate and other health information from _HealthKit_. Whether implementing heart rate detection using camera+light or something more advanced like [Cardiio](cardiovascular disease) into ResearchKit would be desirable is a good question.

[2015-08-17 13:54] pawisoon commented on #376
I'll wait for more replies.. maybe somebody knows something about future updates on it.

My plan to do this anyway so if I will have enough time I will try to push it to ResearchKit..

[2015-08-17 17:27] YuanZhu-apple commented on #376
@p2 is correct. ResearchKit itself does not measure heart rate, it only reads heart rate from HealthKit.
@pawisoon Can you share with us what do you plan to implement?

[2015-08-17 20:07] rsanchezsaez opened #379 "Chart classes improvements"
Some possible `ORK*GraphChartView` improvements:
- ~~Add an optional delegate method to provide colors for secondary graphs on multi-plot graphs. Currently, the main plot is painted of the view's `tintColor`, and all the secondary plots are painted of the `referenceLineColor`.~~ *Implemented and merged.*
- ~~Add an optional delegate method to allow to select which graph to scrub over on multi-plot

[2015-08-17 20:07] pawisoon commented on #376
My project demands from me to implement heart rate measurement right after some activity so I got the basic idea of what I want to do.
First of all I'll try to get the camera and led(optional) working on demand and then I will focus on function for counting the bpm.
I found some useful old projects online but I'm not into Obj-C so I will rewrite it using Swift.
If someone wants to help with it or

[2015-08-18 22:12] rsanchezsaez commented on #241
This has been taken care of in the ongoing pull request.

[2015-08-18 22:12] #241 closed

[2015-08-18 22:18] rsanchezsaez commented on #290
Probably this is no longer needed due to the solution implemented by Yuan in [PR #370](https://github.com/ResearchKit/ResearchKit/pull/370).